[2016-09-21 20:28] bkerensa commented on #239
@JoaquimLey It is all yours! :) we need the sync to be able to allow other backup providers in the future but for now just Google Drive

[2016-09-21 20:32] betsythefc commented on #187
The only problem I see with this is the CSV export. We would need to surround all decimal numbers with quotes so that any spreadsheet/CSV reader will know it's not a new cell.

[2016-09-21 21:42] Aeyoun commented on #187
@betsythefc, this issue doesn’t affect how data is stored internally or exported. This is about the localization of the user interface and user provided input.

[2016-09-21 23:40] bkerensa commented on #187
@PaoloRotolo Lets try to land a fix for this and the CSV export decimal issue in our next release.

[2016-09-21 23:40] bkerensa commented on #294
@alexsimo Thanks!

[2016-09-21 23:41] bkerensa commented on #289
@edda92 Excellent thanks!

[2016-09-22 00:33] JoaquimLey commented on #239
@bkerensa Do you have gave the required permissions on the Google App/Api end?

[2016-09-22 19:24] bkerensa opened #299 "Add Launcher Shortcuts"
We should try and add launcher shortcuts for adding metrics to Glucosio:
http://www.androidpolice.com/2016/04/21/android-n-feature-spotlight-launcher-shortcuts-give-apps-many-new-ways-to-provide-information-and-quick-actions/

[2016-09-23 16:05] alexsimo opened #300 "Fixed 'Get started' button on user onboarding"
### Steps to reproduce
1. Open the application for first time
2. Onboarding / user registration screen is showed
3. You have to scroll to see the **Get started** button

### Expected behaviour
In terms of UX the button should be fixed in some kind of fixed static bar.
You shouldn't have to scroll to see the **Get started** button. In small screen devices can require some effort to figure out.

###

[2016-09-23 16:10] alexsimo opened #301 "Developers checkstyle / codestyle"
### Expected behaviour
Use a predefined checkstyle for the code. No complicated stuff, we can just stick with Square's checkstyle.

Also travis build should have a check for the codestyle.

### Actual behaviour
Variables names starting with `m` prefix, the code doesn't seems to follow any codestyle

[2016-09-23 16:13] emartynov commented on #301
I would say it is out of our radar. We use default java code style.

As for now, I don't see much value in codestyle. What do you think?

[2016-09-23 16:18] JoaquimLey commented on #301
Codestyle is actually good for readability, it helps projects to maintain some sort of standard, @alexsimo regarding the `m` prefix a lot (not Square, because Jake is [against it](http://jakewharton.com/just-say-no-to-hungarian-notation/)) is due to Android codestyle for `private` variables.

[2016-09-23 16:25] alexsimo commented on #301
@JoaquimLey yep, i know the reason for the `m` prefix. The [android codestyle](https://source.android.com/source/code-style.html) follows it, but it's for contributing to the Android project, but don't worry, i will close eyes when seeking m prefixed variables 😄

[2016-09-23 16:29] emartynov commented on #301
Questions:

1. Has our code bad readability now?
2. What kind of standard Glucosio is missing?

As for me having less massive classes and more tests have more priority than having codestyle.

[2016-09-23 16:41] alexsimo commented on #301
1. Not bad, could be better but not bad. It just misses a codestyle
2. Inner fragment classes for example

Yep, are parallel tasks, writing tests has nothing to do with having a codestyle :)

[2016-09-23 17:13] JoaquimLey commented on #301
Yes it has, but not necessarily due to codestyle (or lack of), but rather spaghettish code and lack of architecture, tightly coupled.

Besides **1.** not even `cmd + L` & `alt+cmd + O` regarding codestyle why not Google's [Code Style for Contributors](https://source.android.com/source/code-style.html)

Just like @alexsimo said, this should be done at the same time, regarding architecture it will b

[2016-09-23 20:44] alexsimo commented on #294
[Pull request] (https://github.com/Glucosio/glucosio-android/pull/302) made.

[2016-09-24 07:01] bkerensa commented on #297
@goldleon are you saying the translations french and arabic are not available for you? If that is the case we can always use l10n contributions at http://translate.glucosio.org

[2016-09-24 07:03] bkerensa commented on #219
Is this is resolved can we close this issue?

[2016-09-24 07:03] emartynov commented on #297
It looks like both languages near 100% translated. I suppose the issue that user doesn't see these languages in language selector in settings.

[2016-09-24 07:10] bkerensa commented on #301
I'm not a Java Dev but I like the practice of following a coding style as it reduces the risk of introducing bugs and makes things a bit more uniform. That said lets get feedback from @PaoloRotolo since he is our Android Product Owner.

[2016-09-24 09:10] goldleon commented on #297
Yes @emartynov exactly. th language selector in settings show always and only english

[2016-09-25 12:08] TonnesM commented on #283
Thanks for the info - this may be harder than expected. I also found this:

- http://stackoverflow.com/questions/20655186/how-to-add-a-line-break-hint-in-an-android-app-name

Suggestion: why not just add new entries for the drawer for now and allow localizers to add hyphens for those? Localizers could test to find out if an additional space (after the hyphen) is required to let the strings wrap pr

[2016-09-25 12:20] TonnesM opened #303 "Make sure all strings like "mmol/L" and "mg/dL" use localized versions globally"
Glucosio currently uses several instances of strings like "mmol/L" or "mg/dL" that may require lowercase "l" for some locales. This was reported earlier in e.g. https://crowdin.com/translate/glucosio/all/en-enus#6268 but only partly fixed, i.e. in Settings, not the overview or elsewhere.

Please make sure such instances get fixed in the entire app.

[2016-09-27 20:46] bkerensa commented on #239
@PaoloRotolo Can you mentor Joaquim on Slack on this bug

[2016-09-27 20:48] bkerensa commented on #232
@satya164 @PaoloRotolo is this addressed?

[2016-09-27 20:51] bkerensa opened #304 "Export Data to PDF"
We need to find a workaround with Realm to allow us to export data to PDF much like our export to CSV

[2016-09-27 22:00] JoaquimLey commented on #239
@bkerense I don't think (at least for the time being) I need help, the code is ready, just need you guys to enable the auth ou the GoogleApp/API end :)
But thanks!

[2016-10-01 11:41] SubhrajyotiSen commented on #280
Can I try working on this?

[2016-10-02 21:14] emartynov commented on #187
Addressed in #307. Fixed!

[2016-10-02 21:14] #187 closed

[2016-10-03 23:55] betsythefc opened #311 "Notes"
Add notes separately of adding glucose readings.

[2016-10-09 10:34] #245 closed

[2016-10-11 02:30] DravitLochan commented on #228
you need splash screen too?

[2016-10-11 15:36] danielgomezrico opened #312 "Create Hacktoberfest label and add them to issues"
Hi guys,

Will be great if this project can be part of

https://hacktoberfest.digitalocean.com/

and to make it visible it should have Hacktoberfest label for issues

[2016-10-11 15:37] emartynov commented on #312
Isn't it already: https://github.com/Glucosio/glucosio-android/issues?q=is%3Aissue+is%3Aopen+label%3AHacktoberfest

[2016-10-11 15:59] emartynov commented on #312
Closing as not relevant. Please reopen if I'm wrong.

[2016-10-11 15:59] #312 closed

[2016-10-12 18:33] danielgomezrico commented on #228
Will be cool to support fingerprint too

[2016-10-15 07:56] raacker commented on #301
In my opinion, there are several codes that didn't follow general Java coding styles like underscore in method name, Uppercase at the start of method... something like that! also you can find it in codacy

https://www.codacy.com/app/Glucosio/glucosio-android/dashboard

I think this issue should be kept with Wiki tab.

and If I may, can I solve these problems with coding conventions? If it doesn't

[2016-10-16 07:30] bkerensa commented on #280
Yes

[2016-10-16 07:31] #297 closed

[2016-10-27 16:10] vineyugave commented on #228
PR created  : https://github.com/Glucosio/glucosio-android/pull/319

[2016-10-28 10:22] emartynov opened #320 "Crash with 1.3.0"
[code]

[2016-10-28 13:51] #320 closed

[2016-10-29 19:02] Ghazghkull commented on #253
I use the Samsung S6 with the last release and still I have this problem

[2016-10-29 19:06] Ghazghkull opened #323 "CSV Export doesn't work for Samsung S6"
Debugging your code into my computer and using my device the problem is located when the app tries to read the content from the Realm proxy:

[code]

The reading.getCreated() is always null

[2016-10-29 19:56] paolorotolo commented on #253
Can you confirm it's Glucosio 1.3.0?

[2016-10-29 20:05] Ghazghkull commented on #253
I can confirm you that the version is the 1.3.0... and also that I solved it locally in a separated branch, can I push to your repository?

[2016-10-29 20:08] paolorotolo commented on #253
Awesome, we weren't able to reproduce it on our devices.
Can you open a pull request please?

[2016-10-29 20:11] Ghazghkull commented on #253
I haven't permissions to push my local branch to your repository, if you grant me, I will do :)

[2016-10-29 20:16] emartynov commented on #253
https://help.github.com/articles/creating-a-pull-request/

On Sat, 29 Oct 2016, 22:11 David Maiz, <notifications@github.com> wrote:

[2016-10-29 20:17] Ghazghkull commented on #264
I'm joined, but it is the first time I can review the project ;)

[2016-10-29 20:19] Ghazghkull commented on #253
Thanks emartynov, but I work every day with git at my job... I know how to create a pull request :)

[2016-10-29 20:33] Ghazghkull commented on #323
https://github.com/Glucosio/glucosio-android/pull/324

[2016-11-01 03:16] racell commented on #304
Can I use this library for PDF writer?

ITEXT7 : https://github.com/itext/itext7

[2016-11-01 06:54] satya164 commented on #304
It doesn't seem to even have README O.o

[2016-11-01 07:59] racell commented on #304
This page is for itext.

http://itextpdf.com/

And there are tons of 'itext' tutorials,

http://www.vogella.com/tutorials/JavaPDF/article.html

maybe we can follow these tutorials to support pdf format

Can you check any license problem??

[2016-11-02 10:34] krt16s commented on #219
1.2.1 got build, however, 1.3.0 is missing both, the actual `1.3.0-foss` tag as well as any changes to the https://github.com/Glucosio/glucosio-android/commits/foss-only branch

[2016-11-02 14:41] paolorotolo commented on #219
I'll port the changes to the Foss branch this afternoon.

[2016-11-02 21:17] paolorotolo commented on #299
Fixed in 1.3.0 and 1.3.0-foss.

[2016-11-02 21:17] #299 closed

[2016-11-02 21:18] paolorotolo commented on #219
@krt16s Here you go: https://github.com/Glucosio/glucosio-android/releases/tag/1.3.0-foss

[2016-11-05 02:06] krt16s commented on #219
Thanks. 1.3.0 has been build, so imho this can be closed.

[2016-11-05 08:32] #219 closed

[2016-11-06 21:54] g33kdad commented on #239
I would love to see webDav support. I would use my ownCloud/Nextcloud server.

[2016-11-07 08:41] raacker opened #330 "Using Espresso on Error message during editing preferences"
I was working on [HelloActivity](https://github.com/Glucosio/glucosio-android/blob/develop/app/src/main/java/org/glucosio/android/activity/HelloActivity.java#L185)

and I found that using espresso would be really great with this!
http://blog.xebia.com/android-custom-matchers-in-espresso/

How about it?

[2016-12-04 09:10] GergelySzekely opened #343 "Make it possible to edit/remove data regarding HbA1c, etc."
Please, add a way to edit/remove data regarding HbA1c Reading, Ketones, Body Weight, Blood Pressure, and Cholesterol Level.

I use Version 1.3.0-FOSS from [F-Droid](https://f-droid.org/repository/browse/?fdfilter=glucosio&fdid=org.glucosio.android) on a Samsung Galaxy Ace3 mobile running Android 4.2.2.

[2016-12-10 16:18] TonnesM commented on #283
Any news? Just add 2nd strings to include hardcoded hyphens for now?

[2017-01-25 17:07] emartynov commented on #330
Go for it! More quality tests is better!

[2017-01-25 17:08] emartynov commented on #323
Probably resolved!

[2017-01-25 17:08] #323 closed

[2017-02-08 15:44] CastleSeven commented on #107
What's the status on this feature request? Something you guys still want or has it been tabled?

[2017-02-13 11:44] eladhen commented on #253
I'm having this problem.

When I export to csv I get a bar on the screen saying "There was a problem exporting the readings. Please try again."

I'm using Glucosio 1.3.0-FOSS (Chutney)

My device is Xiaomi Redmi 3 Pro.
Running Cyanogenmod 13.0.1

[2017-02-18 22:30] TonnesM commented on #283
Again, any news? Can’t test myself using dailies either since they obviously don’t use the latest localizations.

[2017-02-22 05:32] emartynov commented on #283
@TonnesM I'm trying to apply hyphenation to specific views. Can you make a screenshot of the problem? I switched to German and added pair of readings but can not spot place which you described in original message

[2017-02-22 08:02] TonnesM commented on #283
@emartynov Glad to see your reponse. I was about to give up my contributions since the project seems to be dead and the issue was reported 6 months ago (for a daily version, hoping it would prevent the issue to appear in release version), so I was a little disappointed to say the least.

See the screenshot. I added `&#173;` for the first but to no avail. Doesn't (or rather: can) Daily use current

[2017-02-22 14:30] emartynov commented on #283
@TonnesM, what version of android do you have? I  can make quick changes for Marshmallow and up. However for older version it is not so trivial.

[2017-02-24 17:37] TonnesM commented on #283
@emartynov I use 6.0.1/Marshmallow allright, though presumably users should see this fixed for any version if possible, even if it would require 6 additional strings for localizers to include hardcoded hyphens. Assuming Android would hyphenate at that point, though if not, it can be circumvented by adding a space after the hyphen. Sidenote: sharing l10n strings isn’t often a wise thing to do, as y

[2017-02-24 22:23] emartynov commented on #283
@TonnesM, I would like to fix the issue for all users. However, that will be possible only with proper translations with special Unicode chars.

As quick development fix is to use better typography added in Marshmallow.

I can also programmatically calculate width needed for displaying text and add this symbols but it would lead to non-natural breaks.

I need help from Crowdin expert how to instru

[2017-02-24 22:55] emartynov commented on #283
Looks like no luck https://code.google.com/p/android/issues/detail?id=203895

[2017-02-28 16:03] TonnesM commented on #283
Well, looking at the link above (http://stackoverflow.com/questions/20655186/how-to-add-a-line-break-hint-in-an-android-app-name) and its referred http://stackoverflow.com/questions/13594979/zero-width-line-breaking-space-for-android as well as your recent one above, I’m afraid we’re wasting time here. There seems to be no current solution for implementing proper soft-hyphenation even in current A

[2017-03-02 18:49] trizt opened #349 "Settings/Range Min/Max value don't support mmol/L"
The range Min value and Max value has to be entered in mg/dL even if your preferred glucose unit is mmol/L.

Version 1.3.2

[2017-03-02 18:54] trizt opened #350 "FreeStyle Libre while scanning you have to choose which app to scan for"
On my phones I have both Glocosio and LibreLink installed, each time I want to scan in Glocosio I get askedchose an action Glocosio or "Scan Sensor". The selection has to be done without breaking the nfc communication, which is quite difficult.

Scanning from LibreLink do not give this option at all.

[2017-03-02 18:59] trizt opened #351 "Scanning values from FreeStyle Libre is always in mg/dL"
When you have set preferred glucose unit to mmol/L you expect that the value scanned from the FreeStyle Libre would be presented in mmol/L, but no it's presented as mg/dL and when you select save it's entered as mg/dL in the Concentration filed which supposed to be mmol/L and you can't save as the value is out of range.

[2017-03-03 00:31] bkerensa opened #352 "Update Libraries"
Many of our libraries need updating and we should update to Realm 3.0

[2017-03-03 00:32] bkerensa opened #353 "Import CSV"
Users would like to import their CSV they save back into the app

[2017-03-07 06:57] emartynov opened #354 "Suggestion: Replace fragment_add_bottom_dialog_disabled with proper states in styles"
We have duplicated resource file for two different states.

As a suggestion, I would have one layout and I would introduce disabled state for the button in the dialogue. And I would add style that will give a disabled image in this case. I would also replace `TextView+ImageView` construction to just `TextView` with compound drawable.

This will simplify future refactoring and remove couple of lint

[2017-03-22 12:44] #143 closed

[2017-03-25 18:35] TonnesM commented on #275
Looks like this has been fixed in daily as well as 1.3.2?

[2017-04-19 20:56] TonnesM commented on #283
In case it helps: I was about to report success for the `&#173;` code using the April 13th Daily build (after a new build/import showed up on Crowdin the day before) on Marshmallow that _perfectly_ shows the exact screenshot above while the Overview strings remain untouched, so that this issue could be resolved.

However, today’s build (April 19th) behaves like a regular version, i.e. offering all

[2017-04-19 21:00] emartynov commented on #283
I finished your proposal in the first week of march. Tried to play with API 23 but without luck on emulator and real device. I will finish it this weekend with hardcoded dashes.

[2017-04-24 16:08] jurrabi commented on #350
I confirm this Issue is real. It's like Glucosio is not identifying correctly the NFC Tag it wants to handle, so the general app selection pops up.

I have cloned the repository and I'm trying to educate myself in how the NFC API and protocols work.

I would comment if I can get any improvement on the current functionality.

I also have noticed that the read value doesn't correspond to the one giv

[2017-04-24 16:16] jurrabi opened #356 "FreeStyle Libre readings don't correspond with the ones provided by the Official App or Reader Device"
I manage to add a reading using a FreeStyle Libre glucose NFC sensor. (You have to open the FreeStyle activity in the app, put the phone's back close to the tag and, without moving the phone, select the Glucosio app in the app selector popup that shows when the NFC tag is read).

But the values given by Glucosio are quite different than the ones given by the official app or the libre device. It is

[2017-04-27 15:57] trizt commented on #350
@jurrabi don't worry about that the values ain't the same, I have noticed the difference between LibreLink and LibApp too. Something I did notice on the LibreLink was that curve/diagram may change at the next time you take a value, so that the previous value do not be on the line, which makes me believe it uses some recalculations based on the values and do not use the raw data.

[2017-04-27 16:11] jurrabi commented on #350
It's probably something like that. But unfortunately the app is of no use to me like that. I know it is just an experimental feature, but it is a much welcomed one ;)

I'm still investigating all the apps I find that read from Freestyle to figure out how to improve this feature for Glucosio.

Unfortunately people is not as eager to share as I would like.... I'll keep trying.

[2017-04-29 07:45] sodesignberlin commented on #39
Maybe its the wrong place for my question, but ist the input for carbs still planned? Or did I just missed something in the app?

[2017-04-30 05:54] trizt commented on #350
Sounds like the OpenAPS project, some have improved the engine without sharing it with others. I guess some people are thinking of earning a buck or two instead of thinking of the community's best.

[2017-05-03 14:36] jurrabi commented on #39
I am in the process of implementing a simple carbs/food intake add activity in my personal fork.

When I manage to get it to work I'll PR it.

[2017-05-05 15:39] bodziarr opened #358 "Test Results: GlucoseRanges & InputFilter"
Hello. My group and I choose your app to test for our project in our Software Testing/Quality Assurance class at Miami University. Included in the document attached are the tests we performed:
[FinalSubmission.pdf](https://github.com/Glucosio/glucosio-android/files/979584/FinalSubmission.pdf)
There was no option to create a test folder and include the tests, but those are included in this zip file

[2017-05-05 16:34] emartynov commented on #358
Thanks a lot! I will shortly add them to the project :)

[2017-05-28 11:46] bkerensa commented on #39
@jurrabi excellent!

[2017-06-01 09:09] bkerensa commented on #356
@paolorotolo ?

[2017-06-01 09:10] bkerensa commented on #358
@emartynov are these ready to be added?

[2017-06-01 09:10] bkerensa commented on #354
Absent any opposition from @paolorotolo I would say go ahead

[2017-06-01 09:11] bkerensa commented on #352
@paolorotolo status?

[2017-06-01 09:11] bkerensa commented on #351
@paolorotolo can we get a fix for this and push a release soon?

[2017-06-01 09:11] bkerensa commented on #349
@paolorotolo can we get a fix for this asap and release it?

[2017-06-01 11:27] paolorotolo commented on #356
I currently do not have a testing devices to adjust the algorithm. Sources of FreeStyle Libre are closed so we can't know exactly the exact value without reverse engineering.

[2017-06-01 11:28] paolorotolo commented on #354
Ok for me

[2017-06-01 11:28] paolorotolo commented on #352
Already done, I'm closing this.

[2017-06-01 11:28] paolorotolo commented on #352
See PR #355

[2017-06-01 11:28] #352 closed

[2017-06-01 11:29] paolorotolo commented on #351
On it.

[2017-06-01 11:29] paolorotolo commented on #349
Okay, I'm on it.

[2017-06-02 19:27] #349 closed

[2017-07-07 16:12] TonnesM commented on #283
Sorry to say but due lack of activity and response to easy questions more than once, I consider the project to be dead. Is this true?

[2017-07-12 21:15] aviau opened #361 "CSV export only contains BG levels"
The CSV export only contains BG levels. It should also contain all other readings.

[2017-07-12 21:29] aviau commented on #39
If this is still planned, I would very much like to review and participate to the UX/design.

I am in the market for an app to track my meals and I was considering building one myself. I could become a long-term contributor if this satisfies my needs.

I'd like the app to:
- help me count carbs by selecting foods in a list. This list does not have to be app-provided. I am fine with building my own

[2017-07-13 06:05] guss77 commented on #356
@paolorotolo  - how can we (people interested in freestyle libre support in glucosio) sponsor access to test devices for you?

[2017-08-12 05:57] #131 closed

[2017-08-12 05:58] ghost commented on #239
@paolo

[2017-08-12 05:58] #239 closed

[2017-08-13 20:57] ghost commented on #358
@emartynov , @bkerensa @paolorotolo I've already created MR with these test methods https://github.com/Glucosio/glucosio-android/pull/362.

[2017-08-13 21:10] ghost opened #363 "GlucoseRanges: Unaccessible 'blue' color value for 'ADA' preffered Range"
Hi,

I've already noticed that every value smaller than `70` would return `purple` so it won't return in any case`blue` color value for `ADA` preferred range, because conditional for this expects values lower than `70` which is as already reserved.

Here is an interesting part of code:
[code]

Check this code for `69`, `70` and `71` if that what was said is still not clear.

Cheers!

[2017-08-16 14:23] ghost commented on #283
Hi TonnesM our Android lead Dev has not been available much due to university were trying to find a new lead Dev.

[2017-08-16 14:43] emartynov commented on #283
Benjamin, I'm responsible for this issue and my fault it is not yet fixed.

[2017-08-27 20:48] ghost commented on #276
This is not going to be a priority for now

[2017-08-27 20:48] #276 closed

[2017-08-27 20:49] ghost commented on #280
@SubhrajyotiSen still interested in working on this?

[2017-08-27 20:50] ghost commented on #185
This is not a priority for now

[2017-08-27 20:50] #185 closed

[2017-08-27 20:52] ghost commented on #275
Can someone confirm fix?

[2017-08-27 20:53] ghost opened #364 "Decimal support"
A top issue for users is the lack of decimal support when entering all values we should add support sp precise values can be added.

[2017-09-03 11:58] GregoryGoodnight commented on #356
Did you already ask [Abbott](https://www.abbott.com/) for support? I will get a FreeStyle Libre next year and it would be awesome if [Glucosio](https://www.glucosio.org/) offers support for it.

[2017-09-04 12:33] #358 closed

[2017-09-08 23:20] riskysnail opened #365 "Chart x-axis displays cluttered or missing"
On the day view the axis displays full dates (YYYY-MM-DD) that do not line up with any of the data points. It should really display time (rounded to nearest hour or half hour?).

week and month views don't display anything on the x-axis at all.

![glucosio_1504912683](https://user-images.githubusercontent.com/11235843/30234390-b7359dc8-94ca-11e7-9121-c3bf25d1f093.jpg)
![glucosio_1504912703](https:

[2017-09-09 19:44] riskysnail commented on #91
This is still an issue. I was going to open a new bug ticket but instead I'll comment on this one.

The acronyms are very cryptic. At the very least, the custom range boxes should be updated with the values of the selected preset (editing should remain disabled).

I like the tooltip idea to explain the acronyms.

[2017-09-12 13:44] riskysnail commented on #365
After further inspection of the code it looks like this will be a bigger issue than just changing the x-axis string formats. All data points in the graph view are evenly spaced (regardless of actual time between points). Although this allows us to view more data points in the graph at once, it reduces the usefulness of viewing trends between them.

Furthermore, the display of readings (or events,

[2017-09-12 16:01] riskysnail opened #366 "Changing the time of a glucose reading always changes the measured tag"
When adding a new glucose reading and setting the time it updates the Measured tag automatically (based on time of day I assume). This is a great feature that decreases the time it takes to enter a reading.

If the user sets the Measured tag before the Time, the tag will get overridden when Time is adjusted again. This can be an issue when a user is adding multiple readings and doesn't input his d

[2017-09-13 22:56] riskysnail commented on #356
I second this, now that Libre is available in my country (canada) I'll also be able to help test and contribute code for the Libre reader feature.

[2017-09-15 12:50] riskysnail commented on #91
I've got the custom range box fix ready to go. I'll see if I can get a tool tip to work.

It would be cool to auto-assign a range based on the country (kind of like a localization) but keeping a database up to date would be problematic. The guidelines between countries are very similar but the ranges still vary between treatment methods. See https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3687090/

O

[2017-09-15 12:54] riskysnail commented on #289
The selected preferred range is still not displayed in the preferences. I've got a fix ready though and will request a pull soon.

[2017-09-15 12:58] riskysnail commented on #363
The hypo and hyper limits are hard coded and perhaps they should be adjusted. This ticket will relate to changes made in #91

[2017-09-17 13:38] riskysnail commented on #363
I'm going to commit a change to use 80 instead of 70 which is recommended for hypounawareness and gives us a buffer between low and hypo in our ranges.

I'm also going to do something similar with UK NICE which has a recommendation of 5-7mmol 4-7mmol when waking/before meals. I'll split the difference between 4 and 5 minimums for each so we use 4.5 instead (81 when converted to mg/dl).

[2017-09-21 19:01] riskysnail opened #368 "Repeating notes in history view"
Occasionally I add a note to a glucose reading. I noticed recently while scrolling through the history that some of my notes are displaying on other readings even though I've only entered that specific note once.

I tested this further from a dev build and by creating a reading with a note then adding older readings until I was able to see the note duplicate. It took 12 readings to see the duplica

[2017-09-21 19:23] riskysnail commented on #368
Okay, I believe I see the issue in the HistoryAdapter. The RecyclerView will reuse views as you scroll (it only keeps 10 views apparently) so what is happening is we are setting the text for the note, once that view is recycled the note is not cleared. This should be an easy fix.

[2017-09-23 13:01] riskysnail commented on #368
I've got a patch ready for this issue, just waiting for #367 to be merged and I'll do a new pull request.

@emartynov

[2017-10-09 01:17] pt2121 commented on #280
can i take a stab at this?

[2017-10-09 16:06] paolorotolo commented on #280
Sure! Feel free to assign this issue to yourself.

[2017-10-11 02:22] pt2121 commented on #280
i might be wrong but it seems you transform data before displaying it, e.g. with `glucoseToMmolL`, `convertDate`, etc. so, i don't think we can take much advantage of _MPAndroidChart-Realm_.

am i missing something?

[2017-10-21 10:53] LiliWeiSE opened #369 "Reboot the app could be delayed due to AlarmManager.set()"
Hi,

I found that AlarmManager.set() is used to reboot the app in [BackupActivity](https://github.com/Glucosio/glucosio-android/blob/2c93700e5d797734bcaf2b9d5d9a68cdb76d3d6b/app/src/main/java/org/glucosio/android/activity/BackupActivity.java#L303). For your information, after API 19, the alarm set by this API may not be delivered at the exact time and could be delayed.  [(Doc)](https://developer.a

[2017-10-28 12:46] MohammedBelkacem opened #370 "Kabyle localization"
Hello,
Glucusio kab localization is complete on crowdin. Please consider the kab locale in the next release

[2017-10-31 22:40] raacker commented on #370
Thanks. I checked it, but can we get approvals from other Kabyle natives? if not, it will be fine just using it. It's better to double check and discuss with others even though it's your mother tongue.

[2017-10-31 22:44] raacker commented on #369
Thanks for suggesting. It will be reviewed

[2017-11-15 10:15] #91 closed

[2017-11-15 10:15] #289 closed

[2017-11-15 10:15] #363 closed, assigned to nobody

[2017-11-17 23:12] sanjeevdwivedi opened #371 "We should be able to save CSV directly in google drive"
As it says, currently the CSV export only exports to the phone. It would not be too much work to export it to the google drive. You can assign the issue to me and I will try to fix this.

[2017-11-17 23:13] sanjeevdwivedi opened #372 "Backup should be automated once you have logged in"
The app should automatically backup once you have logged in on a weekly or other set frequency to avoid data loss.

[2017-11-17 23:27] sanjeevdwivedi opened #373 "Give the option to import the data from the DB once they login to google drive"
As soon as the app starts and someone logs in, it should be allowable to import the data from google drive so you can continue using it on a new phone or if you had to wipe your phone and restart. It will also allow folks to switch from iOS to android and back.

[2017-11-17 23:28] sanjeevdwivedi opened #374 "Have a simple button on the main screen that says "medicine taken""
This is a memory aid. The main screen should have a button saying "med taken" and should show timestamp on when it was taken the last time so you can be certain that you have already taken your medicine and don't OD or don't skip meds

[2017-11-17 23:32] sanjeevdwivedi opened #375 "Add a timer for blood glucose check - not a reminder"
We should be able to set a timer after a meal to check the blood glucose level after a prespecified timer has expired. Essentially, different bodies work differently and different people have different objectives. Some want to test glucose level  after 2 hours to see if it is back to normal and some want to test it when it has hit peak after eating - between 45-75 minutes after eating. This timer

[2017-11-17 23:33] sanjeevdwivedi opened #376 "Add onedrive and live login support"
This is a low priority issue but it will be great to get other options than only having google drive option. Please assign the bug to me and I will work on it.

[2017-11-17 23:38] sanjeevdwivedi commented on #373
oops. Unnecessary, closing

[2017-11-17 23:38] #373 closed, assigned to nobody

[2017-11-17 23:55] sanjeevdwivedi opened #377 "Restore from backup forces a blank backup before allowing restore for first time use"
Expected: Once you login to the google drive, the recent backups should automatically show based on the contents of the google drive. You should be able to select the correct folder and restore backup.

Observed:
- You hit backup now, it prompts you to select the user account and dialog goes away
- you click the backup folder to select your folder, but nothing happens
- You hit the backup now and

[2017-11-30 09:28] ghost commented on #374
@sanjeevdwivedi could take a step and create a new PR to prove it how it should work?
I'm afraid that your description is not clear enough :-/

[2017-11-30 20:03] sanjeevdwivedi commented on #374
@piotrek1543  I will try to get that done, although this will likely break the clean design of the app (as I am no designer)

Think of a button that you press saying "I just took the medicine". It is easy to forget whether you have taken the medicine or not and then debating whether to take it again or potentially go without having taken the medicine. The idea is simply that every time you take a

[2017-12-04 00:46] #368 closed, assigned to nobody

[2017-12-09 15:10] AndyScherzinger opened #383 "CVS Export doesn't escape commas and linebreaks"
For testing of the CVS export I added 3 readings and knowing that I'll do an CVS import afterwards I added line breaks and commas in the Notes fields of the readings which then leads to a broken CVS export since they aren't escaped to you end up with several lines with completely different content differing from the first line that defines all the included columns.

[code]

[2017-12-10 14:39] emartynov commented on #280
Yes, you're right that we do some small data migrations depends on user preference.

[2017-12-10 14:40] emartynov commented on #351
Should be closed?

[2017-12-10 14:42] emartynov commented on #303
Should be closed?

[2017-12-13 12:32] marcodings opened #385 "App crashes on android after adding datapoint through android wear watch"
When adding a datapoint through my android wear 2 watch, initially all seems to work.

I receive a notification on my phone it is added, however the glucosio app on the phone crashes and the datapoint is not added to the database

[2017-12-13 12:35] emartynov commented on #385
Marco, we haven't update watch app for quite a long time. I don't have a watch but I can probably try with the emulator.

[2017-12-19 16:56] marcodings commented on #385
Thanks for the response, I don't think its the watch as much as the android app in "processing" the notification.
In other words i see the notification about the measurement along with all general notifications. Its when i open the app it crashes and the measurement is not added.

[2017-12-24 20:11] emartynov opened #386 "Extract all string values to constants"
There are many strings in the code that should be constants:

- percents
- mmol/mol
- pounds
- kilograms
- percentage
- mmol/L

[2017-12-25 20:56] emartynov opened #387 "Rename tests for HelloActivityTest in BDD style"
It is currently looks like:

`check_005_IfCanUseGenderSpinnerToSelectMyGender`

But should be like:

`givenHelloActivityViews_whenCheckShare_thenVerifyPerfomScrollTo`

[2017-12-25 20:59] emartynov opened #388 "Clean up gradle files"
Proposal:

1. extract versions to ext properties
2. update dependencies to latest
3. fix all warning/suggestions from IDE

[2017-12-26 09:45] emartynov commented on #364
Addressed by #384

[2017-12-26 09:45] #364 closed, assigned to emartynov

[2017-12-26 16:21] dmvstar opened #389 "Error saving and display result"
System config in mmol/L.
Adding and saving result, for example - **11,8**, after saving result on list is **118** !
![screenshot_2017-12-26-09-29-12-066_org glucosio android daily](https://user-images.githubusercontent.com/800300/34360417-57530efa-ea69-11e7-9816-41ba496e737c.png)
![screenshot_2017-12-26-09-29-22-679_org glucosio android daily](https://user-images.githubusercontent.com/800300/34360

[2017-12-28 12:05] AndyScherzinger commented on #388
In my opinion the way it should be handled. 👍

[2017-12-28 12:08] AndyScherzinger commented on #389
@emartynov could this be related/fixed by your decimal support changes?
Imho this is a locale depending issue since US uses "," for the 1K delimiter while most european countries use "." so you end up with
```(US) 1,000.00 == 1.000,00 (DE)```
for example, thus parsing user inputs would have to respect locales. :/

[2017-12-28 12:19] emartynov commented on #389
As I saw this issue I've tested it. And it worked fine for me. So most probably mu decimal support changes will also fix this issue. However, I never was sharp in the remembering decimal separator. So, my proposal would be to make it locale-independent.

[2017-12-28 12:47] AndyScherzinger commented on #389
As in always use a dot for decimals or separate it into 2 fields on the UI level?

[2017-12-28 12:49] dmvstar commented on #389
When I change liocale to English - work fine,
but when I restore to my locale then - wrong.
![screenshot_2017-12-28-14-40-07-571_com android settings](https://user-images.githubusercontent.com/800300/34411243-3b31ead6-ebde-11e7-820f-a93d882740ea.png)
![screenshot_2017-12-28-14-41-50-479_org glucosio android daily](https://user-images.githubusercontent.com/800300/34411244-3b760b94-ebde-11e7-8b93-a6

[2017-12-28 12:53] emartynov commented on #389
I propose no matter dot or coma used always treat it as the separator

[2017-12-28 12:54] emartynov commented on #389
@dmvstar Interesting notice - you have Polish locale but Ukraine region! (I'm from Ukraine)

[2017-12-28 13:30] dmvstar commented on #389
@emartynov - yes I am from Ukraine but testing Polish translation and locale.
If I select Russian locale, I have same problem )

[2017-12-28 13:33] emartynov opened #390 "Make decimal input independent from the device locale"
Proposal - No mater user uses `,` or `.` as decimal separator just treat it as valid input.

Currently, the input value is checked with `Number` parsing and produces issues like #389.

[2018-01-14 07:51] emartynov opened #392 "Use Support navigation drawer instead of third party"
I've removed date/time pickers and FAB. But removing drawer requires a bit more time.

[2018-01-14 15:41] chrispecoraro opened #394 "Add user height (in centimeters, or feet/inches) to initial onboarding screen (for BMI calculation)"
I'll attempt to do as much of this as I can, I just wanted approval.

[2018-01-14 19:19] paolorotolo commented on #392
Drawer library isn't deprecated and is well supported. We can keep it IMHO.

[2018-01-14 19:50] AndyScherzinger commented on #392
Both variants seem fine to me. I did the support lib drawer implementation for Nextcloud so that is doable while the lib offers a lot of on top functionality. So both have their upsides.

[2018-01-14 19:56] emartynov commented on #392
Up to you. As for me, less third-party dependencies is better.

[2018-01-14 20:03] AndyScherzinger commented on #392
I’d leave the decision to @paolorotolo

[2018-01-14 20:35] emartynov commented on #392
I've asked Mike about it https://github.com/mikepenz/MaterialDrawer/pull/2171

[2018-01-14 20:49] paolorotolo commented on #392
Yes, I like the idea to reduce the amount of third-party libraries in the app but I also don't want to reinvent the wheel.
I've seen Mike answer and **for now** our implementation of the drawer is pretty standard and could be replaced by the Support Library without issues.

On another side, we might need to introduce login very soon (to enable @chrispecoraro's API) and add Account support to the d

[2018-01-14 20:55] emartynov commented on #392
I'm not sure about login for the user. It doesn't give much additional functionality and only will be added by developers to achieve unique ID for uploaded data. That might be resolved by just GUID generation.

Unless we have something on the roadmap that will also use login.

[2018-01-14 20:59] piotrek1543 commented on #392
Login? I feel that someone here has a vision of a user that wants to create an account and keep his/her data on (remote) server and he wants to then use A/B tests and analytics to get to know how user uses the app - in one word - Firebase Services :-)

[2018-01-14 21:11] paolorotolo commented on #392
No, as @emartynov said we only need login to get an ID for our API.
@bkerensa can say more about our vision, one of the key principles of our project is to keep users in complete control of their data, for this I wouldn't consider for now the option to upload data to third-party servers.

Unless, if we really want to explore the possibility of sync between devices, we can add login to a personal N

[2018-01-14 21:23] paolorotolo commented on #394
Green light for me 👌

[2018-01-17 17:29] #369 closed, assigned to paolorotolo

[2018-01-21 17:33] emartynov opened #398 "Nothing happens when user allows write storage permission on the first CSV export"
Export presenter ignores export if there is no permission. It should resume export when the user grants permission.

[2018-01-30 07:45] paolorotolo commented on #398
I'm on it.

[2018-02-04 15:45] #398 closed, assigned to paolorotolo

[2018-02-04 17:52] ArunSelvam11 commented on #330
i have given a pull request for this issue, please review it.
https://github.com/Glucosio/glucosio-android/pull/402

[2018-02-18 17:06] #388 closed, assigned to nobody

[2018-03-21 17:09] jay2013 opened #403 "Incompatible SDK API use which may cause crash to your APP"
Hi Glucosio-android Developers,
I develop a tool to detect incompatible SDK API use in android application. Today I use my tool to check Glucosio-android downloaded from F-Droid. My tool report many bugs. Although I believe most of them are real bugs, I cannot be 100% sure because I am not very familiar with Android developing. So
please help to check it, it must be very helpful to your APP.

The

[2018-03-21 17:30] emartynov commented on #403
Hey Donejie,

Thank you for the effort and sharing!
Do you have an explanation how to read the report?
F-Droid is super old version as well.

Kind Regards,
Eugen

[2018-03-21 18:13] jay2013 commented on #403
Hi Eugen,
I will explain the bug format by using the following example,
"BUG: <android.widget.ImageButton: void setOutlineProvider(android.view.ViewOutlineProvider)> called in <com.github.clans.fab.FloatingActionButton: android.graphics.drawable.Drawable l()><-1, -1>  not in [16, 17, 18, 19]
reachable path:
	--><com.github.clans.fab.FloatingActionButton: android.graphics.drawable.Drawable l()>
	--

[2018-04-16 09:37] paolorotolo opened #404 "Add notice about Analytics data"
From Google's documentation:

[2018-04-23 20:49] chwalters opened #407 "Weight entry broken after unit change"
I installed the app, added a weight.  Realized I wanted to switch units from kg to pounds.  So I deleted the first body weight reading.  Then, I went back to settings and changed units to pounds.  Then went back and added another reading and the value shows as some weird number after I entered it.  Probably the kg value but with pounds label and lots of decimal places.  Anyway, weight entry seems

[2018-04-25 19:50] chwalters opened #409 "Wrong units when graphing body weight readings"
On the overview screen, select body weight.  If user settings are for imperial units (lbs) - this is ignored on the chart and values are shown in metric (kg).  To reproduce, add body weight readings in imperial units (lbs) and then try to chart them.  Desire behaviour is to show the chart using the settings chosen by the user.

[2018-05-06 17:36] #404 closed, assigned to nobody

[2018-05-06 17:36] paolorotolo commented on #404
Fix merged in ```develop```, thanks @chwalters!

[2018-06-02 18:48] ghost commented on #388
@emartynov this issue has `TODO` status in project. I think that this is already fixed. To check: https://github.com/Glucosio/glucosio-android/pull/411

[2018-06-02 19:13] ghost commented on #390
@emartynov is already it fixed? I think about forcing programmatically `Locale` to `Locale.English` where problem occurs (as you may remember, I had similar one during implementing tests).

[2018-06-02 19:27] ghost commented on #392
@emartynov  @paolorotolo guys, could you update [projects](https://github.com/Glucosio/glucosio-android/projects) kanban? It looks old and has some issues are closed.

[2018-06-03 06:09] emartynov commented on #390
It is not fixed

[2018-06-06 11:37] ghost opened #412 "Replace Support in App"
Any references in app to emailing for support should be replaced with link to Glucosio Discourse

[2018-06-07 11:02] chrispecoraro commented on #412
We can't easily change the translated versions, though.

[2018-06-11 11:44] chrispecoraro commented on #412
https://github.com/Glucosio/glucosio-android/pull/413

[2018-06-25 04:04] ghost opened #416 "Google Drive Backup Function Crashes"
Exception java.lang.RuntimeException: Can't toast on a thread that has not called Looper.prepare()
android.widget.Toast$TN.<init> (Toast.java:390)
android.widget.Toast.<init> (Toast.java:114)
android.widget.Toast.makeText (Toast.java:277)
android.widget.Toast.makeText (Toast.java:267)
android.widget.Toast.makeText (Toast.java:304)
org.glucosio.android.activity.BackupActivity.n ()
org.glucosio.andr

[2018-06-25 04:05] ghost commented on #416
Possibly same issue:
 Exception java.lang.RuntimeException: Can't create handler inside thread that has not called Looper.prepare()
android.os.Handler.<init> (Handler.java:200)
android.os.Handler.<init> (Handler.java:114)
android.widget.Toast$TN.<init> (Toast.java:639)
android.widget.Toast.<init> (Toast.java:131)
android.widget.Toast.makeText (Toast.java:434)
android.widget.Toast.makeText (Toast.j

[2018-06-25 04:05] ghost commented on #416
Exception java.lang.NullPointerException: uriString
android.net.Uri$StringUri.<init> (Uri.java:477)
android.net.Uri$StringUri.<init> (Uri.java)
android.net.Uri.parse (Uri.java:439)
org.glucosio.android.activity.BackupActivity$8.a ()
org.glucosio.android.activity.BackupActivity$8.a ()
com.google.android.gms.common.api.internal.BasePendingResult$a.handleMessage ()
android.os.Handler.dispatchMessage

[2018-06-25 04:07] ghost opened #417 "Crash MotionEvent.java"
Exception java.lang.IllegalArgumentException: pointerIndex out of range
android.view.MotionEvent.nativeGetAxisValue (MotionEvent.java)
android.view.MotionEvent.getX (MotionEvent.java:2381)
android.support.v4.view.ViewPager.onInterceptTouchEvent ()
android.view.ViewGroup.dispatchTouchEvent (ViewGroup.java:2402)
android.view.ViewGroup.dispatchTransformedTouchEvent (ViewGroup.java:2865)
android.view.

[2018-06-25 04:09] ghost opened #418 "Upgrade Firebase Analytics to Crashalytics"
https://firebase.google.com/docs/crashlytics/get-started?authuser=0

[2018-06-25 04:11] #412 closed, assigned to nobody

[2018-06-25 04:12] ghost opened #419 "Replace Send Feedback Email to Discourse Link"
http://community.glucosio.org/c/feedback/glucosio-for-android-feedback

[2018-06-28 09:32] aimohaggag opened #420 "Arabic Version"
Hi ,

Any Idea where to find that , or how to apply trastiol files to the bulit it self , am not developer but I am engineer " can do any thing " I have the souce code run it with android studio with many errors related to trasnlation and griddle vesion , beginner needs support to support diabetics in the middle east by non profit entity

[2018-06-28 09:54] chwalters commented on #420
Hello, the Arabic translations can be found here:

https://crowdin.com/project/glucosio/ar#

Perhaps you can contribute to the translation effort there?

[2018-06-28 10:01] chwalters commented on #420
I apologize I see that you have tried to contribute already on Crowdin, I think we have a problem with integration with Crowdin, I will investigate

[2018-07-02 04:58] ghost commented on #420
The issue appears to be the way the folder structure was initially setup it basically is not supported fore direct Github integration via Crowdin. @paolorotolo had made a workaround using Glucat which would import translated strings into Github but this stopped work a long time ago and absent a fix from Paolo idk a good path forward.

[2018-07-07 04:50] ngengesenior opened #421 "Developer docs link"
Link to developer manuals ,https://docs.glucosio.org/ not working

[2018-07-07 10:33] chwalters commented on #421
I don't think we have any developer docs at the moment

[2018-07-13 11:45] ghost commented on #219
Just an update here since we have lost our full time Android lead @paolorotolo who can only contribute occasionally we are not able to update the foss only branch anymore as we do not have the resources to do this.

Right now the f-droid version is outdated from upstream but if someone from f-droid would like to continue to build off upstream and make necessary changes downstream that works for us

[2018-07-13 11:47] ghost commented on #416
It doesn't look like any work has occurred on this that said @paolorotolo has agreed to look at it this weekend. It looks like the Google Drive code will need to be replaced as Google deprecated it. Why did it break? Because we updated to newer API level which deprecates it but older API level did not.

I'd love for us to have the discussion of adding login and letting users sync their data to a s

[2018-07-17 09:31] chwalters commented on #407
Believe fixed in 1.5

[2018-07-17 09:31] #407 closed, assigned to nobody

[2018-07-19 07:28] chwalters opened #423 "When using ',' as decimal separator readings are corrupted"
When using phone locale such that ',' (comma) is the decimal separator (such as Nederland/Dutch), the app won't allow users to enter valid data, e.g., 12.8 becomes 128 when saved, but 12,8 isn't accepted as a valid input.  Reported by http://community.glucosio.org/t/cant-use-decimals-for-mmol-l-level/164/4 I was able to duplicate in Android simulator

Steps to Reproduce

Go to 'Settings->System->L

[2018-07-23 08:22] chwalters opened #425 "History list doesn't refresh when new data added"
When viewing the history list for HbA1c, adding a new entry with the calculator works but the new reading isn't shown in the history list unless the user navigates away and comes back.  The new reading should show up in the history list after it is added.

[2018-07-23 13:13] chwalters opened #428 "On overview chart, low and high range lines have the wrong color when using custom range"
As reported by JS in Slack:

"I found a ‘bug’ in the displaying of the ‘low’ and ‘high’ range lines in the graph. In my Android app the ‘high’ line has the ‘low’ colour and vice versa."

I duplicated this problem when using a custom range and mmol units

[2018-07-23 18:35] chwalters opened #430 "Spinner alignment"
On overview screen the drop down menu isn't  aligned the same as the drop down on History screen

[2019-03-18 23:53] bkmgit commented on #353
Working on this!

[2019-03-19 10:44] chwalters commented on #353
Hi, thanks for that - but we're over on Gitlab now.  We really need some help with Android so looking forward to your contributions

[2019-04-13 15:19] paul156y commented on #430
@chwalters what device was this occurring on. It looks to me the padding from the left side of the screen to the drop down Text (i.e Day) is equal padding to the history (Blood Glucose Level). also, the padding after text to drop down arrow looks aesthetically correct, as well as the right edge of the drop down box to the arrow. What specifically did you think wasn't aligned correctly?

[2019-05-06 16:25] phowland156 commented on #430
@chwalters  What specifically isn't aligned, could you provide a possible screen shot of the design issue?

[2020-08-30 06:22] ufarooq opened #431 "user inputs are lost on screen rotation"
version: 1.4.0
Open the app, fill user information such as language, gender and age and restart the activity by rotating, user inputs are lost.

[2021-07-26 07:29] mshafeeqkn commented on #431
Which is your device model? For Redmi note 7 pro, it's working fine