[2015-06-24 08:12] bkerensa opened #1 "Android Mockups"
We need mockups for our initial design based on the specifications distributed to the team.

[2015-08-05 15:38] bkerensa opened #3 "Application Settings"
For our initial release we will want users to be able to:
Set Demographics (Age, Gender, Language, Country, City)
Set Measurements mmol/L or mg/dl
Opt-In to Academic Research (Although backend wont be live till future version)
Input Category Customization (Measure before bed, after meal, fasting etc)
Notification Settings (Hourly, Daily or other interval reminders to input Glucose)

[2015-08-05 15:44] bkerensa opened #4 "Graphs"
We will want a dedicated graph view/activity powered perhaps by https://github.com/PhilJay/MPAndroidChart or another library that @PaoloRotolo finds suitable.

Additionally we may want to consider having the main view or main activity be a sort of dashboard that shows some smaller graphs and data see the blow example:
![mainpage](https://cloud.githubusercontent.com/assets/859175/9090272/22dcc160-3

[2015-08-05 15:46] bkerensa opened #5 "Input View"
an area dedicated to inputting glucose levels including level and picking a category such as fasting input, after meal, feeling sick, or a specific meal time.

See example of other apps input view
![input](https://cloud.githubusercontent.com/assets/859175/9090309/581172c2-3b4e-11e5-9533-f9fd85e101a1.png)
![unnamed2](https://cloud.githubusercontent.com/assets/859175/9090318/62d69e8a-3b4e-11e5-900d-

[2015-08-05 15:47] bkerensa opened #6 "About View"
About (view) to list licensing information of the app and of open source libraries used and with a short paragraph about the project and current version of the app being ran. We could also have a link to our website, github etc here.

[2015-08-05 15:50] bkerensa opened #7 "Tips View"
Tips (view) to provide general diabetes tips to help users make choices that improve their outcomes.

@PaoloRotolo When you get to working on this lets discuss how this will work early on and I can help source a collection of tips that we can include. And later on perhaps we can make it more expansive.

I think we want to be sensitive about some users being in low bandwidth countries so we should

[2015-08-05 16:02] bkerensa opened #8 "Database Design"
We will need a SQLite DB and also to ensure that Android M native app backup occurs between flashes and when users change hardware see: https://developer.android.com/preview/backup/index.html)

Edit this to add any remaining DB work this will track it for Noce!

[2015-08-05 16:05] bkerensa opened #9 "Additional Settings & Backend Work"
Settings (view) add backup options, implement code (backend) for occasional sync of glucose data to server or managed cloud provider for users who opt-in to academic research, add signup for newsletter

[2015-08-05 16:06] bkerensa opened #10 "Backend support for backup added"
We need to create a backend framework or library (this might be better so other projects can use it) that will power our backups and can connect to a few providers such as Box, Dropbox, Google Drive, etc.

[2015-08-05 16:07] bkerensa opened #11 "Add FAQ View & Bug Reporter"
FAQ (view) added and implement bug reporter library.

[2015-08-05 16:08] bkerensa opened #12 "Translations"
At this point we should ensure the strings.xml is up to date with all strings in latest release and should begin translation.

[2015-08-08 20:39] satya164 commented on #1
![glucosio-start](https://cloud.githubusercontent.com/assets/1174278/9152178/978a46f0-3e3b-11e5-9597-ff574cc661d9.png)
![glucosio-blankslate](https://cloud.githubusercontent.com/assets/1174278/9152179/9a7ebeea-3e3b-11e5-9513-4d531579eca2.png)
![glucosio-add](https://cloud.githubusercontent.com/assets/1174278/9152180/a0aa366e-3e3b-11e5-8ed3-e3c61f1c2a0b.png)
![glucosio-overview](https://cloud.githu

[2015-08-10 10:02] PaoloRotolo opened #13 "Hello View"
Add Hello View to ask more information about user on first start.

![0-glucosio-start](https://cloud.githubusercontent.com/assets/1174278/9290516/3e05cacc-43b4-11e5-9c65-3adf695ad096.png)

[2015-08-11 06:51] bkerensa commented on #13
@PaoloRotolo On this we are going to delay right so I can provide additional fields and @satya164 can provide an updated mockup?

[2015-08-11 06:52] bkerensa commented on #13
If so I can have fields copy by tomorrow afternoon PST

[2015-08-13 11:13] PaoloRotolo commented on #13
Right, we need **Name, Country, Age, Gender, Height, Weight, Ethnicity, Email**.
And eventually a button with **data policy** under "share data for research".

[2015-08-15 19:31] satya164 commented on #13
Do we need **Country**, **Ethnicity**, **Email** in the first start screen? They are not necessary to get started with the app, and not necessary to use the app either.

We can have a tip asking for these info and explaining why, as @PaoloRotolo suggested, at a later time when using the user is actively using the app.

About **Weight**, it's a variable. It will change from time to time, and it's i

[2015-08-19 08:58] PaoloRotolo commented on #13
@satya164 can we add Diabetes type (1 - 2) at least?

[2015-08-19 11:07] PaoloRotolo commented on #1
![photo_2015-08-15_09-57-43](https://cloud.githubusercontent.com/assets/5623301/9354737/48185054-4673-11e5-9fb6-2bab563e1dc6.jpg)

[2015-08-19 11:32] bkerensa commented on #7
Lets plan on documenting the text for tips at http://wiki.glucosio.org/Tips/Iteration1

[2015-08-19 11:33] bkerensa commented on #6
@satya164 @PaoloRotolo do we have a mockup for this view yet?

[2015-08-19 12:20] PaoloRotolo commented on #6
Nope. @satya164 ?

[2015-08-19 13:47] satya164 commented on #6
I'll mock something up

[2015-08-20 12:29] satya164 commented on #7
How do I login there @bkerensa ?

[2015-08-20 13:15] PaoloRotolo commented on #7
@satya164: http://wiki.glucosio.org/index.php?title=Special:UserLogin&returnto=Main+Page&type=signup

[2015-08-23 09:05] satya164 commented on #13
![0-glucosio-start](https://cloud.githubusercontent.com/assets/1174278/9427602/2314dea6-49a4-11e5-8f88-3d39b6340279.png)

[2015-08-23 09:06] satya164 commented on #13
![0-glucosio-start](https://cloud.githubusercontent.com/assets/1174278/9427608/53f533d6-49a4-11e5-9581-a598d204a33b.png)

[2015-08-23 09:30] satya164 commented on #7
Ignore the text

![5-glucosio-tips](https://cloud.githubusercontent.com/assets/1174278/9427682/9e3d37f6-49a7-11e5-9375-bb6d8026c6a0.png)

[2015-08-23 09:31] satya164 commented on #7
Ignore the text.

![5-glucosio-tips](https://cloud.githubusercontent.com/assets/1174278/9427690/d81109da-49a7-11e5-8754-a947423f78e2.png)

[2015-08-23 09:40] satya164 commented on #6
I looked at few apps, and they all put the about info in preferences. May be we can do the same.

[2015-08-23 10:01] bkerensa commented on #6
Can you show an example?

[2015-08-23 10:03] bkerensa commented on #13
@satya164 @PaoloRotolo just above opt in can we put a check mark and link to our terms of use?

[2015-08-23 10:03] bkerensa commented on #13
Specifically the medical disclaimer that covers us legally

[2015-08-23 10:05] satya164 commented on #6
![screenshot_2015-08-23-15-37-12](https://cloud.githubusercontent.com/assets/1174278/9427793/8e382546-49ac-11e5-8e09-1f4acdadef81.png)

[2015-08-23 10:05] bkerensa commented on #11
We do not need a FAQ in app we can link to this on about page

@PaoloRotolo Android has its own bug crash tool right? Should that be sufficient since we will have faq linked from about which will also tell how to report issues on GH?

[2015-08-23 10:06] bkerensa commented on #5
@PaoloRotolo do we have an updated mockup for this view?

[2015-08-23 10:06] satya164 commented on #13
@bkerensa There is a question mark icon

[2015-08-23 10:07] bkerensa commented on #4
@PaoloRotolo Any graph <3 to share yet?

[2015-08-23 10:07] bkerensa commented on #3
@satya164 ping

[2015-08-23 10:07] bkerensa commented on #1
If these are all finals? let me know I am going to move some of this to wiki

[2015-08-23 10:08] satya164 commented on #5
![2-glucosio-add](https://cloud.githubusercontent.com/assets/1174278/9427799/086438fa-49ad-11e5-9a45-bfafe343270a.png)

[2015-08-23 10:10] satya164 commented on #11
Crash reports appear on the Google Play Store console. We could integrate something to send us emails on crashes.

Also @PaoloRotolo has written a lib to send bug reports to GitHub.

[2015-08-23 10:11] satya164 commented on #3
@bkerensa on it.

[2015-08-23 10:13] satya164 commented on #1
![0-glucosio-start 2x](https://cloud.githubusercontent.com/assets/1174278/9427814/997ec5c6-49ad-11e5-9cdd-11014b8e700e.png)
![1-glucosio-blankslate 2x](https://cloud.githubusercontent.com/assets/1174278/9427815/9984898e-49ad-11e5-8b9a-f665ef1fc126.png)
![2-glucosio-add 2x](https://cloud.githubusercontent.com/assets/1174278/9427816/998977aa-49ad-11e5-96eb-82bd70d2e06f.png)
![3-glucosio-overview 2x]

[2015-08-23 10:15] bkerensa commented on #11
Ah lets have that lib that reports directly to GH that would be nice either this release or in a future one

[2015-08-23 10:16] bkerensa opened #15 "Add Feedback and Bug Reporting"
Add Gitty Reporter

[2015-08-23 10:17] bkerensa commented on #13
@satya164 No I am saying can we add another check box to confirm user has read terms of use in regards to the whole app. It would be a slightly longer version of this http://www.glucosio.org/disclaimer/

[2015-08-23 10:18] bkerensa commented on #6
That works

[2015-08-23 10:18] bkerensa commented on #3
:fist:

[2015-08-23 10:18] bkerensa commented on #7
Good work :fist:

[2015-08-23 17:50] PaoloRotolo commented on #4
@bkerensa yes, well, almost ready
![screenshot from 2015-08-23 19-44-21](https://cloud.githubusercontent.com/assets/5623301/9429436/14e06fea-49d0-11e5-929f-0f948af187ff.png)
![screenshot from 2015-08-23 19-44-11](https://cloud.githubusercontent.com/assets/5623301/9429437/14e293c4-49d0-11e5-8efe-7c87f2618d27.png)

 :D

[2015-08-23 19:30] satya164 commented on #13
Hmm. Will figure out how to put that then.

[2015-08-29 20:06] bkerensa opened #16 "History View"
Readings History Activity:
* Show Reading Entries
* Allow Editing & Deletion of Entries

[2015-08-29 20:20] bkerensa opened #17 "App Intro"

[2015-08-30 21:00] PaoloRotolo commented on #13
@satya164 any update?

[2015-08-30 22:12] satya164 commented on #13
Most probably it'll be the next screen after this, in which there will be a short summary for the license with option to read the full license. Will work with @priynag to settle on it

[2015-09-01 18:35] satya164 opened #19 "Design inconsistencies and bugs in current APK"
- [x] Spacing should be even on all 4 sides, there is too less space at top and way too much at bottom
- [x] The buttons don't behave like buttons, basically they don't have any padding around them and hence the touch effect isn't visible at all
- [x] Also, dialog shouldn't be full width
- [x] In the dialog, I'm entering details at night, and it still says "Before breakfast" under "Measured"
- [x]

[2015-09-01 19:38] PaoloRotolo commented on #19
- The number below it should indicate how much does it fluctuate from average:
Me and @bkerensa decided to remove the number because it's difficult to say what's the perfect average of glucose for each person.

- Currently tips don't have a title [...]
@bkerensa do we need titles? If yes, can you update the wiki page?
http://wiki.glucosio.org/Planning/tips_activity

Also graph design is something

[2015-09-01 20:01] satya164 commented on #19
Hmm... I meant, average as in the average readings of that person. Not best readings.

Can we have bigger fonts and remove the date from every item in x-axis? It's redundant and take lots of space. But let's see what's possible.

[2015-09-01 20:09] bkerensa commented on #19
Could we have a colored blood drop thats either Green Yellow or Red as they enter the the reading? It can use the target range they set during Hello to gauge whether they are in a healthy range in the middle or bad.

[2015-09-02 20:13] PaoloRotolo commented on #19
@satya164 what about colored blood drop in history? (↑)

[2015-09-02 20:20] bkerensa commented on #19
No titles needed

[2015-09-02 20:20] PaoloRotolo commented on #17
@bkerensa We need text and images for the slides.

[2015-09-02 20:47] bkerensa commented on #17
Can you provide me slides so I can narrate properly

[2015-09-03 15:32] satya164 commented on #19
@bkerensa titles help look at the tips at a glance. Also, say we have some tips which are too long, the description can be cut off and user will need to go to full view to read it (I'll mock it up).

Also, aesthetically, plain paragraphs of text don't look very pleasing without any headings and not glancable.

I had this in mind

* title -> do something
* summary -> why to do it and how
* action -

[2015-09-03 15:35] satya164 commented on #19
@paolorotolo the color of the value already indicates that.

And about using a drop, it won't look like a blood drop anymore as color will change (more like a drop of medicine). But lemme check if it looks good or like too noisy (lots of pointed ends)

[2015-09-03 21:53] bkerensa opened #23 "Make sure UI scales"
We need to make sure our UI will scale to translated words as they may be larger than the UI is currently intended for instance overview translated to spanish is longer and so its tips.

Note from Mozilla's l10n lead staff:
Since they're translating strings out of context, they'll need to be able to test them within a build to ensure that the meaning is accurately represented in the translation, t

[2015-09-03 21:54] bkerensa opened #24 "Translation Test Builds"
We will need to get a final build to our translators before we release so they can test their translations in the UI and make sure the context works.

Note from Mozilla's l10n lead staff:
Since they're translating strings out of context, they'll need to be able to test them within a build to ensure that the meaning is accurately represented in the translation, that the app is properly internationa

[2015-09-03 21:55] bkerensa commented on #24
I will coordinate this with Arturo

[2015-09-04 15:33] PaoloRotolo commented on #19
"Switching tabs seems to be unreliable" was a bug in Google's library. Fixed it updating to Android Design Library 23.0.1 (commit 1c10b8f23d636e0140a51c91649d34170fa6c0fd).

[2015-09-05 06:51] PaoloRotolo commented on #24
All translations are now working. Just change your system language to see the changes :)

To convert translations exported from the website to Android format use:
``` rename s/'^'/'values-'/ * && find . -type d -name Android -exec bash -c 'cd {} && mv *xml ../' \;```

[2015-09-06 10:02] PaoloRotolo commented on #5
Input view is working great right now. I think we can close.

[2015-09-06 11:03] bkerensa commented on #19
@paolorotolo how are we on this list?

[2015-09-06 11:04] bkerensa commented on #13
Any update on this one?

[2015-09-06 14:54] satya164 commented on #13
Working with @priynag on this
On Sep 6, 2015 16:34, "Benjamin Kerensa" <notifications@github.com> wrote:

[2015-09-06 15:58] PaoloRotolo commented on #16
Done.

[2015-09-06 15:58] #16 closed

[2015-09-08 09:22] bkerensa commented on #23
@PaoloRotolo Reminder: String Freeze is six days from today please wrap up open issues for this release.

[2015-09-08 09:22] bkerensa commented on #19
@PaoloRotolo @satya164  Reminder: String Freeze is six days from today please wrap up open issues for this release.

[2015-09-08 09:22] bkerensa commented on #17
@PaoloRotolo ?

[2015-09-08 09:23] bkerensa commented on #13
@PaoloRotolo @satya164 Reminder: String Freeze is six days from today please wrap up open issues for this release.

[2015-09-08 09:23] bkerensa commented on #1
@PaoloRotolo anything left here?

[2015-09-08 09:24] bkerensa commented on #7
@PaoloRotolo Are we making changes here? If so will we be able to do it by the string freeze on the 14th?

[2015-09-08 09:24] bkerensa commented on #6
@PaoloRotolo @satya164 Reminder: String Freeze is six days from today please wrap up open issues for this release.

[2015-09-08 09:24] bkerensa commented on #4
@PaoloRotolo Are we done with all graph work for this release?

[2015-09-08 09:25] bkerensa commented on #3
@PaoloRotolo @satya164 Looks like this is our biggest final blocker for this release lets try and close this if we can by friday?

[2015-09-08 09:44] PaoloRotolo commented on #4
Yes, the graph is up and working. We can close.

[2015-09-08 09:44] #4 closed

[2015-09-08 09:46] bkerensa commented on #24
We will get final builds out on the 15th for testers to QA all translations

[2015-09-08 09:46] PaoloRotolo commented on #7
@bkerensa We need to decide another name for Tips: "Assistant" or "Notifications"?. Then create some specific tabs that requires user interaction like "Insert your height"...

[2015-09-08 09:47] PaoloRotolo commented on #1
We still need mockups for Settings. There's another issue opened though.

[2015-09-08 10:13] #12 closed

[2015-09-08 10:15] bkerensa commented on #7
@PaoloRotolo Assistant will work. Do you need a new mockup from @satya164 for this?

[2015-09-08 10:16] bkerensa commented on #1
I will close this then and we can track in the settings issue and the tips issue I think thats the remaining issues.

[2015-09-08 10:16] #1 closed

[2015-09-08 10:17] PaoloRotolo commented on #7
Hmm, I think I can make something even without mockup.
I need some actions we want to add: "Add weight, height" and?

[2015-09-08 10:22] bkerensa commented on #8
@ahhmarr We are aiming for wrap up by the 14th so this bug is tracking final DB changes.

@PaoloRotolo feel free to update this with any remaining DB work you need for us to ship.

[2015-09-08 10:24] bkerensa commented on #7
@PaoloRotolo Lets do:

Add weight
Add height
Select target range (remember ADA, AACE, UK Nice etc)
Opt-in to help research

Can we have also have a action to add blood glucose twice daily? And maybe make it trigger a notification? Is this too much work to be done by string freeze if so we can push that off.

[2015-09-08 10:26] PaoloRotolo commented on #7
Isn't Opt-in in HelloActivity?

[2015-09-08 10:30] bkerensa commented on #7
It is but its optional so we can use Assistant to have a dismissible action as kind of a second chance to offer them to opt-in but ofc they can do this in settings too. I have asked Priyanka to share ideas for more actions and will get Elio too.

[2015-09-08 10:38] elioqoshi commented on #7
Shouldn't it be opt-in on default and opt-out available in settings?

[2015-09-08 10:46] bkerensa commented on #7
@elioqoshi Well the checkbox is by default checked but they can uncheck it in hello but the assistant might make an extra case for filling it in.

[2015-09-08 10:51] PaoloRotolo commented on #8
Things left to do are here: http://wiki.glucosio.org/Planning/database_model

[2015-09-10 05:25] bkerensa opened #25 "Ensure Database Scales to Long Term Needs"
In discussion with Paolo and Christopher it seems obvious that the database will need some changes to ensure it can scale to the kind of data we will be handling long term.

Lets identify with Christopher what changes he thinks are best and either he or @ahhmarr can implement them.

Paolo I will assign this to you can we get Christopher's email on Telegram and I can invite him so we can maybe assi

[2015-09-10 05:26] bkerensa opened #26 "Implement Model View Presenter (MVP) Best Practices"
Paolo,

Lets try and implement MVP https://github.com/konmik/konmik.github.io/wiki/Introduction-to-Model-View-Presenter-on-Android

[2015-09-10 05:27] bkerensa opened #27 "Add DEBUG build variant to Gradle"
https://developer.android.com/tools/building/configuring-gradle.html

[2015-09-10 05:28] bkerensa opened #28 "Investigate Implementation of Dagger"
http://square.github.io/dagger/
https://github.com/square/dagger/tree/master/examples/android-simple

[2015-09-10 05:29] bkerensa opened #29 "Add Code Coverage Tests to Travis CI"

[2015-09-10 05:31] bkerensa opened #30 "Optimize Project Design"
Jacob Park Remark:

I find the object oriented design of the project a bit weird. For example, in https://github.com/Glucosio/android/blob/master/app/src/main/java/org/glucosio/android/fragment/OverviewFragment.java why interact with the business domain object through parallel lists? Why not maintain one list of an object of those properties?

[2015-09-10 05:32] bkerensa opened #31 "Optimize DatabaseHandler.java"
Feedback from Jacob Park:
I recommend someone to clean https://github.com/Glucosio/android/blob/master/app/src/main/java/org/glucosio/android/db/DatabaseHandler.java, Cursors are a resource which must be closed after use. Furthermore, utilizing raw SQL and indices within inline code is not the best practice.

[2015-09-10 09:37] satya164 commented on #27
I think debug variant doesn't need to be added separately to gradle. It can be built by default.

[2015-09-10 18:51] #26 closed

[2015-09-10 18:52] PaoloRotolo commented on #26
Finished in just 5 hours. DAT sprint :D

[2015-09-10 20:46] satya164 commented on #13
![0 0-glucosio-start](https://cloud.githubusercontent.com/assets/1174278/9800528/0d1d5282-582b-11e5-871e-06cb6a7bc599.png)
![0 1-glucosio-disclaimer](https://cloud.githubusercontent.com/assets/1174278/9800529/0d22a124-582b-11e5-9874-eccf1500c3cd.png)

[2015-09-10 21:09] satya164 commented on #3
We don't have mauch settings right now, so we can just use a basic preferences view. We can add more categories as the number of items grow.

Things we need in settings,

1. Language
2. Age
3. Gender
4. Height
5. Weight
6. Diabetes type
7. Preferred unit
8. Version
9. Terms of usage
10. Feedback
11. Open Source Licenses
12. ???

![7-glucosio-preferences](https://cloud.githubusercontent.com/assets/

[2015-09-10 21:11] satya164 commented on #17
We don't need a separate app into view, we already have a hello view (2 pages), we can just add one more page. No need to make the first start longer than it needs to be.

[2015-09-10 23:01] bkerensa commented on #13
Bravo

[2015-09-10 23:14] bkerensa commented on #13
@satya164 that works perfect the 1 hello view followed up by the terms of use view

[2015-09-11 03:58] bkerensa commented on #13
@PaoloRotolo  I think this is over to you now?

[2015-09-11 17:30] chrispecoraro opened #33 ""Get Started" button on Welcome screen is not viewable."
On my device, Samsung Galaxy S5, "Get Starting" is not viewable without scrolling.

[2015-09-12 09:05] bkerensa commented on #33
We need to try and figure this out I will test on Nexus 5 later today when my fiancee gets home
lets also get some others with other devices to test and make sure were not missing something.

[2015-09-12 09:09] bkerensa opened #35 "Add notes (string) in glucose_readings Table;"

[2015-09-12 09:09] bkerensa opened #36 "Add diabetes_type (integer) and preferred_unit to USER Table;"

[2015-09-12 09:10] bkerensa opened #37 "Add research_pref (integer) for tracking Hello Activity opt-in"

[2015-09-12 09:23] satya164 commented on #33
Another issue is, the absence of scrollbars in scrollviews.

[2015-09-12 09:24] bkerensa opened #38 "Add HbA1c Entry"
We need to add support to accept HbA1c readings to the DB and in the add recording UI

[2015-09-12 09:25] bkerensa opened #39 "Add Carb and or Meal Tracking"
We should allow users to track carbohydrate or meal intake and will need to add support to the DB and UI for this

[2015-09-12 09:26] bkerensa opened #40 "Add Weight Tracking"
We should add the ability to record weight and track weight in DB and UI

[2015-09-12 09:27] bkerensa opened #41 "Add BP Tracking"
We should add blood pressure tracking to DB and UI

[2015-09-12 09:29] bkerensa opened #42 "Add Google Fit Integration"
We should add Google Fit integration and sync the following data in to Glucosio from Google Fit:
- Weight
- Activity
- Others ???

We should export to Google Fit:
- Any data Google Fit supports taking

We will need to update Terms of Use and add a privacy policy to cover this data sharing if users opt-in to Google Fit connection.

[2015-09-12 09:30] bkerensa opened #43 "Add Google Drive Backup"
We should add Google Drive Backups to Settings so users can configure Glucosio to keep a backup of their data on Google Drive. We should integrate this so that backup syncing is automatic but also that there is a manual import feature to recover backups.

[2015-09-12 09:34] bkerensa opened #44 "Add Custom Category Support"
Add Customer Category Creation in settings so custom categories are then choosable when doing entries.

[2015-09-12 09:38] bkerensa commented on #44
The resulting categories will show in Input View so reopening that issue.

[2015-09-12 09:39] bkerensa commented on #5
See issue #44 we need to clear that bug out and then ensure Input View supports those changes

[2015-09-12 09:48] bkerensa commented on #33
Should we need scrollbars in Hello? ideally it should be viewable without any scrolling?

[2015-09-12 10:30] bkerensa opened #45 "Add Glucosio icon above tabs"
We should consider having the glucosio icon in the top lefthand side of the app above tabs

https://github.com/Glucosio/brand-assets/blob/master/logos/png/PNG-07.png

[2015-09-12 10:30] bkerensa commented on #45
@elioqoshi eh?

[2015-09-12 11:16] bkerensa commented on #19
@PaoloRotolo How is progress on these remaining bits?

[2015-09-12 11:16] bkerensa commented on #33
@PaoloRotolo Have we done everything on this checklist? http://developer.android.com/training/multiscreen/screensizes.html

[2015-09-12 12:54] satya164 commented on #33
@bkerensa Yeah, but we need scrollbars in very small screens. For example, my phone screen isn't that small, so we can tweak the showing etc so that it doesn't need scrollbars. But we can't do anything for very small screens.

[2015-09-12 13:00] bkerensa commented on #33
@satya164 I see ok well lets have @PaoloRotolo look into adding that and see if we can determine why @chrispecoraro's isnt showing right since he has a decent sized screen.

Also have we any covered for tablet? Do we know how it displays?

[2015-09-12 13:02] bkerensa opened #46 "Add Graph Selector"
We should have a way in Overview to display a daily/weekly/monthly graph and easily switch between them.

[2015-09-12 13:04] bkerensa opened #47 "Make overview trend over day, week, month, year"
The trend over last month text we should maybe consider making "month" a selector and let users tap it and select day, week, month or year and have it display different averages with a tap.

Lets get @chrispecoraro feedback on this

[2015-09-13 04:40] bkerensa opened #48 "Add submit feedback"
We want early feedback from users we should have a submit feedback option in settings. Can you add this to settings mockup.

[2015-09-13 08:33] satya164 commented on #45
What problem does this solve? The user already clicked on the app icon to go into the app, and he/she will always know how our logo looks like. We don't need to constantly remind it to the user.

To add, the guidelines doing recommend it either. It's just an unnecessary element serving no purpose.

[2015-09-13 09:07] PaoloRotolo commented on #48
I think this is a duplicate of #15. We can use Gitty Reporter for both issues and feedback.

[2015-09-13 12:07] bkerensa commented on #17
Ok closing this then

[2015-09-13 12:07] #17 closed

[2015-09-13 12:10] #48 closed

[2015-09-13 12:11] bkerensa commented on #15
@PaoloRotolo Should we still leave this for Imli or try and rush this into Noce?

[2015-09-13 12:27] chrispecoraro opened #49 "Need to add more types like "general," and "recheck", and "night"."
In addition to before breakfast, etc, there needs to be additional categories.

[2015-09-13 13:35] chrispecoraro opened #51 "Store age as Date of Birth, not integer to represent years old"

[2015-09-13 19:37] #15 closed

[2015-09-14 01:41] bkerensa opened #52 "Investigate adding Balance Rewards Support"
Once we start integrating third-party services and have support for recording weight, activity, bp etc we should investigate adding Balance Rewards Support.

https://developer.walgreens.com/api/balance-rewards/apimethod/balance-rewards-api

Since this wont be till way down the line I wont target this for now

[2015-09-15 00:17] bkerensa commented on #23
@PaoloRotolo have you tested on tablet at all?

[2015-09-15 17:28] PaoloRotolo commented on #13
Yes, I'm pushing the new view.

[2015-09-15 18:36] elioqoshi commented on #13
Great, thanks guys for this!

[2015-09-15 21:57] #35 closed

[2015-09-15 21:58] #36 closed

[2015-09-15 21:58] #37 closed

[2015-09-16 04:46] bkerensa commented on #51
@chrispecoraro I will assign you this and making it a blocker for Noce

[2015-09-16 13:42] PaoloRotolo commented on #45
Ok, I'm going to close this. Google Design guidelines doesn't recommend to add an icon above tabs.

[2015-09-16 13:45] PaoloRotolo commented on #6
@satya164 @elioqoshi @bkerensa Can we close? It seems we're adding info in settings.

[2015-09-16 13:45] PaoloRotolo commented on #25
@ahhmarr, @chrispecoraro, can you work on this?

[2015-09-16 13:47] PaoloRotolo commented on #8
Ahmar just pushed the updates.

[2015-09-16 13:47] #8 closed

[2015-09-16 14:00] PaoloRotolo opened #53 "Make reading_type a String"
We convert reading_type from int to String to make sure user can add custom categories (issue #44).
@ahhmarr can you take care of this please?

[2015-09-16 19:23] PaoloRotolo opened #54 "Make preferred_language a String"
Please convert preferred_language from int to string in Database.

[2015-09-16 19:55] ahhmarr commented on #54
@PaoloRotolo it already is String

[2015-09-16 19:56] PaoloRotolo commented on #54
@ahhmarr oh, so there's a typo in http://wiki.glucosio.org/Planning/database_model

[2015-09-16 19:58] ahhmarr commented on #54
updated the wiki

[2015-09-16 19:58] #54 closed

[2015-09-16 20:12] elioqoshi commented on #45
I'd be up to put the Wordmark instead of the Glucosio text which is written in the native Android font

[2015-09-16 20:14] #6 closed

[2015-09-16 20:24] bkerensa commented on #45
@PaoloRotolo Can you make this so? :)

[2015-09-16 20:28] PaoloRotolo commented on #45
Sounds good. I'm on it :)

[2015-09-17 07:03] bkerensa opened #55 "Add ORM"
Since we will be optimizing and changing the database in the future undoubtedly we will need a ORM to help us ensure the future DB changes are not putting existing local db on handsets at risk of loss of glucosio data.

If we proceed without a ORM we will be digging a hole in terms of more work and problems

http://guides.codepath.com/android/Persisting-Data-to-the-Device#object-relational-mappers

[2015-09-17 07:05] bkerensa commented on #25
Lets use this as a meta tracker for optimizations specifically one thing we need to address in Noce is adding a ORM see issue #55 if we do not it will cause future issues. ORMlite seems to be one option but there may be better options too.

[2015-09-17 19:55] PaoloRotolo commented on #45
Before and after.

![screenshot from 2015-09-17 21-54-13](https://cloud.githubusercontent.com/assets/5623301/9944321/c2c43910-5d86-11e5-933a-a5f3e0569bea.png)

![screenshot from 2015-09-17 21-54-46](https://cloud.githubusercontent.com/assets/5623301/9944320/c2c4257e-5d86-11e5-905e-9498d7b2f079.png)

[2015-09-17 19:56] #45 closed

[2015-09-17 20:22] elioqoshi commented on #45
@PaoloRotolo Perfect! Thank you!

[2015-09-18 06:38] bkerensa commented on #3
@satya164  Yes we should also have a date and time setting so people can have locale based data and time picker versus defaulting to European. There should be a checker in Hello that checks this value on first open but also users should be able to change the setting under settings too in case something happens wrong.

[2015-09-18 11:56] bkerensa commented on #53
@ahhmarr Do you have time for this one?

[2015-09-18 11:57] bkerensa commented on #51
Closing this since #44 and #53 address this

[2015-09-18 11:57] #51 closed

[2015-09-18 11:57] bkerensa commented on #47
@PaoloRotolo is this one still on your radar? Will we have time for this in Noce or should we bump it?

[2015-09-18 11:58] bkerensa commented on #46
Closing this since its duplicate of #47 which is better defined

[2015-09-18 11:58] #46 closed

[2015-09-18 11:58] bkerensa commented on #28
Bumping this to Noce

[2015-09-18 11:59] bkerensa commented on #27
Closing this

[2015-09-18 11:59] #27 closed

[2015-09-18 12:13] bkerensa opened #56 "Glucose Warnings on Input"
11.1 mmol/l (200 mg/dl) is hyperglycemia while symptoms may not show till 15–20 mmol/l (~250–300 mg/dl) we should warn the user in the input dialog when they enter a glucose level that enters this range and say something like "The value you have entered is within the hyperglycemia range, consider consulting a medical professional." but still record the value.

Below 3.9 mmol/L (70 mg/dL) is diagno

[2015-09-18 12:13] bkerensa commented on #56
We will need some UI work on this for next release

[2015-09-18 14:22] PaoloRotolo commented on #56
We can just show a Toast for Noce.

[2015-09-18 17:22] elioqoshi opened #57 "Glucat Mascot"
I worked a bit on the Glucat mascot today on my own. I'm pretty satisfied honestly. What do you think?
![glucat-01](https://cloud.githubusercontent.com/assets/5436686/9965743/a680fda8-5e38-11e5-82dc-617e86565022.jpg)
![glucat-02](https://cloud.githubusercontent.com/assets/5436686/9965744/a681afd2-5e38-11e5-99f4-628e89b9b8c3.jpg)

[2015-09-18 17:23] elioqoshi commented on #57
![facebook banner pink-01](https://cloud.githubusercontent.com/assets/5436686/9966037/a2413f9e-5e3a-11e5-8cfc-8a35de96195e.jpg)
![facebook banner white-01](https://cloud.githubusercontent.com/assets/5436686/9966038/a242682e-5e3a-11e5-8a14-d01e4e33f95d.jpg)

Facebook Banners!

I think we have wrapped this up. Comments?

[2015-09-18 23:39] bkerensa commented on #57
Looks great

[2015-09-19 15:59] PaoloRotolo commented on #3
@bkerensa @satya164 do we really need Language and Date format?
We can just take the value from local Android preferences. Not doing that means override a lot of code to ignore system's language...

[2015-09-19 16:02] bkerensa commented on #3
Fine let's detect the language from locale but can we do that with country? This also means we will have to change Hello.

And what do we do for l10n then? Like if a language is unavailable can it default to English of we don't have 100% translated?

[2015-09-19 16:03] PaoloRotolo commented on #3
In HelloActivity I think we should ask for Country, not Language.

[2015-09-19 17:25] #53 closed

[2015-09-23 20:12] PaoloRotolo commented on #49
Custom categories have been implemented in latest build.

[2015-09-23 20:55] PaoloRotolo commented on #44
Done.

[2015-09-23 20:55] #44 closed

[2015-09-23 20:56] #49 closed

[2015-09-23 21:23] bkerensa commented on #44
Uh oh @PaoloRotolo is on a roll :)

[2015-09-24 15:35] bkerensa opened #59 "Settings lacks back / return"
Settings lacks anyway to go back to main activity

[2015-09-24 15:36] bkerensa opened #60 "Version in settings is input field"
The version in settings is input field

[2015-09-24 17:49] #59 closed

[2015-09-24 17:53] #60 closed

[2015-09-24 18:29] bkerensa opened #61 "Terms of use in settings is input field"
Title self explanatory

[2015-09-24 18:31] bkerensa commented on #61
![samsung google nexus 10 p8110 1](https://cloud.githubusercontent.com/assets/859175/10082685/ce2e67fc-62af-11e5-9650-c7d3be529e1e.png)

[2015-09-24 18:35] bkerensa opened #62 "java.lang.IllegalStateException: ActionBarContextView can only be used with android:layout_width="match_parent" (or fill_parent)"
Using testobject to spam the UI I was able to crash Glucosio with the following exception:
13:32:37 E AndroidRuntime : FATAL EXCEPTION: main
13:32:37 E AndroidRuntime : Process: org.glucosio.android, PID: 27326
13:32:37 E AndroidRuntime : java.lang.IllegalStateException: ActionBarContextView can only be used with android:layout_width="match_parent" (or fill_parent)
13:32:37 E AndroidRuntime : at c

[2015-09-24 18:52] bkerensa opened #63 "Add Input Calendar Range Limit"
Input currently allows input of readings for future dates that have not occurred we should limit to current and past dates only.

Also at least in the emulator it seems difficult to pick a past date?

[2015-09-24 18:52] bkerensa commented on #63
![asus google nexus 7](https://cloud.githubusercontent.com/assets/859175/10083311/c8d9b61e-62b2-11e5-9fb8-a42a36a1fd9d.png)

[2015-09-24 18:59] bkerensa opened #64 "SQLiteConnectionPool : A SQLiteConnection object for database '/data/data/org.glucosio.android/databases/glucosio_db' was leaked!"
2015-09-24 13:54:49.743	WARN:	SQLiteConnectionPool : A SQLiteConnection object for database '/data/data/org.glucosio.android/databases/glucosio_db' was leaked!  Please fix your application to end transactions in progress properly and to close the database when it is no longer needed.

[2015-09-24 19:03] bkerensa commented on #64
I think we already expected this because of the needed database optimizations from what I can see thought this is not a sec bug because nothing is exposed in the logs in terms of the database additionally the database doesn't contain anything sensitive.

Either way we need to investigate this and fix before release I will update logs from the test suite.

[2015-09-24 19:07] bkerensa commented on #64
Probably worth reading this http://stackoverflow.com/questions/25307868/a-sqliteconnection-object-for-database-was-leaked-please-fix-your-application

I think these specific error is the cursors that had previously been pointed out

[2015-09-24 19:07] bkerensa commented on #64
@ahhmarr Can you look into this too?

[2015-09-24 19:52] #63 closed

[2015-09-24 20:11] #61 closed

[2015-09-25 18:22] #64 closed

[2015-09-25 18:23] #31 closed

[2015-09-25 18:23] #30 closed

[2015-09-26 16:28] #62 closed

[2015-09-26 16:28] PaoloRotolo commented on #62
It should work fine.

[2015-09-26 16:43] PaoloRotolo commented on #5
Closing again.

[2015-09-26 16:43] #5 closed

[2015-09-26 16:44] PaoloRotolo commented on #23
Yes, UI scales correctly on tablets too.

[2015-09-26 16:44] #23 closed

[2015-09-26 17:03] bkerensa commented on #5
@PaoloRotolo have you finished all input view work for noce?

[2015-09-26 17:03] PaoloRotolo commented on #5
yes, custom categories are working.

[2015-09-26 17:15] bkerensa opened #65 "Date & Time should displayed in local format"
Date & Time should displayed in local format in the UI but also the date and time input picker should also show those formats.

http://developer.android.com/reference/java/text/SimpleDateFormat.html
http://developer.android.com/reference/java/text/DateFormat.html
http://stackoverflow.com/questions/31692111/date-and-time-format-in-android

[2015-09-26 17:45] PaoloRotolo commented on #3
Settings are working in latest commit. Closing.

[2015-09-26 21:18] bkerensa opened #66 "Hello Displays Gender Three Times"
![screenshot_20150926-140624](https://cloud.githubusercontent.com/assets/859175/10119902/6f9df968-6459-11e5-99f6-c3ee131b7bb7.png)

This must be new I did not see this before

[2015-09-26 21:44] bkerensa opened #67 "Terms of Use."
In Hello we should remove the period behind Terms of Use and maybe consider a Glucosio pink line underneath it.

Lets have @elioqoshi give some design feedback one last time and look at the app for any slight styling advice he might have.

[2015-09-26 22:01] satya164 opened #68 "Inconsistent fonts across the Application"
The app has inconsistent fonts. At some places it has Roboto, at some places it has Lato.

Check my comment here https://github.com/facebook/react-native/issues/1167#issuecomment-141730183 on how you set a font for the whole application. It will work for everything and you don't have to extend the textview.

[2015-09-26 22:03] satya164 commented on #67
Underlines signify text inputs, and it'll make it look bad if we add any kind of underline.

[2015-09-26 22:11] satya164 commented on #13
We should work on making the hello view fit within the screen. At least medium size 5" screens. Reducing the spacing between the elements will help a lot. The app has too much spacing compared the mockup.

[2015-09-26 22:17] satya164 commented on #67
@satya164

[2015-09-26 22:19] satya164 commented on #67
The page has too much spacing and the actual scrollable area is almost half of the entire screen. We should make the scrollable area bigger and make it respond to screen size.

[2015-09-26 22:26] satya164 opened #69 "Empty states look ugly"
When there is no data, the message which appears on the page is ugly.

The font is too big (try 16sp).

The line height is too big. Every multiline text in the app should have 1.5 line height.

The message isn't aligned to center. Looks like the first line is aligned to center. Hence the whole message looks off center since it's 2 lines on a mobile screen.

It needs to be visually centered too, so

[2015-09-26 22:40] satya164 commented on #3
In the settings dialogs, the radio button which represents the current value should be checked. Currently nothing is checked.

Things which are very large, like Terms of usage, should open in a new page rather than a dialog.

The country selection should be a page, and should have search. Check `System Settings > Language & input > Language` to have an idea about the design.

[2015-09-26 23:19] satya164 opened #70 "Make Gitty Layout Match Glucosio"
Gitty looks alien compared to rest of the app.

It should have a actionbar with back button.

I should be able to edit the device info that's being sent.

Password field in GH login is in monospace font (?)

Also, instead of entering username and password, can we use oAuth?

Also, I couldn't report any bugs. I tried both logging in and checking I don't have any account.

[2015-09-26 23:19] satya164 commented on #70
Also, it wastes a lot of space.

[2015-09-27 06:16] bkerensa commented on #70
Yeah it would be nice if we could have Gitty use oauth and maybe use Glucat to file the bug
having people create a GH account could be a barrier.

[2015-09-27 08:21] #66 closed

[2015-09-27 09:06] PaoloRotolo commented on #67
It should be fine now.

![screenshot_2015-09-27-11-04-24](https://cloud.githubusercontent.com/assets/5623301/10121994/97a8d618-6507-11e5-94a9-95a392d54daf.png)

![screenshot_2015-09-27-11-04-13]

![screenshot_2015-09-27-11-02-58](https://cloud.githubusercontent.com/assets/5623301/10122001/d30413d0-6507-11e5-86c4-34d4a9fe43ec.png)
(https://cloud.githubusercontent.com/assets/5623301/10121995/97b25e5

[2015-09-27 10:23] PaoloRotolo commented on #69
![screenshot_2015-09-27-12-22-54](https://cloud.githubusercontent.com/assets/5623301/10122245/8d9862b4-6512-11e5-975a-75337c358eed.png)

@satya164 what do you think?

[2015-09-27 10:26] PaoloRotolo commented on #68
We're using [Calligraphy](https://github.com/chrisjenx/Calligraphy) to manage fonts in the App. I'll check what happened.

@satya164 Can you tell me exactly where the font look's like Roboto?

[2015-09-27 12:04] satya164 commented on #68
Hello view, terms of use, tabs, settings etc.

[2015-09-27 13:32] PaoloRotolo commented on #68
Fixed in latest daily. Can you confirm?

[2015-09-27 19:16] PaoloRotolo commented on #3
@satya164 I've fixed the first bug in latest commit.
About country selection, user will not change his country a lot of times. Also because HelloView automatically selects user country based on Locale. I guess we can implement a customized view later (0.9.0 or 0.8.1).

[2015-09-27 19:31] bkerensa commented on #3
FYI for me its not auto selecting country it picks Afghanistan by default.

[2015-09-27 19:33] PaoloRotolo commented on #3
Try to install daily again. I fixed that in latest commit.

[2015-09-27 19:38] satya164 commented on #68
Tabs are still Roboto.

[2015-09-27 19:40] satya164 commented on #69
Need to increase the line height.

[2015-09-27 19:42] satya164 commented on #67
Also, momentum scroll is not working in the terms of use scroll view.

[2015-09-27 19:43] PaoloRotolo commented on #67
What's momentum scroll?

[2015-09-27 19:47] bkerensa commented on #65
Not fixed

[2015-09-27 19:48] satya164 commented on #3
@paolorotolo I still think we should change it. In projects small things like this get postponed, and they are never done, coz there are always new things to do. So I would say, don't compromise on design just because it's not frequently used. Yes, it's not frequently used, but when it is, it's a real pain to use it.

[2015-09-27 19:52] satya164 commented on #3
Also, there is a green button (?) in the country selection dialog.

[2015-09-27 19:53] satya164 commented on #3
Also, the new terms of use page, it should be just like any other page, actionbar with back button with the title, and the content should be a scrollview with the license. The OK button doesn't have any meaning and is unnecessary.

Also, content is cut off at bottom, and no momentum scroll.

[2015-09-27 19:59] satya164 commented on #69
Also, there should be a curved line pointing towards the FAB

https://github.com/Glucosio/android/issues/1#issuecomment-129043214

[2015-09-27 20:03] PaoloRotolo commented on #3
Ok, @satya164 can you give me a .svg file of the curved line?

[2015-09-27 20:05] satya164 commented on #65
In the history view, the date shows as

Sep 28, 2015 01:25:00

Which looks really ugly. It should be displayed as,

Monday, September 28, 2015

(This just adds the day name, changes month to full, and removes time)

And the above should be a group header. The history cards should be grouped by day, and the time should be on the card.

In the time, we should drop the seconds. Nobody cares about sec

[2015-09-27 20:06] satya164 commented on #3
I'm on mobile now. Will give you tomorrow. Or may be ask @elio if he can do a fancy arrow.

[2015-09-27 20:07] satya164 commented on #65
https://github.com/Glucosio/android/issues/1#issuecomment-129043214

[2015-09-27 20:09] PaoloRotolo commented on #65
I'm currently using Android's system timedate format.

[2015-09-27 20:11] satya164 commented on #65
Yes, in the example I gave you, the format stays the same, it just adds the day name and makes the month full.

It's exactly how the date is displayed in my pull down notification drawer, plus the year.

[2015-09-27 20:13] satya164 opened #72 "All buttons should be bold/semi-bold"
Making them bold makes them feel more like special UI elements rather than just colored text.

[2015-09-27 20:14] satya164 commented on #67
When you scroll fast, and stop, the page doesn't stop scrolling right away. The scroll slows down and eventually stopped. It gives the scroll a natural feeling.

[2015-09-27 21:16] satya164 commented on #68
Okay, it seems the way calligraphy is being used is wrong. Currently, calligraphy config is being set for each activity separately. Since we need to change the font at the system level, I would propose to create a file `GlucosioApplication.java`, add it to the `android:name` property of the `<application>` field of the `AndroidManifest.xml` file, and do the configuration there.

[2015-09-27 21:20] satya164 commented on #68
Basically, it will be this,

**GlucosioApplication.java**
[code]

**AndroidManifest.xml**
[code]

[2015-09-28 14:14] bkerensa commented on #55
We should probably use ActiveAndroid or SugarORM they are the most active and ActiveAndroid appears the most widely used.

[2015-09-28 18:25] PaoloRotolo commented on #69
@satya164 @elioqoshi any update on curved line svg?

[2015-09-28 19:31] #55 closed

[2015-09-28 19:34] bkerensa commented on #69
Assigning Elio

[2015-09-29 00:23] bkerensa opened #73 "Update Any Remaining Code to ActiveAndroid"
@PaoloRotolo Can you list here any remaining bits that need upgrading so Chris has a list

[2015-09-29 15:30] PaoloRotolo commented on #73
getGlucoseReadingsForLastMonthAsArray()
getAverageGlucoseReadingsByWeek()
getAverageGlucoseReadingsByMonth()

@chrispecoraro I've made 3 methods that can help you:
you can call them from DatabaseHandler with
getGlucoseReadings(String where), getGlucoseReadings(String where, Object args) and getGlucoseReadings(String where, Object args, String[] columns).

[2015-09-30 15:44] #25 closed

[2015-09-30 17:10] #72 closed

[2015-09-30 17:11] PaoloRotolo commented on #72
Fixed in latest commit.

[2015-09-30 17:27] #68 closed

[2015-09-30 17:27] PaoloRotolo commented on #68
Fixed. Thanks @satya164!

[2015-10-01 00:59] bkerensa commented on #73
Christopher says this is done.... Closing!

[2015-10-01 00:59] #73 closed

[2015-10-01 01:00] bkerensa commented on #67
@PaoloRotolo is this fixed?

[2015-10-01 01:00] bkerensa commented on #70
@PaoloRotolo is this fixed?

[2015-10-01 01:01] bkerensa commented on #69
Have not heard back from @elioqoshi on this we may need to bump it to Imli

[2015-10-01 01:01] bkerensa commented on #65
@PaoloRotolo is this fixed?

[2015-10-01 01:02] #24 closed

[2015-10-01 01:02] #29 closed

[2015-10-01 01:02] bkerensa commented on #3
@PaoloRotolo is this fixed?

[2015-10-01 01:02] bkerensa commented on #7
@PaoloRotolo is this fixed?

[2015-10-01 01:02] bkerensa commented on #13
@PaoloRotolo is this fixed?

[2015-10-01 12:20] elioqoshi commented on #13
Do you need advice on this?

[2015-10-01 12:31] elioqoshi commented on #69
Sorry for being late, here we go
https://dl.dropboxusercontent.com/u/62482708/Glucosio/curved%20line%20glucosio.svg

[2015-10-01 15:53] PaoloRotolo commented on #69
Thanks @elioqoshi. Adding right now.

[2015-10-01 17:34] PaoloRotolo commented on #69
@elioqoshi @satya164

![screenshot_2015-10-01-19-33-17](https://cloud.githubusercontent.com/assets/5623301/10228506/6aaa260c-6873-11e5-813b-4927958d2892.png)

[2015-10-01 17:48] PaoloRotolo commented on #69
@elioqoshi can you please provide another version for landscape layouts?
My Inkscape doesn't want to import the svg well :(

[2015-10-01 18:03] dmvstar commented on #3
settings additions.
Insulin or other medications - the type, dose and time of reception

[2015-10-01 18:54] bkerensa commented on #3
@dmvstar This should be a separate bug we will add that to Imli our next release but it wont make this release. I'll go ahead and file that!

[2015-10-01 19:09] #67 closed

[2015-10-01 19:20] bkerensa opened #74 "Add Insulin or other medications - the type, dose and time of reception"
We should allow people to track Insulin and other diabetes medication in the app and get reminders and nags in assistant.

[2015-10-01 19:21] bkerensa commented on #13
I think this is done.

@PaoloRotolo can you confirm?

[2015-10-01 19:25] PaoloRotolo commented on #13
Yes, I've reduced the padding and made the view fit perfectly.

![screenshot from 2015-10-01 21-24-41](https://cloud.githubusercontent.com/assets/5623301/10231424/f02bc862-6882-11e5-8d9d-9b1b0441e998.png)
 a 5'' screen.

[2015-10-01 19:26] #13 closed

[2015-10-01 19:28] PaoloRotolo commented on #33
Fixed. See #13.

[2015-10-01 19:28] #33 closed

[2015-10-01 19:35] bkerensa opened #75 "Add Target Ranges & Target Range Customization to Settings"
Per our discussion @PaoloRotolo we need this for Noce its a blocker.

If we need text for assistant to remind folks of the ability to change their ranges use below:

Title: Customize your glucose target
Text: In settings you can pick from three preset glucose target ranges or customize your own

[2015-10-01 19:37] PaoloRotolo commented on #3
Closing for now.
Please open a new issue for dedicated Languages activity and tag it as Enhancement.

[2015-10-01 19:37] #3 closed

[2015-10-02 06:18] bkerensa commented on #65
This appears fixed @paolorotolo ?

[2015-10-02 06:19] bkerensa commented on #69
What format do you need Paolo?

[2015-10-02 06:20] #57 closed

[2015-10-02 06:22] bkerensa commented on #47
Status on this @paolorotolo ?

[2015-10-02 07:52] PaoloRotolo commented on #69
Same file in .svg but rotated and flipped horizontally.

Also it looks very heavy on tablets. Can we have another thinner version just for screens > 7''?

[2015-10-02 08:05] PaoloRotolo commented on #69
UPDATE: Elio is working on it right now.

[2015-10-03 03:36] bkerensa opened #78 "Create Google Play Strings File"
Create a Google Play Strings File

[2015-10-03 03:36] #78 closed

[2015-10-03 03:36] bkerensa commented on #78
Fixed at a8f1436

[2015-10-03 03:46] bkerensa opened #79 "non-translatable strings in strings.xml"
@string/helloactivity_spinner_preferred_range_1 is being improted in Crowdin as translatable.... Can you make sure its not? Not sure how you did this before but I believe there was a fix to mark some strings as not translatable.

[2015-10-03 03:47] bkerensa commented on #79
If not I have went ahead and manually hid them on the l10n platform

[2015-10-03 05:27] bkerensa opened #80 "Placeholder shouldn't show in assistant"
Assistant shows the you haven't added a entry yet add one now.

[2015-10-03 05:29] bkerensa opened #81 "When phone horizontal the line svg looks odd"
So the new line is nice but on my Nexus 6 in horizontal it looks weird.

[2015-10-03 11:24] #79 closed

[2015-10-03 11:25] PaoloRotolo commented on #79
Just add ```translatable="false``` in strings.xml, like:

[code]

[2015-10-03 11:31] PaoloRotolo commented on #81
I know, @elioqoshi sent me a another .svg for landscape mode on Telegram.
Unfortunately Telegram seems down right now. I'll update it as soon as it gets up again.

[2015-10-03 11:32] PaoloRotolo commented on #80
Confirmed. I'm working on it.

[2015-10-03 11:35] #80 closed

[2015-10-03 14:59] PaoloRotolo commented on #81
Fixed in latest revision.

[2015-10-03 14:59] #81 closed

[2015-10-03 15:28] #75 closed

[2015-10-04 01:49] petercpg opened #82 "Unsorted country list"
Check this: ![imgur](http://i.imgur.com/VsKOGvh.png)

Not sure if it is intended for protecting privacy, but note that there is a country named "World".

[2015-10-04 06:53] bkerensa opened #83 "Automate l10n export and import"
We need to add Crowdin CLI support to:
1. export strings.xml  and google-playstore-strings.xml to crowdin each time they files are changed
2. import updated/translated strings back into github and ensure they are in proper language/folder structure
3. In the case of google google-playstore-strings.xml

[2015-10-04 10:02] glucat opened #84 "GITTY test"
test

Debug info:
 OS Version: 3.4.42-g32473a7(2dbf45e7e7)
 OS API Level: 22
 Device: falcon_umts
 Model (and Product): Moto G (cm_falcon)
 RELEASE: 5.1.1
 BRAND: motorola
 DISPLAY: cm_falcon-userdebug 5.1.1 LVY48F 2dbf45e7e7 test-keys
 CPU_ABI: armeabi-v7a
 CPU_ABI2: armeabi
 HARDWARE: qcom
 Build ID: LVY48F
 MANUFACTURER: motorola
 SERIAL: TA0680059E
 USER: jenkins
 HOST: cyanogenmod

Extra Info

[2015-10-04 10:02] PaoloRotolo commented on #84
Yay, it works.

[2015-10-04 10:02] #84 closed

[2015-10-04 10:03] PaoloRotolo commented on #70
Gitty works well in latest commit.
@bkerensa now you can just select "I don't have an account" and Glucat will report the bug for you.

About design, I guess we have to make changes in my library to add custom layouts support.
Can we postpone design for 0.8.x?

[2015-10-04 10:12] PaoloRotolo commented on #82
Thanks you, fixed in latest commit.
And yes, "world" is also for other minor not listed countries.

[2015-10-04 10:12] #82 closed

[2015-10-04 10:36] #7 closed

[2015-10-04 14:31] #47 closed

[2015-10-04 14:50] #65 closed

[2015-10-04 14:55] PaoloRotolo opened #85 "getAverageGlucoseReadingsByWeek() and getAverageGlucoseReadingsByMonth() always return an empty list"
Please investigate why ```getAverageGlucoseReadingsByWeek()``` and ```getAverageGlucoseReadingsByMonth()``` always return an empty list.

LOGCAT:
[code]

[2015-10-04 20:31] bkerensa opened #86 "North America Time should display 12 hour format"

[2015-10-05 00:54] bkerensa commented on #70
@PaoloRotolo Yes but lets reopen and mark this for that.

[2015-10-05 14:23] #86 closed

[2015-10-05 20:33] glucat opened #87 "test"
test

Debug info:
 OS Version: 3.4.67-qemu+(eng.buildbot.20150609.213200)
 OS API Level: 18
 Device: vbox86p
 Model (and Product): Google Galaxy Nexus - 4.3 - API 18 - 720x1280 (vbox86p)
 RELEASE: 4.3
 BRAND: generic
 DISPLAY: vbox86p-userdebug 4.3 JLS36G eng.buildbot.20150609.213200 test-keys
 CPU_ABI: x86
 CPU_ABI2: unknown
 HARDWARE: vbox86
 Build ID: JLS36G
 MANUFACTURER: Genymotion
 SERIAL: u

[2015-10-05 21:22] #87 closed

[2015-10-06 07:13] bkerensa opened #88 "Fix Date Off Screen"
https://github.com/PhilJay/MPAndroidChart/issues/1075#event-427618256

[2015-10-06 07:13] bkerensa opened #89 "Fix Graph Zoom/Pinch"
https://github.com/PhilJay/MPAndroidChart/issues/1075#event-427618256

[2015-10-06 18:53] #88 closed

[2015-10-06 18:53] #89 closed

[2015-10-06 18:57] #69 closed

[2015-10-07 13:57] petercpg opened #91 "Suggested blood glucose ranges"
We should make a better description of blood glucose ranges suggested by different organizations. I know full titles are difficult to fit in UI design but I also believe abbreviation like ADA, AACE, UK Nice is not friendly to those who are not in US or UK.

Also I'm not pretty sure if blood glucose ranges differs for people in different regions. For example TDA suggests to keep a 60-110mg/dl fasti

[2015-10-12 14:49] #83 closed

[2015-10-12 14:50] #85 closed

[2015-10-12 15:32] glucat opened #93 "Gitty test"
Test gitty before release.

Debug info:
 OS Version: 3.4.0-ga5a4133(2256973)
 OS API Level: 23
 Device: flo
 Model (and Product): Nexus 7 (razor)
 RELEASE: 6.0
 BRAND: google
 DISPLAY: MRA58K
 CPU_ABI: armeabi-v7a
 CPU_ABI2: armeabi
 HARDWARE: flo
 Build ID: MRA58K
 MANUFACTURER: asus
 SERIAL: 07a4214c
 USER: android-build
 HOST: vpak15.mtv.corp.google.com

Extra Info: Nothing to show.

[2015-10-12 15:33] PaoloRotolo commented on #93
Cool, new token works.

[2015-10-12 15:33] #93 closed

[2015-10-12 15:58] glucat opened #94 "Test"
test

Debug info:
 OS Version: 3.10.40-ge42477a(2256973)
 OS API Level: 23
 Device: shamu
 Model (and Product): Nexus 6 (shamu)
 RELEASE: 6.0
 BRAND: google
 DISPLAY: MRA58K
 CPU_ABI: armeabi-v7a
 CPU_ABI2: armeabi
 HARDWARE: shamu
 Build ID: MRA58K
 MANUFACTURER: motorola
 SERIAL: ZX1G228K4M
 USER: android-build
 HOST: wpiy2.hot.corp.google.com

Extra Info: Nothing to show.

[2015-10-12 16:34] #94 closed

[2015-10-12 16:46] bkerensa commented on #19
@PaoloRotolo anything left here? if not close

[2015-10-12 16:50] PaoloRotolo commented on #19
Forgot to close this :\ Thanks.

[2015-10-12 16:50] #19 closed

[2015-10-12 17:01] satya164 commented on #19
@PaoloRotolo There are items on the list which are not complete

[2015-10-12 18:11] bkerensa commented on #19
Marking remaining for 0.8.1

[2015-10-12 23:21] glucat opened #96 "It's hard to configure the app"
Specially when trying to get the right max and min glucose, using the standard systems are just alien to me.

Debug info:
 OS Version: 3.10.20-262977-gdb13b6f(WW_a501cg-WW_user_2.22.40.54_20150527_44-user-20150527)
 OS API Level: 19
 Device: ASUS_T00J1
 Model (and Product): ASUS_T00J (WW_a501cg)
 RELEASE: 4.4.2
 BRAND: asus
 DISPLAY: ASUS_T00J_WW_user_2.22.40.54_20150527_44 release-keys
 CPU_ABI:

[2015-10-13 07:09] bkerensa commented on #96
@PaoloRotolo this might not have enough information to be useful for us and its anonymous so we cannot even ask for more info.

[2015-10-13 07:11] bkerensa opened #97 "Remove Serial Number from Gitty"
We should not publish serial number with gitty bug submissions not only is it not
useful for us but it could be remotely consider personally identifying like an ip address.

[2015-10-13 07:12] bkerensa opened #98 "Color Guide"
***1 Upvote*** We should have a color guide somewhere maybe in assistant with labels explaining what colors mean

Red Dot (High)
Green Dot (Good)

etc etc

[2015-10-14 15:01] bkerensa opened #99 "Add Language Selector"
***1 Upvote*** Users have indicated that using Android locale for language selection is not the best because Android doesn't support all languages we have already (Albanian for example). Also there are edge cases where someone might use UK english locale but prefer US English.

We should add the language selector to settings but still allow Android locale detection but the selector would override.

[2015-10-14 15:02] bkerensa commented on #98
@satya164 @elioqoshi we will need some creative and design consult here

[2015-10-14 15:03] birajkarmakar commented on #99
+1 for this idea.

[2015-10-14 15:03] bkerensa commented on #98
![screenshot_20151014-080229](https://cloud.githubusercontent.com/assets/859175/10487686/08263328-724a-11e5-9f6e-68b75f6887bf.png)

See in Diabetes:M how they have a color guide we need something like this but also need to find a appropriate place from the UX perspective for it to be.

[2015-10-15 13:41] elioqoshi commented on #98
Cannot commit to this within this week. @satya164 can you take this over or should we find an alternative?

[2015-10-15 17:48] bkerensa opened #100 "java.lang.NullPointerException: Attempt to invoke interface method 'int java.util.List.size()' on a null object reference"
10-12 01:02:31.870 15123 15123 E AndroidRuntime: FATAL EXCEPTION: main
10-12 01:02:31.870 15123 15123 E AndroidRuntime: Process: org.glucosio.android, PID: 15123
10-12 01:02:31.870 15123 15123 E AndroidRuntime: java.lang.NullPointerException: Attempt to invoke interface method 'int java.util.List.size()' on a null object reference
10-12 01:02:31.870 15123 15123 E AndroidRuntime: 	at org.glucosio.a

[2015-10-15 17:49] bkerensa commented on #100
Not sure why this is silently crashing but noticed this when I dumped my logs looking for another app crash.

[2015-10-15 19:13] rotolonico commented on #70
I'm working on it...

[2015-10-15 19:50] satya164 commented on #98
I won't be able to do it until end of next week.

[2015-10-15 20:14] PaoloRotolo commented on #70
@elioqoshi @satya164 Can you please find 4 colors (backgrond1, backgrond2, FAB1, FAB2) that fit with Glucosio palette?

[2015-10-16 19:40] bkerensa opened #102 "Add GA Tracking"
So we have realtime numbers for installs we should add GA tracking.

We should keep the UA code out of the repo though so its not used by third-parties

[2015-10-16 20:51] PaoloRotolo commented on #97
Removed in Gitty 1.2.0.

[2015-10-16 20:51] #97 closed

[2015-10-16 22:29] pizzamaker opened #103 "Add to F-Droid"
A thread for its inclusion has been created at https://f-droid.org/forums/topic/glucosio/

[2015-10-16 22:45] bkerensa commented on #103
We are investigating inclusion in F-Droid

[2015-10-17 05:32] glucat opened #104 "ASSISTANCE tab link - bug"
when i was click on ASSISTANT tab from OVERVIEW tab it wasn't displaying anything, but when i was click it from HISTORY tab it was displays options.

Debug info:
 OS Version: 3.4.0(eng.user.20140509.125022)
 OS API Level: 18
 Device: C1904
 Model (and Product): C1904 (C1904)
 RELEASE: 4.3
 BRAND: Sony
 DISPLAY: 15.4.A.1.9
 CPU_ABI: armeabi-v7a
 CPU_ABI2: armeabi
 HARDWARE: qcom
 Build ID: 15.4.A.1

[2015-10-17 20:01] #102 closed

[2015-10-18 04:24] bkerensa opened #106 "Add OCR Support for Glucose Entry"
We should investigate building a open source OCR Android library for adding Glucose entries with device cameras.

Fonts on meters are often similar and there are some open source engines available we may be able to fork.

[2015-10-18 04:27] bkerensa opened #107 "Add Google Voice Command Support"
Add ability for users to use Google Voice commands to launch app and add Glucose entry.

[2015-10-18 04:29] bkerensa opened #108 "Add Android Wear Support"
We should investigate adding a watch face and support for Android Wear for entry and seeing Glucose in a crisp watch face

[2015-10-18 04:32] bkerensa opened #109 "Add Advance Entry Types to Entry Dialog"
We should expand the Glucose entry dialog to be a multi metric/event entry dialog:

* [ ] Meal Data: Carbs, Proteins, Fats, Calories
* [ ] Reminder:  User can set a reminder None is default but options for 15min, 30min, 1hr, 1 1/2 hr, 2 hr, 2 1/2 hr , 3 hr, 3 1/2 hr, 4 hr, 4 1/2 hr, 5hr
* [ ] Insulin Dose: User can indicate add a entry for when they inject insulin and which type of insulin they us

[2015-10-18 04:34] bkerensa opened #110 "Add Device Sync"
Since Dexcom and others hardware manufacturers have reached out creating this issue to track need to add support for meters and cgm that have wireless or Bluetooth capability and allow their data to be shared or gleaned easily.

[2015-10-18 04:36] bkerensa opened #111 "Add MyFitnessPal Sync"
This depends on Issue 109 but basically once 109 lands we could add MFP sync support and import entries and glean the data mention in that issue.

[2015-10-18 06:08] bkerensa opened #112 "Add Font Size Settings"
We should add a font size setting to allow Normal, Medium and Large font options for users with vision problems.

[2015-10-18 07:41] bkerensa commented on #106
See https://github.com/tesseract-ocr/tesseract (Google)
https://github.com/rmtheis/android-ocr

[2015-10-18 10:26] PaoloRotolo commented on #98
New colors are live in the app thanks to @rotolonico.

[2015-10-18 10:26] PaoloRotolo commented on #98
Can we just add this in an Assistant's card?

[2015-10-18 10:27] PaoloRotolo commented on #103
Done. It's live here: https://f-droid.org/repository/browse/?fdfilter=glucosio&fdid=org.glucosio.android

[2015-10-18 10:27] #103 closed

[2015-10-18 11:52] pizzamaker commented on #103
Thanks!

[2015-10-18 14:19] glucat opened #114 "Data"
la data della cronologia non corrisponde a quella inserita, è posticipata di un mese

Debug info:
 OS Version: 3.10.61-ga48886e-dirty(C432B046)
 OS API Level: 21
 Device: hwALE-H
 Model (and Product): ALE-L21 (ALE-L21)
 RELEASE: 5.0
 BRAND: Huawei
 DISPLAY: ALE-L21 V100R001C432B046
 CPU_ABI: arm64-v8a
 CPU_ABI2:
 HARDWARE: hi6210sft
 Build ID: HuaweiALE-L21
 MANUFACTURER: HUAWEI
 SERIAL: QLF7N1552

[2015-10-18 15:48] #114 closed

[2015-10-18 16:29] bkerensa commented on #103
@pizzamaker one thing I would add is the version on F-Droid is wrong the source you are building from is 0.8.0.

[2015-10-18 16:33] bkerensa commented on #98
But then it could be dismissed right? Ideally we want this right underneath the graph do we need Satya's guidance on this or could you perhaps do it? We just need the five colors above represented underneath graph with same text but  using this icon http://www.flaticon.com/free-icon/big-blood-drop_20762#term=blood-drop&page=1&position=1 (it could be made solid color without the white part) and als

[2015-10-18 16:34] bkerensa commented on #98
Oh and remember we will just to adjust the color in history etc since you do not use this many colors and I think currently use the same color for hypo and hyper!

[2015-10-18 16:35] bkerensa commented on #99
Marking this as bitesize (see OpenHatch) this might be a good issue for Nico to work on.

[2015-10-18 16:36] bkerensa commented on #28
Since we now use realm this is moot.

[2015-10-18 16:36] #28 closed

[2015-10-18 16:37] bkerensa commented on #9
This is a poorly written issue so closing this and will open new issues to replace it

[2015-10-18 16:37] #9 closed

[2015-10-18 16:38] bkerensa opened #116 "Add Backup to Settings"
We need a backup settings area

[2015-10-18 16:40] bkerensa opened #117 "Add Backup to Google Drive"
Our first backup option should be Google Drive since most Android users will already use Google Drive. We need a mechanism that allows one-off backup but also periodic interval backups to Google Drive. This feature should tie into the Backup Settings.

-> Settings -> Backups -> Google Drive -> Options

Dependency: #116

[2015-10-20 05:32] #100 closed

[2015-10-20 05:36] bkerensa opened #119 "Add Invite API Support"

[2015-10-20 05:37] bkerensa commented on #107
We have submitted request to Google for this and await their response so until then this is backlog.

[2015-10-20 05:45] bkerensa opened #120 "Add Reminders"
We need to add reminders support where a notice is in assistant if user has not recently added their glucose.

We should also use Android notifications and should have settings to configure this in settings:

On
Off
Set Intervals
Use system notification sound

[2015-10-20 07:54] issacnitin commented on #116
Do you need an entire activity or just one box for Google Drive? I'll work on it

[2015-10-20 07:59] issacnitin commented on #117
Working on it

[2015-10-20 11:32] PaoloRotolo commented on #116
Hey @issacnitin, I think an activity would be better. Just in case we have to open it from Main/Assistant.

[2015-10-20 11:39] issacnitin commented on #116
Cool, started working on it.

[2015-10-20 12:15] birajkarmakar opened #121 "I can not see the text in button."
Attched screenshot http://awesomescreenshot.com/0335c53d75

Even I can not scroll also.

[2015-10-20 13:08] krt16s opened #122 "Offer Build Without Google Play Services Dependency"
Google's proprietary play-services has been added to the dependencies, could you provide a pure floss build flavor or instead use acra for reporting?

[2015-10-20 14:26] bkerensa commented on #122
I'll provide response to this request as soon as we can although it may not be till tomorrow.

[2015-10-20 14:51] chwalters opened #123 "Editing mmol/L unit values in dialog shows value in mg/dL (wrong units)"
Set unit preference to mmol/L, add new reading works ok, shows fine in the history list, but when long-press to edit a historic value I'm getting the mg/dL value in the dialog even though unit for the field is mmol/L.  The value in edit dialog isn't converted for display/editing, even if the dialog shows the right units in the label

[2015-10-20 15:08] bkerensa commented on #122
We will be adding a gradle build variant and check to our code like Telegram does.

Hopefully this will resolve this issue and we should have it released in 0.8.3.

We will update this bug once that happens but anticipate to release 0.8.3 in about two to three weeks.

We are using Google Play Services for Invite API and will eventually use it Google Drive backups (opt-in) and do not know of any wa

[2015-10-20 20:14] PaoloRotolo opened #124 "Tos should point to our website"
Terms: http://www.glucosio.org/terms
Privacy: http://www.glucosio.org/privacy

[2015-10-22 04:33] issacnitin commented on #116
Done! :dancer:

[2015-10-22 10:44] glucat opened #126 "Test"
Test

Debug info:
 OS Version: 2.6.29-g3564a4b(485486)
 OS API Level: 16
 Device: maguro
 Model (and Product): Galaxy Nexus (yakju)
 RELEASE: 4.1.1
 BRAND: google
 DISPLAY: JRO03R
 CPU_ABI: armeabi-v7a
 CPU_ABI2: armeabi
 HARDWARE: tuna
 MANUFACTURER: samsung

Extra Info: Nothing to show.

[2015-10-22 10:44] glucat opened #127 "Test"
Test

Debug info:
 OS Version: 3.4.0-g67acc39-dirty(937116)
 OS API Level: 19
 Device: hammerhead
 Model (and Product): Nexus 5 (hammerhead)
 RELEASE: 4.4.2
 BRAND: google
 DISPLAY: KVT49L
 CPU_ABI: armeabi-v7a
 CPU_ABI2: armeabi
 HARDWARE: hammerhead
 MANUFACTURER: LGE

Extra Info: Nothing to show.

[2015-10-22 10:47] glucat opened #128 "Test"
Test

Debug info:
 OS Version: 3.4.0-g67acc39-dirty(1602158)
 OS API Level: 21
 Device: shamu
 Model (and Product): Nexus 6 (shamu)
 RELEASE: 5.0.2
 BRAND: google
 DISPLAY: LRX22G
 CPU_ABI: armeabi-v7a
 CPU_ABI2: armeabi
 HARDWARE: shamu
 MANUFACTURER: motorola

Extra Info: Nothing to show.

[2015-10-22 18:45] #126 closed

[2015-10-22 18:45] #127 closed

[2015-10-22 18:45] #128 closed

[2015-10-22 19:00] PaoloRotolo commented on #123
Fixed in commit 296021bc1ec3f530269176480da989fffa670122.

[2015-10-22 19:00] #123 closed

[2015-10-23 02:59] bkerensa opened #129 "Investigated Automated Testing"
Investigated calabash, AppThwack, HockeyApp and other testing frameworks or services for automated testing to find bugs before they find us ;)

[2015-10-23 17:16] bkerensa commented on #124
Have we added back Nico's patch for setting if so we can add those in plus we need to add them to the intro like I had mentioned. Also since there will be new text for the links and intro we should do this soon so we get early l10n.

[2015-10-23 17:16] bkerensa commented on #121
Any update on this @PaoloRotolo

[2015-10-23 17:17] bkerensa commented on #98
@satya164 Are you able to work on this over the weekend?

[2015-10-24 00:24] bkerensa opened #131 "Add Credits"
We will want to add a credits which lists each contributor to the project.

@satya164 we will need mockup for this and it should be in the settings somewhere.

[2015-10-25 03:34] birajkarmakar opened #132 "Brand assets for Glucosio"
@elioqoshi

It would be good to have below things

1. Glucat in png format
2. Logo in png format
3. High resolution background
4. Some high resolution screenshot

[2015-10-25 03:36] #132 closed

[2015-10-25 15:12] #70 closed

[2015-10-25 17:44] elioqoshi commented on #132
why did you close this @bkerensa ?

[2015-10-25 17:47] birajkarmakar commented on #132
Hi @elioqoshi I opened this issue in wrong part unknowingly.

That's why it has been closed.

But @bkerensa has opened this request under brand-assets.

[2015-10-25 17:47] PaoloRotolo commented on #132
He moved it to Glucosio/brand-assets: https://github.com/Glucosio/brand-assets/issues/4

[2015-10-26 07:09] bkerensa commented on #104
Can you triage this if its invalid we can close it

[2015-10-26 07:22] bkerensa commented on #109
This is how DM does this in their multi entry tool so user can add any of these entries without a glucose or with it. This lets the user see how all these factors impact their disease.

![screenshot_20151026-001114](https://cloud.githubusercontent.com/assets/859175/10723378/8a4743a2-7b77-11e5-96fd-1b52efeb1e5b.png)
![screenshot_20151026-001103](https://cloud.githubusercontent.com/assets/859175/107

[2015-10-26 07:28] bkerensa opened #134 "Advance Graphing"
In order to show metrics from Issue #109 feature we will need to add those metrics in the graph or adjust how we do graphing so that it visualizes those other entry types to show how these events and other activities like carb intake or weight or medication or exercise impacts impacts glucose.

[2015-10-26 14:49] PaoloRotolo commented on #109
Ok, we need mockups from design team to find out how to register those information in Add Dialog and also where to display them in history.

[2015-10-26 17:38] bkerensa commented on #109
OK looks like Satya said he won't be available till Nov 1. Can Chris's UX guy help?

[2015-10-27 01:49] bkerensa commented on #109
@satya164 will need UX work for this and #134 and #98 these are pretty priority for our next release if you can work on this at your next availability that would be great

[2015-10-27 21:16] #124 closed

[2015-10-28 05:02] lgp171188 opened #135 "Weekly and Monthly Graphs Not Displaying Data Properly"
Only the day view graph is correct. Please see the attached screenshots
![screenshot_2015-10-28-10-26-15](https://cloud.githubusercontent.com/assets/218870/10780047/0f488e06-7d5f-11e5-90d2-b8f1327c12c3.png)
![screenshot_2015-10-28-10-28-28](https://cloud.githubusercontent.com/assets/218870/10780048/0f4af1dc-7d5f-11e5-900f-ae5e27dee0a1.png)
![screenshot_2015-10-28-10-28-36](https://cloud.githubuser

[2015-10-28 06:11] bkerensa commented on #135
@lgp171188 Thank you for bringing this bug to our attention our android team has been notified we will investigate this and have a fix available and released ASAP.

[2015-10-28 09:20] bkerensa commented on #96
Not enough information to work on this

[2015-10-28 09:20] #96 closed

[2015-10-28 09:25] bkerensa commented on #135
@lgp171188 After looking into this more it appears you only have a single weeks worth of data so until you have multiple weeks the weekly graph is working properly actually. And once you have a couple months of data it will show monthly averages.

So this is how it is supposed to work and once you have enough entries these graphs will populate but absent enough data it cannot populate them when it

[2015-10-28 09:25] #135 closed

[2015-10-28 09:28] lgp171188 commented on #135
@bkerensa While the issue with the weekly and monthly chart data not getting displayed properly might be due to having a single week's data or lesser, the graph is still incorrect since the readings on the Y-axis scale are repeated -114, 114, 115, 115, 115, 116, 116. The daily graph doesn't have similar issues even when there was just one reading.

[2015-10-28 09:30] lgp171188 commented on #135
Also it would be better if the weekly and monthly graphs clearly said that there is not enough data instead of displaying some incorrect graph which the user has no clue about.

[2015-10-28 10:07] lgp171188 opened #136 "Weekly average calculation is incorrect when there is data for less than a week"
For example there some ``n`` readings within a week and there is no data for at least a week, the weekly average calculation takes the first reading as the average since it counts the number of weeks as 0. Instead number of weeks should always start from one and show correct the average for the current incomplete week.

I will try to fix this and submit a pull request.

[2015-10-28 13:04] lgp171188 commented on #136
Fixed in 0cc657d237a9b8c074e07b95888ab38a9b0ab02b

[2015-10-28 13:05] #136 closed

[2015-10-28 13:08] lgp171188 opened #138 "Fix X-axis labels in week-wise average graph view"
Right now it displays just the last day of the week with time which doesn't make it very clear what it is and what are the start and end days of the week. Something like "Week ending on <date>" or "Start date - End date" will be good.

[2015-10-28 13:09] PaoloRotolo commented on #136
Thanks again! :+1:

[2015-10-29 17:50] amouly commented on #129
@bkerensa what about Espresso? It's better than Calabash because it's designed for Android only.

http://developer.android.com/training/testing/ui-testing/espresso-testing.html

[2015-10-29 20:28] piotrek1543 commented on #121
I've added a pull request with commit fixing this problem.

[2015-10-29 20:32] piotrek1543 commented on #129
I EXTREMELY recommend Espresso UI test framework - simple, fast and effective.
Here, you can see some possibilities of writing tests in this framework:
https://google.github.io/android-testing-support-library/downloads/espresso-cheat-sheet-2.1.0.pdf

[2015-10-29 20:38] amouly commented on #129
@piotrek1543 agree. I've already started some tests based on Espresso for this project. First I have to determine what we should test. I will send a PR soon :).

[2015-10-29 20:51] amouly opened #141 "Project rename?"
Should we rename the project to "glucosio-android"? Because when an user forks it, he has to rename it anyway. Calling it just "android" it's not descriptive.

[2015-10-29 22:29] PaoloRotolo commented on #141
@bkerensa What do you think? We can even use android package name and  call it "org.glucosio.android".

[2015-10-29 23:29] bkerensa commented on #141
If we rename it I would rather use glucosio-android as org.glucosio.android is not very descriptive
and I do not see this much in github repos for projects.

[2015-10-30 01:10] bkerensa commented on #122
@PaoloRotolo lets prioritize the build flavor/build variant like we discussed so they can easily build one without GP when they do their builds.

[2015-10-30 01:13] bkerensa commented on #141
This is now fixed

[2015-10-30 01:13] #141 closed

[2015-10-30 01:14] amouly commented on #141
@bkerensa awesome! Good decision :).

[2015-10-30 12:00] PaoloRotolo commented on #121
Fixed in latest commit.
Thanks!

[2015-10-30 12:00] #121 closed

[2015-10-30 12:00] PaoloRotolo commented on #129
Fixed in latest commit.
Thanks!

[2015-10-30 12:00] #129 closed

[2015-10-30 19:55] piotrek1543 opened #143 "Implementing SmartTabLayout instead of using ActionMenu and tabs."
Hi, I really don't like in your app combo of menu with two items and three tabs. I think it would be good to implement a view called SmartTabLayout. Here you can find it:
https://github.com/ogaclejapan/SmartTabLayout
Moreover, when I click third tab I have doubled a feedback function (the first one actually hidden as menu item, the second one as the first item on the list).
Implementing these dyna

[2015-10-30 21:56] piotrek1543 commented on #104
Tested. No such strange bug has been found.
You can close it :+1:

[2015-10-31 01:48] #104 closed

[2015-10-31 01:51] bkerensa commented on #117
So on this we will probably want to have a Google Drive settings menu of its own and allow options: connect, interval, manual export to google drive etc. So one menu deeper and more than just a enable button.

Since the backup is already live in daily @PaoloRotolo we will need this finished before we can ship next release or will need to back out this patch and  Issue #116. We cannot ship them non

[2015-10-31 01:51] bkerensa commented on #99
@piotrek1543 @amouly would either of you like to take a go at this? :)

[2015-10-31 01:59] amouly commented on #99
@bkerensa yeah! Personally I don't like the idea, because this cause some problems on Activity recreation and such. I have experience doing this before and a lot of issues came up.

On the other hand, I really understand what you said about supporting edge cases. My case, for example, I'm using English-US for the Operative System, but I speak Spanish (I'm from Argentina). So I understand if there

[2015-10-31 02:16] bkerensa commented on #99
@amouly The main reason is because Android does not apparently support every language and so we have the apps translated to more languages that Android wont support. =/

The only way around this using the language switcher AFAIK but yes @PaoloRotolo ran into issues too when he tried implementing it.

[2015-10-31 02:18] amouly commented on #99
@bkerensa yeah, it's hard because the Activity has a LOT of state, and can change for many reasons. But I understand your concern about languages, so we should try to do it. Do we have any idea where to locate the "language switch" or any code already done?

[2015-10-31 08:07] piotrek1543 commented on #99
@bkerensa @amouly well, it's not bad idea, but where do you want to put this feature: in app settings, or on the first run dialog (under "choose your location", would be choose your preffered language).

[2015-10-31 08:14] birajkarmakar commented on #99
I think we can put it on the first run dialog as well as  in app settings because someone may want to choose different language after initial setup !

In Firefox for android, we have that feature.

[2015-10-31 08:30] birajkarmakar commented on #99
also Android localization at runtime code sample is here http://programmerguru.com/android-tutorial/android-localization-at-runtime/

@bkerensa @amouly @piotrek1543 @PaoloRotolo please take a look.

[2015-10-31 08:36] bkerensa commented on #99
Here is how Mozilla does their language picker http://mxr.mozilla.org/mozilla-central/source/mobile/android/base/preferences/LocaleListPreference.java

We could use it as a guide to make our own it also does checking for device fonts to make sure a device can display a specific language http://stackoverflow.com/questions/11815458/check-if-custom-font-can-display-character/22679283#22679283

[2015-11-01 07:53] PaoloRotolo commented on #143
@piotrek1543 Thanks for your concerns about usability.
I think we can fix that as discussed with @bkerensa using a navigation drawer. It's more material-ish and integrates perfectly with TabLayout.

[2015-11-01 09:14] bkerensa opened #144 "Navigation Drawer Migration"
We will be migrating to a Navigation Drawer Layout the following work is needed:

* [ ] Add Navigation Drawer Code
* [ ] Migrate Overview, History and Assistant to Nav Drawer
* [ ] Migrate Settings to Nav Drawer

Once this is complete and we have a daily build we should take to @elioqoshi about maybe some icons to the left of each nav drawer menu label.

Depends: #145 and #146

[2015-11-01 09:19] satya164 commented on #144
What? Why exactly?

[2015-11-01 09:24] piotrek1543 commented on #112
I think you want add this feature having in mind old people or someone having problems with eyesight.

I don't think it would be a good idea, it could make things even worse, like rebuilding existing layouts specially for this feature. We have some more important features like integrating app with wearable devices :-)

[2015-11-01 09:24] piotrek1543 commented on #112
I think you want add this feature having in mind old people or someone having problems with eyesight.

I don't think it would be a good idea, it could make things even worse, like rebuilding existing layouts specially for this feature. We have some more important features like integrating app with wearable devices :-)

[2015-11-01 09:25] bkerensa opened #145 "Add About Glucosio"
About Glucosio should be a submenu of Preferences Activity and then have the following things tucked inside:

Rate app
Report Bug
Version Info
Licenses (Issue #146)

Depends: #146

[2015-11-01 09:26] bkerensa opened #146 "Add External Library and Component Licensing Information"
We need to properly display licensing information for all external libraries and content we use.

[2015-11-01 09:46] piotrek1543 commented on #143
@PaoloRotolo, :+1: Well, for me usability is more important than visual look ;-)
Waiting to see an effect. Now you can close issue.

[2015-11-01 09:56] bkerensa commented on #98
@PaoloRotolo @satya164 is back can you provide the colors we currently use and which represents which so he can do mockup?

[2015-11-01 09:57] bkerensa commented on #112
Ah ok thanks @satya164 closing

[2015-11-01 09:57] #112 closed

[2015-11-01 09:58] bkerensa commented on #56
So lets not do this after all because if @satya164 fixes Issue #98 that would serve as a good guide and warnings would imho just be more nagging.

If everyone is ok with that we can close this?

[2015-11-01 09:58] satya164 commented on #112
We don't need to add font size settings. System has a hard font setting in accessibility and Glucosio already works with it.

[2015-11-01 10:00] bkerensa commented on #119
@PaoloRotolo is this complete?

[2015-11-01 10:01] bkerensa commented on #91
@satya164 Could we somehow fix this issue? Maybe a Info icon that opens a tool tip with brief description? Hmm

@petercpg Could you provide a link to TDA?

[2015-11-01 10:02] #11 closed

[2015-11-01 10:30] piotrek1543 commented on #56
@PaoloRotolo I think Toast is a bit deprecated nowadays. I suggest you to use Snackbar.

[2015-11-01 11:16] bkerensa opened #147 "Improve Glucose Entry Type Category"
Add additional and improve others to bring closer to parity with others diabetes apps

[2015-11-01 12:00] bkerensa commented on #122
@krt16s We have looked at a way to do this and there is not any practical way we can see of doing this at this time. One of the main features our users have asked for and diabetics we have done surveying of is the ability to backup to Google Drive and this will be one of many backup options we offer in order to offer this though we do have to have Google Play Services.

We have looked at trying to

[2015-11-01 14:20] petercpg commented on #91
The numbers I mentioned above comes from Taiwan Diabetes Association at [1], their whole site is in Chinese. However I can find different suggestions from many local hospital/associations/doctors over the Internet, some just take ADA's suggestion while some takes from epidemiology researches.

So maybe we could check if this standard range would be different for people from place to place, if not,

[2015-11-02 19:07] RyanGrange opened #148 "Export or share"
Some way of getting a subset of reading out for sharing with the doctor directly, via email, or attached to a web form post on a doctor's private web portal.  Possibly something simple like a CSV file.  (Not sure what would work across Android and IOS.)

[2015-11-03 01:38] bkerensa commented on #148
This is definitely something we are planning for!

[2015-11-03 20:42] piotrek1543 opened #149 "[Bug][Low priority] Missing "Backup" toolbar."
Hi,

I've already noticed that after clicking on "Backup" in "Options" menu I see a view with "Google Drive" checkbox, but lack of toolbar. Could you fix this with adding a simple toolbar with title and back button

Well, it's seems to be a small thing, but it could improve much more a user experience of Glucosio app.

Cheers,
Peter

[2015-11-03 20:49] piotrek1543 commented on #148
@RyanGrange great idea! Sending by mail data to a doctor would have a great impact for Glucosio app future.

[2015-11-03 20:52] piotrek1543 commented on #144
@bkerensa  tested that day and it looks much better that menu on the right and of course, in a future development some things from actual Settings menu like Credits or Version would be items on Navigation Drawer Menu.

[2015-11-03 22:06] PaoloRotolo commented on #144
@bkerensa Settings and other activities (Invite and Feedback) has been migrated.
We decided to keep Overview, History and Assistnat in tabs, so what else do we add?

[2015-11-03 22:08] PaoloRotolo commented on #149
Hi @piotrek1543. Thanks for the issue, we'll fix it ASAP.
Please note that GDrive integration is still in development and not fully implemented.

[2015-11-03 22:15] piotrek1543 commented on #149
@PaoloRotolo, I noticed that GDrive-integration is not full supported, but I found an issues about it so I added a small one responding to a missing toolbar in that view ;-)

[2015-11-03 22:39] #149 closed

[2015-11-03 22:40] PaoloRotolo commented on #149
Fixed, ty. :+1:

[2015-11-04 16:36] sch00lb0y opened #150 "age validation"
Hello Activity is not validating age

[2015-11-04 17:20] PaoloRotolo commented on #150
I can confirm that HelloActivity displays an error about age, but user is able to proceed anyway.
Thanks @sch00lb0y.

[2015-11-04 17:27] #150 closed

[2015-11-04 18:12] PaoloRotolo commented on #98
Purple - Hypo;
Blue - Low;
Green - OK;
Yellow - High
Orange - Hyper;

[2015-11-04 18:40] PaoloRotolo commented on #119
Yes. Closing...

[2015-11-04 18:40] #119 closed

[2015-11-04 21:15] piotrek1543 opened #152 "Don't delete items from Assistant section permanently"
Hi,

I've already noticed that it is possible to remove items form Assistant following these simple steps:
1) Click and hold the item which you want to remove.
2) Move him to the left (like would you perform swiping left).

My suggest is simple - if it is possible, block these action or add an option in navigation menu set to defaults.

Look, I deleted options which might be useful in future (now

[2015-11-04 21:16] satya164 commented on #152
What's the bug?

[2015-11-04 21:21] piotrek1543 commented on #152
@satya164 In Assistant section you have three items (share with friend, provide a feedback - sorry, but now I have this part empty :-D ). Performing steps as I'd already described gives you an opportunity to delete these fragments

[2015-11-04 21:22] satya164 commented on #152
@piotrek1543 Isn't that what's supposed to happen?

[2015-11-04 21:23] piotrek1543 commented on #152
<a href="http://pl.tinypic.com?ref=aauqgn" target="_blank"><img src="http://i67.tinypic.com/aauqgn.jpg" border="0" alt="Image and video hosting by TinyPic"></a>

[2015-11-04 21:24] satya164 commented on #152
Sorry, but I really understand the bug. So you're able to remove things from assistant following the steps you said. But what's the bug?

[2015-11-04 21:27] piotrek1543 commented on #152
@satya164 Sorry, maybe we have different definition for word "bug". I changed name of isssue :-D

[2015-11-04 21:28] satya164 commented on #152
@piotrek1543 Are these implented in the current version or are you suggesting to implement them?

[2015-11-04 21:29] satya164 commented on #152
Ok, so

I'm really confused, what you mean. Are you saying that you can't do it with the current version?

[2015-11-04 21:30] piotrek1543 commented on #152
well, less than a hour ago I forked glucosio-android, than run in Android Studio.

[2015-11-04 21:34] satya164 commented on #152
Yes, but what's the bug/feature request?

What I understand from this is that it's possible to remove items from assistant with the current version of Glucosio.

I'm really confused on what's the issue. Do you suggest that we should not be able to do it? Or are you saying that this feature is broken?

[2015-11-04 21:39] piotrek1543 commented on #152
My suggest is simple - if it is possible, block these action or add an option in navigation menu set to defaults.

Look, I deleted options which might be useful in future (now I see only an empty view) and the only action to bring them back is cleaning data of app or reinstalling.

[2015-11-04 21:41] satya164 commented on #152
@piotrek1543 Ok, got it.

@PaoloRotolo @bkerensa I think we can archive assiatnt notifications instead of removing entirely. We can have a place where one can access all archived notifications.

[2015-11-04 21:44] satya164 commented on #152
@piotrek1543 I've updated the title and the bug report to reflect what you meant.

[2015-11-04 21:47] piotrek1543 commented on #152
@satya164 Thanks a lot :-)

[2015-11-04 21:48] satya164 commented on #152
@piotrek1543 You're welcome.

[2015-11-04 21:56] PaoloRotolo commented on #152
@piotrek1543, @satya164 nice one, I'll add a section for archived tips.

[2015-11-04 22:02] piotrek1543 opened #153 "Add paddingDown to History section to fix problem with data hidden by FAB"
Hi,

like on Overview tab in one of latest closed issues, a floating action button hides results of last examination. Let a look at a picture:
<a href="http://pl.tinypic.com?ref=rua88m" target="_blank"><img src="http://i68.tinypic.com/rua88m.jpg" border="0" alt="Image and video hosting by TinyPic" height="500"></a>

The easiest way to solve this issue is just adding paddingBottom (in Overview I ad

[2015-11-04 22:09] satya164 commented on #153
@PaoloRotolo We should add a bottom padding in both overview and history screens.

[2015-11-04 22:13] piotrek1543 commented on #153
@satya164 As I remember I added a paddingBottom in my pull request which was merged

[2015-11-05 09:32] bkerensa commented on #98
@satya164 Need anything else here?

[2015-11-05 09:33] bkerensa commented on #109
@satya164 Do you need any other info to work on this?

[2015-11-05 10:41] satya164 commented on #98
Nope, I'll give you the colors.

[2015-11-05 15:53] lgp171188 opened #155 "Dates of the readings off by a month"
I use version 0.8.0 (Noce) of Glucosio on my OnePlus One. I noticed that whenever I enter a reading with a particular date, the actual stored date is off by a month. For example, October 31 2015 got saved as 1 December 2015. This makes Glucosio totally useless for me.

[2015-11-05 15:57] PaoloRotolo commented on #155
Hi @lgp171188!
We fixed the issue in Glucosio 0.8.1. Please update :)

[2015-11-05 15:57] #155 closed

[2015-11-05 15:59] lgp171188 commented on #155
Thanks for the update! I had installed it from F-Droid and there were no updates. After uninstalling the F-Droid version and installing the stable version from this repository, it is working fine :)

[2015-11-05 16:00] lgp171188 commented on #155
But the version always says 0.8.0 (Noce) even with the 0.8.2 version which is very confusing and misleading. Is this a known issue? If not, I will raise a new issue

[2015-11-05 16:04] PaoloRotolo commented on #155
@lgp171188 Yes, please check App info for version number.
Unfortunately for a bug, minor releases aren't displayed in settings.

![screenshot_2015-11-05-17-02-51](https://cloud.githubusercontent.com/assets/5623301/10973780/33a9a79a-83df-11e5-9206-ee5f82352921.png)

[2015-11-05 16:09] lgp171188 opened #156 "Provide a field to add a description or comment to the reading"
For example, when I show the recorded readings to the doctor and there are a few abnormal readings (due to some valid reason), it will be of great use if we can optionally record it with the reading.

[2015-11-05 17:18] lgp171188 commented on #148
It would also be helpful if there is an import feature to import the export file. This makes switching between various versions of Glucosio (Daily, Stable, F-Droid) without losing all the existing data.

[2015-11-05 18:09] bkerensa commented on #156
This is already covered in issue #109

[2015-11-05 18:09] #156 closed

[2015-11-06 02:30] bkerensa opened #158 "Add Import to Settings`"
Feature Requirements:
- Export to CSV (Download or Option to use Android Share Menu)
- Import from CSV

As we add backup options like Google Drive and others we should allow export of CSV to those platforms through this menu and import from those sources too.

[2015-11-06 02:30] bkerensa commented on #148
This is now covered in Issue #158

[2015-11-06 02:30] #148 closed

[2015-11-06 15:39] PaoloRotolo commented on #146
@bkerensa I've made a WebView, like I did for ToS and Privacy. We should add external libraries licensing somewhere on our website.

[2015-11-06 15:48] #145 closed

[2015-11-06 18:30] PaoloRotolo commented on #152
@satya164 can you please suggest where to put a button to see archived tips?

[2015-11-06 18:31] PaoloRotolo commented on #143
So, we decided to move to a Navigation Drawer. See this bug: https://github.com/Glucosio/glucosio-android/issues/144

[2015-11-06 18:43] #153 closed

[2015-11-08 05:51] amouly commented on #99
@bkerensa we have some code commented on the Preferences activity for the Language chooser. Any thought why this is commented and which was the issue?

@birajkarmakar The Mozilla example looks good, do they have a Git repository with that source code?

Thanks.

[2015-11-08 10:37] satya164 commented on #98
![colors](https://cloud.githubusercontent.com/assets/1174278/11019850/a023d4f4-8632-11e5-98c0-50547c1a4f5b.png)

Purple - #6F4EAB
Blue - #4B8DDB
Green - #749756
Yellow - #E7B85D
Orange - #E86445

[2015-11-08 10:38] bkerensa commented on #98
@satya164 Would we put this right under the graph ideally and with the text label for each?

[2015-11-08 10:38] bkerensa commented on #98
@PaoloRotolo This all you need?

[2015-11-08 10:39] satya164 commented on #98
@bkerensa Sounds good. Let's see how this looks in the app and if we need to tweak them @PaoloRotolo

[2015-11-08 10:40] bkerensa commented on #99
@PaoloRotolo Can you explain the issues we ran into?

@amouly http://mxr.mozilla.org/mozilla-central/source/mobile/android/base/preferences/LocaleListPreference.java

http://stackoverflow.com/questions/11815458/check-if-custom-font-can-display-character/22679283#22679283

This feature is important since Android does not support as many languages as we already have translated.

[2015-11-08 10:42] PaoloRotolo commented on #98
Okay, let's try. Thanks @satya164

[2015-11-08 11:22] PaoloRotolo commented on #98
@satya164
![screenshot_2015-11-08-12-21-55](https://cloud.githubusercontent.com/assets/5623301/11020050/5bd6ce24-8613-11e5-8b67-533a7a6824a0.png)

[2015-11-08 11:26] satya164 commented on #152
![5-glucosio-tips](https://cloud.githubusercontent.com/assets/1174278/11020068/aa19016c-8639-11e5-951c-e48a9a0689c2.png)

[2015-11-08 11:27] bkerensa commented on #98
Is there any way we can do them horizontal?  That seems to take up a lot of space :) or can we put a vertical divider and put last check to the right of it?

[2015-11-08 11:28] satya164 commented on #98
Yeah, 2-3 columns will be fine. Also we should make the circles a little bigger to match the font height. And the font size can be a little smaller (12sp)?

[2015-11-08 11:29] bkerensa commented on #98
@satya164 @PaoloRotolo on the graph do we want to also color each reading point?

[2015-11-08 11:30] satya164 commented on #98
Yeah, then wehave to tweak the graph though. Basically remove the pink lines and all, so the graph looks more neutral.

[2015-11-08 11:32] PaoloRotolo commented on #98
I've used some iOS graphs as base.

![slack for ios upload](https://cloud.githubusercontent.com/assets/5623301/11020104/cf220dca-8614-11e5-933a-b66d7924208b.png)

[2015-11-08 11:36] bkerensa commented on #98
@satya164 I see lets also get @elioqoshi's feedback on removing pink in graph and how that could impact the branding feel

[2015-11-08 11:38] elioqoshi commented on #98
Would only the dots be colored? If it would be like the one @PaoloRotolo it would be a bit too colorful I'd say

[2015-11-08 11:39] bkerensa commented on #98
@elioqoshi I believe if we are removing the pink like @satya164 proposed then just the dots would be colored. I really enjoy the pink though right now so idk what the best way forward is on this and defer to you and Satya on what would be most visibly appealing and functional.

[2015-11-08 11:40] elioqoshi commented on #98
That should be okay then, would make sense.

[2015-11-08 11:42] PaoloRotolo commented on #98
![screenshot_2015-11-08-12-41-56](https://cloud.githubusercontent.com/assets/5623301/11020138/22ad3b3a-8616-11e5-878c-a89f6fa2bd80.png)

[2015-11-08 11:46] bkerensa commented on #98
I really like this much better @PaoloRotolo it makes better use of the space

[2015-11-08 11:55] satya164 commented on #98
Something like this? The legends can be scrollbale horizontally if they don't fit.

![3-glucosio-overview](https://cloud.githubusercontent.com/assets/1174278/11020187/97a3162c-863d-11e5-9f77-ab5bae63c51f.png)

[2015-11-08 11:56] PaoloRotolo commented on #98
Okay

[2015-11-08 11:56] bkerensa commented on #98
Looks nice :D maybe we can make the green a little greener? Like more of a holly or evergreen green? It looks like a mashed pea green right now :)

[2015-11-08 11:57] satya164 commented on #98
@bkerensa Will play with shades

[2015-11-08 11:58] PaoloRotolo commented on #98
Did you mean this for graph?

![screenshot_2015-11-08-12-58-29](https://cloud.githubusercontent.com/assets/5623301/11020204/73f7e2ae-8618-11e5-831c-3d637859834f.png)

[2015-11-08 11:59] bkerensa commented on #122
@krt16s Any thoughts on my last comment? If you could show us some examples of how other projects have done seperate builds this would be helpful. Please know that the library we are using is still open source.

I noticed you stop building in F-Droid and some people have just migrated to Google Play Store version. might you consider just putting up the warning and building for now?

Again if you c

[2015-11-08 11:59] satya164 commented on #98
Without a dark pink line, the circles look weird if they have a void.

[2015-11-08 12:01] bkerensa commented on #98
:+1:

[2015-11-08 12:03] PaoloRotolo commented on #98
![screenshot_2015-11-08-13-02-22](https://cloud.githubusercontent.com/assets/5623301/11020222/177dfc10-8619-11e5-9014-65c7f7d3964a.png)

[2015-11-08 12:08] satya164 commented on #98
Yeah, better.

[2015-11-08 12:44] PaoloRotolo commented on #98
BTW, I prefer the pink one, it looks confusing now.
What if we use pink lines and colored void circles?

[2015-11-08 15:12] PaoloRotolo commented on #98
Ok, reduced circle size and looks better, yeah.

![screenshot_2015-11-08-16-07-03](https://cloud.githubusercontent.com/assets/5623301/11021003/8bbaef74-8633-11e5-970b-57952ce29382.png)

[2015-11-08 20:16] piotrek1543 commented on #152
Hi @satya164 and @PaoloRotolo, can i close an issue? Has that already been fixed?

[2015-11-08 20:18] PaoloRotolo commented on #152
I'm pushing the code right now.

[2015-11-08 20:19] piotrek1543 commented on #152
@PaoloRotolo, ok.

[2015-11-08 20:31] #152 closed

[2015-11-08 20:31] PaoloRotolo commented on #152
@piotrek1543 Fixed. Try it in today's daily: http://daily.glucosio.org/

[2015-11-08 20:55] piotrek1543 commented on #152
Hi, I've already installed an app. I would test it and if it would be necessary create some notes or issues.

[2015-11-08 21:14] piotrek1543 opened #160 "Clicking on graph legend would open a custom info dialog with values"
Hi,

I'm already testing Glucosio-Daily downloaded from website as @PaoloRotolo suggested me. I noticed nice-looking graph with colourful points, which I can click to get a scale to another values.

I think it would be a good idea if after clicking on bar with colors and names like Hypoglycemia it would show an info dialog with values for every item. It may improve a little a user experience, much

[2015-11-09 08:10] bkerensa commented on #160
@piotrek1543 Probably good to discuss this in #98 I had suggested a legend/information market that opens on tap.

[2015-11-09 08:20] piotrek1543 commented on #160
@bkerensa please reference this issue with #98. After this, I think you can close it.

[2015-11-09 20:05] PaoloRotolo commented on #99
@amouly Yes, all the code is commented. Basically idk why but it always forces locale to English. Even if my android language is italian. I've tried debugging it and I'm sure I set the right locale from the selector. It just reverts back to English. There's probably something that's changing the activity state and forcing locale to default again.

[2015-11-09 20:07] amouly commented on #99
@PaoloRotolo did you test closing the Preferences activity (finish()) and restarting the app from the MainActivity? This way we force the system to use the new selected lang.

[2015-11-09 20:09] PaoloRotolo commented on #99
Yes, I've also tried to read the preference on start in GlucosioApplication.java.
We already apply the custom font in GlucosioApplication just one time for all the app's activities.

[2015-11-10 03:49] amouly commented on #144
@PaoloRotolo why we are using the MikePenz library for this? Our Drawer it's pretty simple, maybe with the Support Design Library we can achieve the same functionality and not depend on extra libraries.

[2015-11-10 11:55] PaoloRotolo commented on #144
@amouly it will become more complex later. MikePenz's drawer is well supported and maintained.
Also this means less code, we don't have to build another custom adapter for navDrawer.

[2015-11-10 11:56] PaoloRotolo commented on #144
I'm closing the issue BTW. The new drawer is available in Glucosio 0.8.3.

[2015-11-10 11:56] #144 closed

[2015-11-11 19:03] amouly commented on #99
@bkerensa so, based on the discussion with Ian Lake (on Google Plus) what we are going to do? I agree with Ian's comments, we should stick to Android Platform languages.

[2015-11-11 20:03] elioqoshi commented on #99
I think it's unfair to say to stick with Android platform languages when it's not possible to bring on a language that way. If we are not inclusive we are only halfway open source, ideologically speaking.

[2015-11-12 13:05] bkerensa commented on #99
@amouly The problem is Android Platform Languages are not consistent across devices depending on where device is sold and Android version. Ian said Albanian is supported on all modern versions of Android but @elioqoshi pointed out his phone does not have Albanian.

This is a problem because the OS has a locale fragmentation where if a device or region doesnt have the same locales that Android pupo

[2015-11-15 10:45] #146 closed

[2015-11-15 10:49] #147 closed

[2015-11-15 10:52] PaoloRotolo commented on #98
Merging with issue #160: Clicking on graph legend would open a custom info dialog with values.

[2015-11-15 10:52] #160 closed

[2015-11-18 23:28] krt16s commented on #122
(just fyi: i am rather busy atm, maybe i can look into this the next week)

[2015-11-18 23:59] bkerensa commented on #122
@krt16s no worries if you want email us at hello at glucosio.org and I can loop you in with our Android lead who can explain the various ways he has tried to tackle this and why the approaches dont work. We definately want to get a build you can use because the current build on F-Droid has a bug and also lacks all the new features we have added.

We are actually seeing people uninstall the F-Droid

[2015-11-20 14:10] lgp171188 opened #165 "Date and time picker widgets always show the current date and time even when they have data"
I'm running Glucosio version 0.8.3 installed from the Google Play Store. When entering a reading, it is possible to select the date and time from the widgets provided. If I entered a date/time and want to edit it again, it always defaults to current date/time instead of the current value in the field which is not very intuitive.

[2015-11-20 14:11] lgp171188 opened #166 "Issue template link in CONTRIBUTING.md isn't valid and returns a 404"
https://raw.githubusercontent.com/Glucosio/glucosio-project-tools/gh/templates/master/issue_template.md is the link.

[2015-11-20 14:20] lgp171188 opened #167 "Issues with the weekly graph view"
I use Glucosio 0.8.3 from the Google Play Store and have data for 3 weeks as per this graph.
![screenshot_2015-11-20-19-43-22](https://cloud.githubusercontent.com/assets/218870/11301733/376913a2-8fbf-11e5-814e-3a36cb8e5204.png)

Here are the issues that I see with it.

1. It is not clear what information the graph seems to show. Is it the average for a week's time? If so, when does the week start

[2015-11-20 14:23] lgp171188 opened #168 "Show the reading value when clicking on a point in the graph"
***1 Upvote*** The graphs are very useful to see the ranges and variations in blood sugar readings, but when clicking on a single reading (represented by a point) in the graph, it will great if some information about the reading (at least the reading value) is shown as a tooltip. Right now it just shows 2 lines touching the axes which is not very helpful.

[2015-11-20 19:33] satya164 commented on #168
+1

[2015-11-22 02:37] bkerensa opened #169 "This is a sample bug. Reported by Instabug."
**Number:** 	 3

**URL:** 	 https://instabug.com/applications/instabug-ios/issues/3

**Type:** 	 bug

**Status:** 	 New

**Email:** 	 noreply@instabug.com

**Comment:**
[code]

**Location:** 	 San Francisco, USA

**Device:** 	 iPhone 4 / iOS 7.0

**Memory:** 	 Used: 3084.42 MB, Free: 1000.87 MB

**Storage:** 	 Used: 25.15 GB, Free: 5.32 GB

**Connectivity:** 	 Carrier: Verizon, WiFi: Home WiFi

**

[2015-11-22 02:45] bkerensa opened #170 "Nepal missing from country list upon setup"
Comment from Social Media

[2015-11-22 02:53] bkerensa commented on #170
Looking over our code I do not see any country strings and see this:
ArrayList<String> countries = new ArrayList<>();
Locale[] locales = Locale.getAvailableLocales();

So it appears we get the array from Android? If so they left out Nepal and this in addition to their language fragmentation is another reason we might have to DIY.

[2015-11-24 16:05] #169 closed

[2015-11-26 06:02] #166 closed

[2015-11-26 06:14] bkerensa commented on #109
@satya164 Any chance you could take this on in the next week?

[2015-11-26 09:09] satya164 commented on #109
@bkerensa I'll work on it this weekend

[2015-11-30 02:18] satya164 commented on #109
Ok, so this is getting really complex here. Let's try to make it simpler. First lets clear up few things. I have no idea about these things, so please correct me where I'm wrong,

### What's the purpose of the Add Entry dialog?
As far as I understand, the current add entry dialog is used to add an entry for blood Glucose level. So, how do the following fit into it?

1. Cholestorol lab result
2. Bl

[2015-11-30 15:49] bkerensa commented on #170
@PaoloRotolo Can you investigate this some

[2015-11-30 16:00] bkerensa commented on #158
@PaoloRotolo What kind of text did you need here? Might need some context

[2015-11-30 16:04] bkerensa opened #172 "Albanian Language"
Albanian is supported in Android but due to some bug the locale is not shipped in all versions of Android.

Tracking upstream in https://code.google.com/p/android/issues/detail?id=194912 and https://code.google.com/p/android/issues/detail?id=166426

Although if we fix issue #99 we can just circle around Android's locale system do our own thing and support all languages since Android's locale syste

[2015-11-30 16:11] bkerensa opened #173 "Add Assistant Export Hint"
String: Share your data with your doctor or backup your data to Google Drive using the export feature.

[2015-11-30 16:18] bkerensa commented on #109
@satya164  1, 4 and 5 vary depending on the patient but I would say at least once a quarter to monthly depending on how often their doctor checks these. Although 5 (HBa1c) some people do check this daily as they now have home meters.

2 (BP) some people do this once or twice a day if they have hypertension alongside their diabetes which is common.

3. Many check their weight daily

4. Many also ch

[2015-11-30 16:20] bkerensa commented on #109
@PaoloRotolo FYI as we add these metrics in once we get the UX we will want to then start thinking about syncing with Google Fit and other apps like MyFitnessPal as we can also automatically snag these metrics from those apps but also we can push these metrics to those apps to so they can use either and keep all their data in sync.

[2015-11-30 16:22] satya164 commented on #109
@bkerensa Yeah, but do the tests coincide with blood sugar tests? Does it make sense for these readings in the same dialog as the blood sugar entry dialog?

[2015-11-30 16:39] bkerensa commented on #109
@satya164 Well I suppose having them all in one dialog would make it easier and less cluttered than having a dozen dialogs tucked elsewhere. And ultimately I think we hope to graph this data alongside glucose levels so people have a high resolution view of how these metrics impact their glucose and diabetes.

[2015-11-30 16:43] satya164 commented on #109
@bkerensa I think having all these in one dialog make it cluttered and make it harder to focus on the actual data the user wants to add.

About dozen dialogs tucked elsewhere, ultimately this will depend on the design, I'm sure we can find a good balance here.

About showing the data alongside glucose levels, we can always do that based on the timestamp of the entry.

[2015-11-30 16:48] satya164 commented on #109
When I look at the apps which throw every possible entry all in one dialog, I feel overwhelmed and confused on what are optional, what are required, what should I enter, what I don't.

I believe that entering data is a very crucial part of the app and it should be as easy and smooth as possible. And that's what will make Glucosio stand apart from other similar apps.

[2015-11-30 16:51] bkerensa commented on #109
Okie dokie :) well we will wait for your proposed mockups

[2015-11-30 17:11] elioqoshi commented on #172
Having a close eye on this. Can't promote Glucosio without it being in Albanian...

[2015-11-30 17:13] bkerensa commented on #172
@satya164 So this is a bug in Android not much we can do about it since Android does not support the Albanian language. Since a majority of Android apps rely on Android's locale system since a language switcher is somewhat buggy to implement that means I do not think there is any Glucose app currently that supports Albanian because the platform doesn't support it.

Google basically told us they do

[2015-11-30 17:26] bkerensa opened #174 "Add Open EPIC EMR Support for Sharing Results with Doctor"
Open EPIC allows use to tie in something like our export feature to their API and directly send Glucose and other data to doctors that use EPIC EMR or MyChart https://open.epic.com/Ancillary/Results

We should investigate adding support for this

[2015-11-30 19:51] #173 closed

[2015-12-01 16:30] PaoloRotolo commented on #158
@satya164 can you please provide a better design for Export Activity? I guess the actual design has a lot of free space.

![screenshot_2015-12-01-17-27-58](https://cloud.githubusercontent.com/assets/5623301/11506724/19ccc984-9851-11e5-9de0-23de7320152b.png)

![screenshot_2015-12-01-17-28-01](https://cloud.githubusercontent.com/assets/5623301/11506723/19cb0d6a-9851-11e5-8692-ddb5bd3b26d5.png)

[2015-12-03 07:08] satya164 commented on #109
Here are some initial ideas,

![1 1-glucosio-add-types](https://cloud.githubusercontent.com/assets/1174278/11554066/b7be7bfa-99ba-11e5-9662-73bda1587851.png)

![2-glucosio-add](https://cloud.githubusercontent.com/assets/1174278/11554068/bd90d0f0-99ba-11e5-90e8-a77d7fc1e5ec.png)

[2015-12-03 07:49] satya164 commented on #158
We really don't need an Activity for this (at least not yet). A simple dialog will be enough.

![img_20151203_131601](https://cloud.githubusercontent.com/assets/1174278/11554712/7a2eaa48-99c0-11e5-8126-e5c1df9426c9.jpg)

[2015-12-03 07:52] satya164 commented on #158
Also, if I've selected "Export Range" and not specified the dates, then the "Export" button should be disabled. Right now it says "Exporting 0 readings..." or something.

The exported file name should be something like "gulcosio-export-data-${fromdate}-${todate}". Right now it's -18728 something.

[2015-12-03 07:53] satya164 commented on #109
We can ask for the meal data after the reading is added in a Snackbar.

[2015-12-03 08:05] satya164 commented on #172
@bkerensa How hard is it to implement our own language switcher?

[2015-12-03 14:48] bkerensa commented on #172
Pretty hard Paolo has been trying for two months now. Android isn't built for you to go around its locale system.

Everything he has tried has failed and he has sought advice of other android secs and their code didn't work either

[2015-12-03 14:59] satya164 commented on #172
That's sad. So what are we gonna do?

[2015-12-03 15:15] bkerensa commented on #172
Still investigating workarounds

[2015-12-03 19:34] bkerensa commented on #109
@satya164 I really like the colors can we use icons in the circle of each one? ( @elioqoshi  feedback?) also how are those circles displayed? Are they triggered by pressing one circle that expands out into that?

[2015-12-03 22:34] satya164 commented on #109
@bkerensa Yes. Yes. I didn't use icons here since it was just a mockup, and we need to decide the icons and all.

[2015-12-04 00:06] bkerensa commented on #109
![tool848](https://cloud.githubusercontent.com/assets/859175/11578159/cd6a8ed6-99d7-11e5-816b-0ac2ce46c0d7.png)
![blood12](https://cloud.githubusercontent.com/assets/859175/11578158/cd67b88c-99d7-11e5-9781-3776159cb39b.png)
![drop3](https://cloud.githubusercontent.com/assets/859175/11578160/cd6ba780-99d7-11e5-8583-e64ef59e6cc3.png)

[2015-12-04 00:09] bkerensa commented on #109
Those are just some ideas the blood drop for Glucose, Cuff for Blood Pressure and Scale for Weight and for Cholesterol I might do two blood drops one with HDL and the other with LDL inside.

For Ketones I might do a drop with K inside and for HBA1C I would put "HbA1C"  I would maybe do a blood drop with a magnifying glass that says "HbA1C"  <-- btw casing matters :P

[2015-12-04 00:10] bkerensa commented on #109
@PaoloRotolo Can you get this added the current mockup and work with @satya on any final tweaks needed land this and correct any text like the HbA1c that way we can begin l10n and then @elioqoshi says in a few days he can do the icons overlay.

[2015-12-04 14:42] Aeyoun commented on #117
As Glucosio can be considered sensitive personal and medical information, I wounder if the information in backup files will be encrypted? Have this been considered?

[2015-12-04 14:43] Aeyoun opened #175 "Grey 20px bar at bottom while scrolling in history view"
The height of the scrollable view doesn't fit the parent view so there is a grey bar at the bottom of history view when scrolling downwards.

[2015-12-04 14:45] Aeyoun opened #176 "Floating action button covers up the Tip on the Overview tab"
The FAB is floating on top of the tip. Should either be a padding at the bottom of the view equal to the height of the FAB or the content must wrap around the FAB. Can't read the whole tip.

[2015-12-04 14:46] Aeyoun opened #177 "Add floating "Undo" after deleting, allowing some 20 sec to undo"
Many apps have a floating black overlay with an "Undo" link to undo accidental deletes. Glucosio should have the same. When deleting, hide the item from History and wait for the overlay to disappear before actually removing the data point.

[2015-12-04 14:50] Aeyoun opened #178 "Color blind friendlier icons"
Both Overview and History depends on colors to show high and lows. This works well for many users, but for many these colors all look the same! Use symbols as well as colors to represent values.

Lows should use ▲ for highs (with an thick line below the rectangle for hypoglycemia), ▼ for lows, and ● for regular values. These symbols are commonly used in other diabetic software and are quite self-e

[2015-12-04 14:50] bkerensa commented on #117
We are only planning to support providers which use a reasonable degree of protection of backup in this case we believe Google Drive does this it offer two factor and many people store sensitive data on it already.

Adding encryption would impact portability of the data. If users want to encrypt the data when they export it storage they have that option.

[2015-12-04 14:51] Aeyoun opened #179 "Add daily and weekly averages to the overview page"
Below "last check" on the overview page, the app should show my daily and weekly averages. Ideally, should compare these averages to my 3 month average too.

[2015-12-04 14:52] Aeyoun opened #180 "Add timestamp to "Last check" on overview"
The overview page displays the last check value. But when was this measurement taken? Please include a relative timestamp "3 hours ago", "70 minutes ago" to actually give me a quick overview.

[2015-12-04 14:54] bkerensa commented on #180
Time stamp is available in history

[2015-12-04 14:56] Aeyoun opened #181 "Assistant should suggest corrective actions"
With over one month worth of data, the app should make suggestions. Looking at my own data, in 70% of cases I take to little insulin for my meals. I have before and after values for many meals. The app should follow up on this for me.

"Your after-meal averages after {breakfast|lunch|dinner|most meals} is consistently too high. Consider carefully to adjusting your insulin dosage to correct this tr

[2015-12-04 14:57] Aeyoun opened #182 "Add new default category "evening meal""
There are four primary meals in most nutritional recommendations around the world : breakfast, lunch, dinner, and evening meal. The app is missing "Evening meal" in the default setup.

[2015-12-04 15:01] Aeyoun opened #183 "Ask a few extra questions for aid researcher"
I’m no researcher, but I can imagine researchers would want to know these extra data points (should be totally optional to fill them in in the Settings page):

* Pump or pens
* Type of insulin
* How frequently do you visit a diabetic specialist
* Number of people in the household
* Other?

[2015-12-04 15:04] Aeyoun opened #184 "Read-only sync option"
For sync, should be able to sync data to a read-only device (like a parent monitoring a child's glucose levels).

[2015-12-04 15:14] Aeyoun commented on #180
I know. However, when I open the app it takes me to overview page which shows me my last measurement. A relative time stamp next to that value would help me determine whether it's time to take a new measurement or not.

[2015-12-04 15:17] bkerensa commented on #178
I'd prefer we add a high contrast mode or add accessibility settings versus changing the global UX for the end user. We will evaluate this issue at our next meeting.

[2015-12-04 15:18] bkerensa commented on #177
Great idea we will get this added in 0.9.0

[2015-12-04 18:36] #176 closed

[2015-12-04 18:40] PaoloRotolo commented on #177
Hey @Aeyoun. We already have a Snackbar with an Undo buttons that appears after a reading is deleted.

[2015-12-04 20:30] elioqoshi commented on #109
I will be at the Mozilla All Hands Meeting next week and will be available again only after 14th December.

[2015-12-04 20:34] bkerensa commented on #109
@elioqoshi That is fine our deadline for this is at least two days before Christmas if possible.

[2015-12-04 20:34] elioqoshi commented on #109
No problem, just ping me again on 15th Dec or so if I forget by any chance.

[2015-12-04 20:43] bkerensa commented on #183
We already have plans for this we just have not created an issue to track it so I will keep this open till the text of the issue we are putting together can be published.

[2015-12-04 20:44] bkerensa commented on #181
This is already planned for our next iteration of assistant so again marking this as review needed and will close it when that bug is open.

[2015-12-04 20:45] bkerensa commented on #180
@PaoloRotolo Let's see if we can do this for 0.8.4 this should be priority two so lets make sure we get the other work done first were tracking for 0.8.4 but if we can get this in then do it.

[2015-12-04 20:47] bkerensa commented on #179
@PaoloRotolo This one two although I am marking this one P1 we still should focus on other work for 0.8.4 but this takes slightly higher priority over the time stamp. We will not block release on this though.

[2015-12-04 20:49] bkerensa commented on #178
@PaoloRotolo For this we can use some of the request by @Aeyoun for guidance but the pref is for us to have a toggle in settings under an accessibility menu so we do not change the entire global experience for non-blind users but can accommodate those who are color blind or having vision problems.

We will need UX feedback on this and thanks @Aeyoun for the issue.

[2015-12-04 20:59] Aeyoun commented on #179
Thank you for considering all my requests. Sorry for being an idea-guy in this project and not contributing code directly.

[2015-12-05 12:54] PaoloRotolo commented on #170
Nepal is present in Android 6.0 stock, CM12 and CM13. It's probably something ROM specific.

[2015-12-05 19:56] PaoloRotolo commented on #180
Done.

![screenshot from 2015-12-05 20-56-29](https://cloud.githubusercontent.com/assets/5623301/11609887/b0eaec62-9b92-11e5-8d8c-6085d0891973.png)

[2015-12-05 19:57] #180 closed

[2015-12-05 19:58] Aeyoun commented on #180
Thank you. :+1:

[2015-12-05 23:15] bkerensa commented on #180
@Aeyoun maybe we will soon earn a four or five star play review from you!

[2015-12-06 00:24] Aeyoun commented on #180
@bkerensa, my Play Store review reflects the current publicly released version. Without data import/export I’ll consider the app more of a toy than a long-term glucose management/insights tracking thingy. I assumed the project is aiming for the latter and it seems to be getting there. My phones have a tendency to die fairly often so … yeah, need a way to backup data.

Once the assistant starts con

[2015-12-06 00:25] da2x opened #185 "Distribute through Amazon App Store"
Not that I use it, but plenty of other people do.

[2015-12-06 00:30] bkerensa commented on #180
The import and export should be release closer to Christmas as we're trying to bundle a few more features into the 0.8.4 release.

The 0.9.0 or 1.0.0 release will probably start landing significant changes to assistant. This bit takes a lot more work so will be done in pieces and take more time plus we have to comply with regulations and be careful about messaging and make sure it gets reviewed by

[2015-12-06 00:38] Aeyoun commented on #180
I thought about the legal implications. An EULA should help protect against liability. Then again, I know Americans get a bit overeager about suing each other all the time.

Although, starting out by pointing out where/when there is room for improvement (without specifying how to improve them) really shouldn’t be an issue. If you write things like "take more insulin" could get tricky but saying "y

[2015-12-06 01:03] bkerensa commented on #180
Right and this is why we're evaluating all messaging through through legal first to protect ourselves as a project since we wouldn't have the means to defend against lawsuits or even fines since we don't make any money from the project. Where many other apps sell user data, monetize through ads or charge for the apps and might have the revenue to take more risk.

[2015-12-06 01:14] bkerensa commented on #185
We will look into this more next year because of our reliance on Google Play Services for Crash analytics and under the hood features we would likely have to do a entirely desperate build and maintain superstar code which could take away momentum on our Google Play distribution which would be the largest audience. I believe Amazon has less than 1% of Android devices.

[2015-12-07 23:51] Aeyoun opened #186 "Import data from meters using camera OCR"
This is a high flying idea for a later version. I already hate the app. It’s not really the app’s fault but I just don’t like having to manually add values to the meter all the time. If I forget to add a reading it feels like a huge effort having to go back later and add it.

Most meter have big, backlit, and clear displays using huge fonts for test values and timestamps for accessibility reasons.

[2015-12-08 11:00] PaoloRotolo commented on #186
Please comment on bug #106. This looks like duplicate.

[2015-12-08 11:00] #186 closed

[2015-12-11 03:04] Aeyoun opened #187 "Allow comma as decimal separator"
My device’s default keyboard, the Sony Xperia Keyboard, only has a comma but not period for use as a decimal separator. I’m in a region that uses commas instead of periods and naturally I’d appreciate to enter values with a comma. (The split between the two decimal separators is roughly [50%/50%](https://www.slightfuture.com/webdev/html5-input-number-localization.html) – the split goes between for

[2015-12-23 13:10] elioqoshi commented on #109
First proposal

![glucosio icons](https://cloud.githubusercontent.com/assets/5436686/11977033/f4bb301a-a97e-11e5-83af-0d20980c35fa.jpg)

[2015-12-23 15:15] elioqoshi commented on #109
Here are the final icons @PaoloRotolo
http://elioqoshi.me/owncloud/index.php/s/UbYvKNDp32NrJRS

[2015-12-23 15:17] bkerensa commented on #109
I'll grab these tonight too and push them to branding as we will need them for iOS too

[2016-01-02 00:19] bkerensa opened #189 "Add Accessibility Menu"
We should add an accessibility submenu to settings for accessibility features for users needing them.

[2016-01-02 00:20] bkerensa opened #190 "Add OpenDyslexic Support"
Add OpenDyslexic Font support which can be toggled on via Accessibility submenu for people with dyslexia.

See http://opendyslexic.org/

[2016-01-05 16:39] Aeyoun opened #191 "Don’t allow registering the same measurement at the same time more than once"
1. Add a measurement at 13:00 today
2. Add the same measurement at 13:00 today again

Expected: Shouldn’t let you do that as you already have the value registered.

[2016-01-05 17:42] satya164 commented on #191
+1

[2016-01-05 18:48] bkerensa commented on #191
In fact we should add a toast error

"You already have an entry for this time. Please delete it in history and try again"

Or something like that

[2016-01-05 18:53] Aeyoun commented on #191
Dno’t block multiple measurements for the same time. Users could doubt it and recheck. But having the exact same measurement for the same time is an indicator of user error.

[2016-01-05 19:56] satya164 commented on #191
We should show a warning in both cases. Mostly it'll be a user error. If the values are different, we can ask to replace the existing value.

[2016-01-06 12:21] Aeyoun opened #193 "Click on FAB picked up by the drop-down underneath it"
Clicking on the floating action button in [screenshot 1](https://cloud.githubusercontent.com/assets/1102886/12142424/480009e0-b478-11e5-9b32-ede0828da9af.png) is sent to the drop-down list below it resulting in [screenshot 2](https://cloud.githubusercontent.com/assets/1102886/12142425/4802f790-b478-11e5-9ab9-c6b1cb4105c6.png). Started happening in the new version 0.9.0 that I got through Google Pl

[2016-01-06 14:37] PaoloRotolo commented on #193
Hey, I've just updated a patched version to Google Play (0.9.1) that should fix the issue.
Thanks!

[2016-01-06 14:42] Aeyoun commented on #193
Thanks, I got the update just now. But I don’t think hiding the FAB is the right solution. It makes it more awkward and time consuming to add new readings.

[2016-01-06 14:44] PaoloRotolo commented on #193
I know, this is just a temporary fix. We will release a new patch version with duplicate entry check and other fixes soon.

[2016-01-07 18:03] Aeyoun opened #195 "Terrible performance in latest version"
I can’t scroll in History anymore. Scrolls one or two items than stutters and paints one row of pixels at a time before stopping entirely. Takes a good three-seconds to after clicking filling in a reading and confirming input before the add-reading activity disappears. The graph in overview takes 2–10 seconds to draw. This was not a problem before. I’ve got 317 readings in total over three .

From

[2016-01-07 18:05] bkerensa commented on #195
Please edit your bug to use the following format:
https://github.com/Glucosio/project-tools/blob/master/gh/templates/issue_template.md

[2016-01-07 20:32] Aeyoun commented on #195
en-us locale, nb-no keyboard, mmol/L, Sony Xperia Z3, Android 6.0.1, Google Play Store (since I can’t move data from GPS to F-Droid yet)

Catlog while scrolling in history view:

Choreographer: Skipped 36 frames!  The application may be doing too much work on its main thread.
art     : Background partial concurrent mark sweep GC freed 361816(12MB) AllocSpace objects, 0(0B) LOS objects, 31% free, 3

[2016-01-07 20:38] bkerensa commented on #195
@PaoloRotolo Assigning to you but I will try and grab my logs from test devices today and see if I can reproduce.

[2016-01-07 21:30] PaoloRotolo commented on #195
I can confirm it on my Moto G. I'm working to find out what's causing the issue in the new adapter.

[2016-01-08 01:05] Aeyoun commented on #120
I’d like to be prompted to add a reminder two hours after registering a high reading. (Assuming the high reading is very new – 15 min. or so.)

[2016-01-08 16:11] #195 closed

[2016-01-08 16:54] PaoloRotolo commented on #193
@satya164 will provide some mockups to fix this with a better UI.

[2016-01-08 17:05] PaoloRotolo commented on #195
@Aeyoun This is now fixed in 0.9.2. Can you confirm?

[2016-01-08 18:27] Aeyoun commented on #195
Smooth scrolling in the latest build.

[2016-01-08 19:36] Aeyoun commented on #193
Another regression with the current build's workaround: Have two click the FAB twice to add a reading. The button seem to get into pressed state on the first press and then actually submitted the click on the second click.

[2016-01-16 19:35] #191 closed

[2016-01-19 21:54] satya164 commented on #193
Sorry @PaoloRotolo for the delay. Will work in it tomorrow morning. Please ping me on Telegram.

[2016-01-21 11:53] Aeyoun opened #201 "“You already have an entry for this time” displayed every time"
Latest version 0.9.3 via Google Play. Add glucose reading dialog. Enter any reading. Press Done or Back to dismiss the soft keyboard. Click the FAB (you have to dismiss the keyboard first to see it). Get snackbar about already having a reading for that time. The glucose reading dialog remains open even after clicking on the FAB. Clicking on FAB again has no effect, clicking back  takes you out of

[2016-01-21 11:53] Aeyoun commented on #191
Introduced regression #201.

[2016-01-25 09:21] bkerensa opened #202 "Use Locale Time and Date Formats"
I noticed in the date picker when adding value that it is still using ISO 8601 formatting instead of the U.S. date format: https://en.wikipedia.org/wiki/Date_and_time_notation_in_the_United_States#Date

So what I see is YYYY-DD-MM but U.S. uses MM-DD-YYYY or MM-DD-YY and we should also make sure we are respecting date and time formats for all android supported locales. That said I think U.S. is th

[2016-01-25 09:24] bkerensa commented on #122
@krt16s Since we agree that the code is non-free but understand to a degree the rationale
of F-Droid would it be acceptable for us to just have this be opt-in? So otherwise it is off in the code by default but the user choices whether they would like to toggle it on?

[2016-01-25 09:24] bkerensa commented on #170
Closing this but if it reoccurs we can reopen

[2016-01-25 09:24] #170 closed

[2016-01-25 09:25] bkerensa commented on #131
@satya164 Can we get some feedback on this? @elioqoshi was thinking maybe the Glucosio pink drop made up of each contributors name like Cyanogenmod uses their logo with contributor names... thoughts?

[2016-01-25 21:48] bkerensa commented on #201
@PaoloRotolo is this resolved?

[2016-01-25 23:44] krt16s commented on #122
Yikes... forgot about that one.. again.

On Optin: I don't understand, fdroids buildserver just does not have play-services installed. All apps requiring it fail to build.

On floss gradle flavor:

1) Add the following lines to `app/build.gradle`s android section:
[code]

2) Change non-free depdencies from `compile ....` to `gplayCompile ...`

3) Now you can seperate source files: Instead of `src/

[2016-01-28 18:01] PaoloRotolo commented on #202
Thanks, this should be fixed now.

[2016-01-28 18:02] #202 closed

[2016-01-29 12:53] PaoloRotolo commented on #201
I can't reproduce this...

[2016-02-02 22:44] Aeyoun commented on #201
Installed a new copy on my [admittedly mostly unused] Android tablet, and the same issue happens every time with a clean setup there too.

[2016-02-02 23:11] PaoloRotolo commented on #201
Can you explain better the bug? Maybe attach some pics. Thanks!

[2016-02-03 00:01] Aeyoun commented on #201
1. Open the app
2. Click the FAB and select Blood Glucose Level
3. Click on Concentration to bring up the keyboard (keyboard is not visible by default)
4. Enter a test value
5. Since the FAB is now underneath the keyboard, you must either press Done on the softkeyboard or the Back button to dismiss the keyboard
6. Still on the add reading screen, so click the FAB

Expected: Save value and close ad

[2016-02-04 20:18] weslly99 opened #204 "Glucose no have low level"
Glucose Level
69 mg/dL = Hypoglycemia
70 mg/dL = OK
181 mg/dL = High
201 mg/dL = Hyperglycemia

? = Low

[2016-02-05 19:17] PaoloRotolo commented on #204
Hypo and Hyper are fixed values: 70 mg/dL and 200 mg/dL.
Low and High depends on the configuration you've selected in settings:
ADA: 70 - 180
AACE: 110 - 140
UK NICE: 72 - 153

You can also set custom values for low and high in settings.

[2016-02-06 17:48] MarkOSullivan94 opened #205 "Option to invite someone to use the app is gone but still shown in code"
Just reading through the code and I've noticed that within the onItemClick (line 169 of MainActivity.java) method you've got an option for when item5 is clicked but in the most recent version of Glucosio that I have downloaded, it only has 5 items and the invite item is no longer there in the app.

Just wondering if it's been decided to remove that feature or if it's accidentally missing.

Also, y

[2016-02-07 18:39] weslly99 commented on #204
Thank you :)

[2016-02-08 01:26] TimothyCuffe commented on #38
I've noticed a small issue todo with this feature and since this is still marked open I'm trying to avoid duplicates.
This is my first report on this repository so I've followed the bug reporting template since that's what your documentation states,
but all it basically boils down to is that HBA1C has been implemented as HB1AC.
As far as I can tell on google HB1AC only seems to be used in typos.

[2016-02-08 01:31] bkerensa commented on #38
Hi Timothy,

Thanks we will look into this right away!

[2016-02-08 01:35] TimothyCuffe commented on #201
I can reproduce

Device: A0001
OS: Cyanogen 12.1.1 (android base 5.1.1)
From: Google play

[2016-02-09 15:23] #204 closed

[2016-02-09 15:35] #38 closed

[2016-02-09 15:35] PaoloRotolo commented on #38
Fixed, thanks.

[2016-02-15 17:46] PaoloRotolo commented on #109
@bkerensa Can you please add Elio's icons to branding repo?

[2016-02-15 17:46] #109 closed

[2016-02-15 20:01] PaoloRotolo commented on #205
Hi @MarkOSullivan94. Thanks for the report.
It seems invite feature was removed for testing but never reintroduced again. I've added it back and refactored the items' name to correct order. ;)

Have a good day.

[2016-02-15 20:01] #205 closed

[2016-02-16 00:21] Flameeyes commented on #158
Hi, I've been pointed at this Issue from my repository [glucometerutils](https://github.com/Flameeyes/glucometerutils) (simple script to dump data out of various glucometers I have here, some of which I [reverse engineered myself](https://github.com/Flameeyes/glucometer-protocols/).

I've been given an example of data export, but it does make me wonder quite a bit, particularly:

 * date format: w

[2016-02-16 01:09] bkerensa commented on #109
Done

[2016-02-16 23:15] bkerensa commented on #190
This should be resolved

[2016-02-18 09:41] PaoloRotolo commented on #190
Yes, closing...

[2016-02-18 09:41] #190 closed

[2016-02-18 23:11] acesuares opened #207 "Please add insuline intake."
Hi there,

As I am measuring glucose levels several times a day, and register them in Glucosio, it would be nice to also be able to add insuline intake in the same app. It would be even better maybe, to differentiate between slow and fast insuline, i.e. levemir and novorapid, which are commonly prescribed in our country.

If I can be of any help !?

[2016-03-05 16:16] PaoloRotolo commented on #201
This should be fixed in latest daily build.
Let me know.
http://daily.glucosio.org/

[2016-03-05 16:36] PaoloRotolo commented on #201
BTW, the issue was a duplicate method in mmol/L module. That's why I didn't notice it before: I was looking for it with mg/dL.

[2016-03-05 16:36] #201 closed

[2016-03-06 00:56] TimothyCuffe commented on #187
Maybe add an option in the settings menu for Decimal separators? That way everything could easily be switched back and forth?

[2016-03-06 01:19] TimothyCuffe opened #208 "HBA1C preferred unit"
Recently, my hospital has changed to giving HBA1C readings in mmol/mol, as opposed to %.

The "Preferred unit" in the settings menu only refers to glucose readings. Maybe it should be changed to 'BG unit'.

An independent setting 'HBA1C unit' should also be available, giving % and mmol/mol as an option.

[2016-03-06 03:25] Aeyoun commented on #187
Should at least respect the locale setting. Though, ideally it should just accept both variants no questions asked. Would anyone really insert a thousand separator in the value ranges expected by this app?

[2016-03-06 20:03] Jobava opened #209 "Add an About page to glucosio listing contributors"
Hello, it would be nice to have an About section for the Glucosio app listing contributors: code, design, marketers and translators (or other suitable categories). If it's too many names, there can also be just a hyperlink leading to a web page listing them all.

Thanks!

[2016-03-06 20:04] bkerensa commented on #209
There is already a bug open for this.

[2016-03-06 20:05] #209 closed

[2016-03-06 20:07] bkerensa commented on #209
See issue #131

[2016-03-14 14:58] Borisbudini opened #212 "Beta testing"
Hello, i would like to help by testing Glucosio's app (non stable or so called nightly,or daily)
Any help on how i can do that please?
Thank you

[2016-03-14 15:52] PaoloRotolo commented on #212
Hi!
Just download latest unstable apk from our daily website: http://daily.glucosio.org/

[2016-03-14 15:53] #212 closed

[2016-03-17 10:12] Jobava commented on #131
Can we reopen this issue?

[2016-03-17 10:18] bkerensa commented on #131
This issue is not closed and will be addressed in our next major release

[2016-03-17 22:31] piotrek1543 commented on #175
@Aeyoun it's always a good practice to add at least one screenshot describing the problem. Is it possible to do?

[2016-03-21 01:11] bkerensa opened #213 "Pivotal Test"

[2016-03-21 01:12] #213 closed

[2016-03-21 04:23] prakharmohan0809 commented on #41
So for BP, it'll be added to the same activity where we are taking in the Glucose Reading? As in, the Floating Action Bar will give two options? BP and Glucose?

[2016-03-21 06:00] bkerensa commented on #41
This should actually be closed as we already added Blood Pressure support

[2016-03-21 06:00] #41 closed

[2016-03-21 06:01] bkerensa commented on #172
Since this really is on Google and they are releasing a fix for Android N going to close this

[2016-03-21 06:01] #172 closed

[2016-03-21 06:02] bkerensa commented on #158
@PaoloRotolo we should target Import for 1.0

[2016-03-21 06:03] bkerensa commented on #175
Absent response from reported and screenshot will close this but please reopen if it is still and issue.

[2016-03-21 06:03] #175 closed

[2016-03-30 07:11] chwalters opened #218 "Weight tracking units"
Weight tracking units should chosen by the user, not always specified as metric but also allow imperial

[2016-03-30 18:56] prakharmohan0809 commented on #218
Stone and pound or just pound?

[2016-03-31 01:17] bkerensa commented on #218
We would do kilograms and pounds as stone is not an official measurement under any standard.

[2016-03-31 22:09] Flameeyes commented on #158
Since I had some time to think this through (and I have now a growing collection of different glucometers at hand, probably more than it's healthy), I started defining a general exchange format with some structure and some unstructure: https://github.com/Flameeyes/gdef

I would really like to come to a single data format for exchanging this kind of data, and if someone has suggestions/improvements

[2016-04-02 09:16] bkerensa commented on #122
We are still evaluating this and have had some side discussion with folks at the FSF on F-Droid's policies while were probably in a position to build a F-Droid flavor at this point we need to evaluate whether we want to offer a stripped down experience in order to comply with F-Droid's policies.

This will require some discussion at next core team meeting.

[2016-04-02 14:31] mvdan commented on #122
We really don't have a strange policy here. We simply won't distribute non-free software. Including play-services on your APK, even if it's opt-in usage, makes the app non-free.

[2016-04-02 18:00] bkerensa commented on #122
@mvdan Our discussion with the staff at the FSF and others (including lawyers specializing in OSS licensing) came to the conclusion that F-Droid's non-free interpretation sets the bar higher that even the FSF and that using play-services API is fine.

[2016-04-02 18:04] mvdan commented on #122
It's not an API you are using - it's a non-free library. And you're distributing the non-free library with the apk. How is that fine by the FSF?

[2016-04-02 18:13] bkerensa commented on #122
Play-services library is a wrapper for their API it allows Android apps to interact with Google Services. To remove this functionality would cripple things like support for Android Wear for Social Sharing and more.

VLC, Mozilla and other OSS projects use the same library. Anyways if you have questions about that we'd encourage you to dialogue with the FSF but we disagree with your position based

[2016-04-02 18:20] bkerensa commented on #122
Looks like end of my comment didn't come through:

That said the question here for us is whether to offer a separate build that strips down features which could upset users seeking parity with the Google Play distributed version of our APK. Also do we want to provide a lower level of support just to be in F-Droid.

This is what we need to address and it's a tough one because we'd basically be ship

[2016-04-02 18:45] bkerensa opened #219 "Add F-Droid Build Flavor"
F-Droid has a non-free policy that does not allow the use of Private API's in order to support their platform as a distribution channel we need a build we will call "fdroid" which will need to be free of all third party API's as of our current release this means we will need to remove:

play-services (Crash Data, Sharing, Google Drive Backup) and smooch (Feedback, Support)

This build should also

[2016-04-02 18:46] bkerensa commented on #122
Closing this as this will be addressed in issue #219

[2016-04-02 18:47] #122 closed

[2016-04-02 18:49] mvdan commented on #219
To clarify - we are not against non-free APIs. We have twitter clients, for example. The difference is that these twitter clients don't use non-free java API libraries.

Our inclusion policy is simple - no non-free software.

OTOH, you can set up your own f-droid repository and upload whatever you want to it. See https://f-droid.org/wiki/page/Known_Repositories - non-free apps like Offi have set u

[2016-04-02 19:31] PaoloRotolo commented on #208
Thanks, I'm on it to add the feature in next release.

[2016-04-02 19:32] PaoloRotolo commented on #218
Ok, I'm on it.

[2016-04-02 20:06] Skeptyc commented on #219
I don't think it's unreasonable to provide support for people who don't want Google scraping their data.  Quite a few people run Android without Gapps (either by choice, or because they're using Amazon devices, etc) - and I don't see how supporting those people is bad, either.

[2016-04-02 20:53] bkerensa commented on #219
Right and if we had feedback requesting that we probably would have prioritized such a build much sooner but we haven't so basically were undertaking extra work and supporting a platform where we don't anticipate any users or at the very least so few users that the burden outweighs the few users we might gain.

But alas were moving forward with offering a build but still we need to issue F-Droid a

[2016-04-02 21:36] bkerensa commented on #158
@Flameeyes This is something we are working on too and hope to announce in the coming months which is a open diabetes data spec which other open source projects and vendors can contribute to.

[2016-04-02 21:37] Flameeyes commented on #158
Any reason not to work together on this? I might actually have the most
devices reverse engineered or implemented, so I'd argue I have plenty of
experience on this one.

On Sat, 2 Apr 2016, 22:36 Benjamin Kerensa, <notifications@github.com>
wrote:

--
Diego Elio Pettenò (aka Flameeyes)

[2016-04-02 21:43] bkerensa commented on #158
@Flameeyes The specification we hope to turn into a standard versus another spec that is just used by us or another app or two. Right now there is no standardization and so we hope to bring other OSS projects surrounding diabetes into supporting one standard and it would be an open collaborative effort.

[2016-04-02 21:47] Flameeyes commented on #158
Yes and that's my hope too. Unless you have a longer list than mine, there
aren't that many more projects than yours, mine, OpenGlucose, GGC and a
couple of ad hocs.

I *was* handing a "let's work together on this", which you seem to clearly
want to avoid versus a "we'll do it and you'll accept it" which I found
uselessly confrontational.

But so be it, I guess I won't come any closer to your proj

[2016-04-02 21:50] bkerensa commented on #158
There is Nightscout, Tidepool those are two other big ones for sure but we're also establishing hardware vendor partnerships too so we can use that to leverage some standardization.

[2016-04-02 22:20] bkerensa commented on #158
"I *was* handing a "let's work together on this", which you seem to clearly
want to avoid versus a "we'll do it and you'll accept it" which I found
uselessly confrontational.""

You commented a couple days ago about this prototype your working on we've been working on a concept since year. We've always planned on having our own in house developed spec that we would try and turn into a standard. Th

[2016-04-03 08:18] chrispecoraro commented on #158
http://xkcd.com/927

[2016-04-03 08:25] bkerensa commented on #158
😀

[2016-04-03 10:38] #218 closed

[2016-04-03 10:39] PaoloRotolo commented on #218
Pound unit is now available in Glucosio Daily and will be released to prod with Glucosio 0.10.4.
Thanks.

[2016-04-03 16:07] #208 closed

[2016-04-03 16:31] PaoloRotolo commented on #208
Done, you can try it now on Glucosio Daily channel.

[2016-04-03 17:10] grote commented on #122
@bkerensa Do you mind sharing who you talked to at FSF and what exactly they have told you? I am asking, because there might be a misunderstanding I can help clearing up. (I am with FSFE myself.)

[2016-04-03 17:14] bkerensa commented on #122
No it was a private discussion if they choose to chime in they can but I'm not going to put their name out publicly.

[2016-04-03 17:18] grote commented on #122
@bkerensa You might want to be careful then with claiming this to be an official FSF position.

[2016-04-03 17:21] grote commented on #219
@bkerensa You might want to look into [how Mozilla software was rebranded by Debian](https://en.wikipedia.org/wiki/Mozilla_software_rebranded_by_Debian) because of a similar license issue. In the end Mozilla let them use their branding.
What's the point of releasing Free Software, but than trying to hold back certain freedoms?

[2016-04-03 17:27] mvdan commented on #122
I would be surprised to say the least if the FSF were to say that using play-services was fine.

[2016-04-03 17:36] bkerensa commented on #122
I never said it was a position of the FSF I would caution you not to put words in my mouth. I said it's our position based on private discussions we've had.

If F-Droid is interested in discussing this in private we'd be happy to loop them in and have a dialogue about it more formally. I'd actually encourage F-Droid to seek feedback to improve their policies from both the FSF and OSI.

Notably at

[2016-04-04 00:58] bkerensa commented on #219
@grote

"You might want to look into how Mozilla software was rebranded by Debian because of a similar license issue. In the end Mozilla let them use their branding."

 I'm quite aware as [I was involved in the discussions](https://bugzilla.mozilla.org/show_bug.cgi?id=555935#c23) over the last few years to rebrand Iceweasel as Firefox again (Which recently happened after common ground was found).

[2016-04-04 01:02] bkerensa commented on #219
@mvdan informed me via email that F-Droid is not interested in distributing Glucosio so marking this won't fix and sadly the discussion today and over the past months and efforts on our part have been wasted.

[2016-04-06 17:58] PaoloRotolo commented on #207
@satya164, @elioqoshi I need some design tips on this. I guess we can't just add another button in our expandable Floating Action button, because on smaller phone it will look bad and go out of screen.

@bkerensa Do you think we can add insuline intake as a parameter in Glucose activity?

[2016-04-06 18:48] acesuares commented on #207
Maybe add it in glucose measurement? Most time I  measure and then determine intake. So, could this work:
* 120, 16 (120 measured, 16 units intake)
* 120, 0 (measurement but intake 0)
*  0, 16 (no measurement but intake 16).

In that way you wouldn't have to make an extra button...

[2016-04-11 08:01] bkerensa opened #223 "Remove Smooch.io"
Per Smooch.io terms they prohibit without exception their library or service being used in open source apps.

We need to remove this ASAP as this creates a licensing conflict on our end and a violation of their terms of service.

In the future for all PR's that bring in a external library we will need to be diligent about doing a license check.

This should be fixed through a single patch so it ca

[2016-04-12 07:55] bkerensa opened #224 "Notes overflows over save"
If you hit return constantly it expands the note field past the check/save icon and the reading cannot be saved

[2016-04-12 07:56] bkerensa commented on #224
![screenshot_20160412-005306](https://cloud.githubusercontent.com/assets/859175/14453397/734068d0-0049-11e6-8721-c239a6eb3d50.png)

[2016-04-12 08:09] emartynov commented on #224
What about moving action button on top?
https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7S2NiZlNhcDUxSTA/patterns_actions_fab_content2.png

[2016-04-12 14:39] PaoloRotolo commented on #224
I think moving it top is the best solution too. This could also fix our "keyboard" bug, where the keyboard hides the fab when expanded. @satya164?

[2016-04-12 15:42] satya164 commented on #224
We've two solutions,

1. Move it to top
2. Add a fixed bar at the bottom like twitter does

[2016-04-12 16:56] PaoloRotolo commented on #224
I would vote to move it on the top to keep consistency with other activities.

[2016-04-25 17:56] PaoloRotolo commented on #224
Fixed in latest commit.

![screenshot_20160425-193547](https://cloud.githubusercontent.com/assets/5623301/14793502/bcad054c-0b1f-11e6-82f6-6a413ed8307d.png)

[2016-04-25 17:57] #224 closed

[2016-04-25 17:58] PaoloRotolo commented on #193
Fixed in latest commit.

![screenshot_20160425-193547](https://cloud.githubusercontent.com/assets/5623301/14793559/1d62a5b8-0b20-11e6-8528-2bbeb62b8177.png)

[2016-04-25 17:59] #193 closed

[2016-04-25 18:33] #223 closed

[2016-04-25 22:57] #108 closed

[2016-04-25 22:57] #134 closed

[2016-04-26 22:31] satya164 opened #227 "Design inconsistencies and usability issues"
### Usability issues and bugs

- [ ] When I open the app for the first time, it has a empty screen without any tabs, it should be the same screen as usual, just that instead of the graph, the page should be empty, everything else such as tabs etc should be there
- [ ] When I open the app for the first time, I can only add glucose reading, the fab should be same as normal fab (see previous point)
-

[2016-04-26 23:06] satya164 commented on #43
Closing in favour of #117

[2016-04-26 23:08] satya164 commented on #177
Closing since we already have this. Let's reopen if I'm wrong.

[2016-04-26 23:08] #177 closed

[2016-04-26 23:09] satya164 commented on #40
Closing it since it's there for a few releases now. Please reopen if I'm wrong.

[2016-04-26 23:09] #40 closed

[2016-04-26 23:09] #43 closed

[2016-04-28 15:59] jimmymeboy commented on #174
Hello. How is this feature coming along? Thanks.

[2016-04-30 17:19] PaoloRotolo commented on #165
You're using an old version of Glucosio. Latest one is 0.12.0.

[2016-04-30 17:19] #165 closed

[2016-04-30 22:33] bkerensa commented on #174
We have not begun work on this feature yet it's still backlog.

[2016-05-03 20:00] PaoloRotolo commented on #227
Ok, there's a bug in Material Drawer that prevents it to be bold with custom fonts. I'm waiting for a fix.

[2016-05-04 02:42] satya164 commented on #227
@PaoloRotolo Okies. No problem.

[2016-05-05 22:43] bkerensa opened #228 "Allow user to lock app with pin or password"
In celebration of #PasswordDay I am creating this issue and as we think about tour and splash screen UI we should create a lock screen for the app and add functionality to allow user to set a pin or password to add an extra layer of security over their app install so if their device is stolen or used by someone Glucosio can be locked independently of the OS.

[2016-05-08 10:18] satya164 commented on #228
Why not just use third-party apps to lock Glucosio?

[2016-05-09 00:09] bkerensa commented on #228
@satya164 because thats a third party app they would need to install
and its becoming more common for health apps or finance apps to have their own locking
feature.

[2016-05-09 16:38] bkerensa opened #229 "Spanish translation not displaying"
Got email from Spanish user indicating translation is not showing. Changed device setting to Spanish and can confirm only English strings.

[2016-05-16 08:15] bkerensa opened #230 "Edit entries"
Rather than for users to delete and re-enter we should allow editing of entries too from history.

[2016-05-18 05:06] #116 closed

[2016-05-18 05:06] #117 closed

[2016-05-18 05:07] bkerensa commented on #167
@lgp171188 Are you still having this issue?

[2016-05-18 05:08] bkerensa commented on #120
@satya164 This is all you as its UX we need a sharp reminder system allowing people to set custom reminders with notification support that includes emojis ;)

[2016-05-18 13:23] lgp171188 commented on #167
I have the most recent version from the Play Store and the weekly graph correctly shows one point on the graph per week with that week's average as its values.

Since the screen area is limited, not all the weeks are displayed on the X-axis. So it would be nice to have a tool tip showing the week's date on clicking the average reading for a week on the graph whose week is not listed in the X-axis.

[2016-05-21 18:30] ploctaux opened #231 "Daily backups"
Is it possible to perform a daily backup so that users can forget about doing backups before they loose their device or something like that?

[2016-05-21 19:44] PaoloRotolo commented on #231
Yes, automatic backups is on the ToDo list for next releases.

[2016-05-21 21:44] ploctaux commented on #231
Sweet! :)

--
Philippe Loctaux <phil@philippeloctaux.com>

[2016-05-22 09:45] satya164 commented on #231
Ideally, we should do the backup after every new entry.

[2016-05-23 20:52] satya164 commented on #227
Any updates on this @PaoloRotolo ?

[2016-05-23 21:14] satya164 opened #232 "Design issues with Google Drive backup"
- [ ] Font is not Lato
- [ ] The backup now button should be  a standard Android button with ripples. Check Android Settings > Applications for correct size
- [ ]  The folder selection prompt should come when I click on `Backup now`, or try to set the backup folder, not when I open the screen
- [ ] The Backup folder section should be fully touchable. Currently only top 2/3rd seem to be touchable
-

[2016-05-26 08:03] bkerensa opened #234 "decimal point in a1c calculator causes crash"
From Dev Console:

java.lang.NumberFormatException: Invalid double: ""
	at java.lang.StringToReal.invalidReal(StringToReal.java:63)
	at java.lang.StringToReal.initialParse(StringToReal.java:176)
	at java.lang.StringToReal.parseDouble(StringToReal.java:282)
	at java.lang.Double.parseDouble(Double.java:301)
	at org.glucosio.android.presenter.A1CCalculatorPresenter.calculateA1C(A1CCalculatorPresenter

[2016-05-26 08:56] emartynov commented on #234
@bkerensa Do you remember what you did to get crash? How to reproduce it? Would be helpful

[2016-05-26 17:28] emartynov commented on #234
Just read properly the name of issue, which says what you entered

[2016-05-27 05:09] #234 closed

[2016-05-27 05:12] emartynov commented on #99
Milestone is old. Are we really using them?

[2016-05-27 09:23] bkerensa commented on #227
Lets fix design inconsistencies in our next release

[2016-05-28 10:03] elioqoshi commented on #227
Sorry for my lack of activity. Please ping me for any upcoming tasks.

[2016-05-29 16:07] bkerensa opened #236 "Add Shimmer Support"
http://www.getshimmer.co/

[2016-05-29 17:21] satya164 commented on #230
Here is how it can work, tap an entry to see a action sheet and with edit and delete options. Edit shows the same screen as the add screen.

[2016-05-30 23:57] #158 closed

[2016-06-07 08:53] bkerensa opened #237 "Add Review Us Nag Dialog"
We should add a review us nag dialog:
![](https://files.slack.com/files-tmb/T09S6EY0J-F1EKA2FDY-ef12f5c1a2/screenshot_20160606-160609_1024.png)

Requirements:
- User has opened app five times
- User has made at least five entries of any metric type
- Once dialog is displayed it is not displayed again

This will be on hold by a separate creative bug opening with @elioqoshi
once we have creative wil

[2016-06-07 19:00] PaoloRotolo commented on #237
I'm assigning this to design team for now. Ping me back when a final design is ready to be coded :)

[2016-06-12 08:22] bkerensa opened #239 "Create Automatic Sync"
We now have backup to Google Drive which users can do manually but we need something automated for the end user. So building off this manual backup support we should look into expanding that UI and the backend code to automatically sync and also be able to easily support more backup providers.

Requirements:
- Expand Existing Backup UI with Sync Option
- Support for Google Drive Initially (Other P

[2016-06-25 09:36] #99 closed

[2016-06-25 09:40] emartynov commented on #99
Released with 1.1.0

[2016-06-29 09:30] emartynov opened #244 "App forces user to English language"
Review from Google play:

[2016-06-29 09:53] bkerensa opened #245 "Assistant Defect"
Try Now in Assistant Opens Add Dialog instead of Categories

[2016-06-29 09:55] bkerensa commented on #245
Oh and it says "TRT IT NOW" :D not "Try it now"

[2016-06-29 09:55] bkerensa commented on #245
![screenshot_20151004-132229](https://cloud.githubusercontent.com/assets/859175/16448179/ed90d762-3da4-11e6-847f-4c1e55019c68.png)

[2016-06-30 09:43] emartynov commented on #244
We should add also language to `HelloActivity`. Otherwise, people who can not understand English will not pass it or will not be able to open Preferences

[2016-06-30 15:20] PaoloRotolo commented on #244
Yes after we fix the issue, the best option is delete the language settings in Database, then create a variable in SharedPreferences. Finally, check on start if the variable is created, so we don't delete data each time.

[2016-07-02 09:16] emartynov commented on #244
Will be released soon

[2016-07-02 09:16] #244 closed

[2016-07-02 09:20] #230 closed

[2016-07-02 09:20] PaoloRotolo commented on #230
Fixed in latest release.

[2016-07-02 09:24] emartynov opened #250 "Add language selector to Hello page"
For devices or languages that don't pickup android locale. Becuase settings page is far away for this users

[2016-07-02 16:50] fethomm opened #251 "Can't save glucose levels anymore"
With the latest update I cannot see the little tick that used to show to save a glucose level that I added. I can't find a way to save my entries anymore.  This is with Android 4.4.2 on a Samsung Galaxy Neo. If you need more info, I will be happy to provide it.

[2016-07-02 18:51] emartynov commented on #251
Are you about this:
![tick](https://cloud.githubusercontent.com/assets/295424/16541998/abada740-4096-11e6-9c37-4f2c08bd1cd2.jpg)

[2016-07-02 19:01] fethomm commented on #251
yes, and it is fixed already. :)

Am 02.07.2016 20:51 schrieb Eugen Martynov:

Links:
------
[1]
https://cloud.githubusercontent.com/assets/295424/16541998/abada740-4096-11e6-9c37-4f2c08bd1cd2.jpg
[2]
https://github.com/Glucosio/glucosio-android/issues/251#issuecomment-230116528
[3]
https://github.com/notifications/unsubscribe/AOcQfYXgagX6GzI8GoMIBRdwG8WhLYz_ks5qRrMZgaJpZM4JDtiU

[2016-07-03 12:10] emartynov commented on #251
Closing it for now

[2016-07-03 12:10] #251 closed

[2016-07-06 08:48] bkerensa opened #253 "Export Defect on Devices"
Users on a variety of Samsung devices on various. Versions of Android continue to have issues with export. We are only seeing this in a small subset of users though and on my testing on Samsung hardware the issue is not reproducible.

That said this issue is resulting in continued negative feedback and uninstalls and needs to be a top priority for us to try and identify the cause and provide a fix

[2016-07-06 09:00] emartynov commented on #253
What exactly do they report and what devices do they have?

[2016-07-07 15:34] PaoloRotolo opened #254 "Add possibility to revert to old graph"
Some users are complaining about the new graph for basically 2 reasons:
 - Lag on low end devices;
 - Personal preferences (some liked the old one more and they don't want to change);

[2016-07-07 20:56] PaoloRotolo commented on #231
Ok I'm closing this since #239 is similar.

[2016-07-07 20:56] #231 closed

[2016-07-08 04:44] betsythefc opened #256 "Update F-Droid repo"
The latest version of Glucosio on F-droid is 0.8.1
The latest version of Glucosio on Google Play is 1.1.1

[2016-07-08 05:36] #254 closed

[2016-07-08 07:18] bkerensa commented on #254
So what I would instead like to see us to is allow for customization of our graph and offer a variety of styles in the future. That said we should plan it out well so its not a mess :)

[2016-07-08 07:24] TonnesM opened #257 ""Export range" displays in English"
The "Export range" string keeps displaying in English even though it’s localized for several locales.
https://crowdin.com/translate/glucosio/1/en-enus#q=export+range

While at it, a l10n note about this being intended as a noun (i.e. "the range to export", not "exporting a range") would be welcome, since some localizations appear to use the latter.

[2016-07-09 13:44] HarKoss commented on #207
Hi,

acesuares proposal is a good idea.
Floating Action buttons could be divided into meta categories, that match user activities or data entrance need. For exemple:
 + Before Physical activity
	parameters: Glycemy measured, whish exercise, how long, ...
 + After Physical activity
	parameters:  Glycemy measured, whish exercise, how long, ...
 + Before meal
 	parameters: Glycemy measured, Glucose i

[2016-07-09 14:33] acesuares commented on #207
Or make the buttons configurable, so the user only sees the one he/she needs...

[2016-07-09 16:18] HarKoss commented on #207
Isn't this a doublon of #74 ?

[2016-07-09 16:26] HarKoss commented on #74
Hi,

It look like we can only edit glucose in the history tab.
I saw in the HistoryFragment that OnClickListener only create AddGlucoseActivity.

can I help on that one ?

Regards,

[2016-07-09 16:53] HarKoss opened #258 "Weight edition open Glucemy editor"
Hi,

It look like we can only edit glycaemia in the history tab.
I saw in the HistoryFragment that OnClickListener only create AddGlucoseActivity.

Can I help fixing this one ?

### Steps to reproduce
1. Open History tab
2. Select Body Weight
3. Long old an item of the list
4. Press Edit

### Expected behaviour
Open "Edit Body Weight reading" dialog

### Actual behaviour
Open "Edit Glucose reading

[2016-07-09 18:26] PaoloRotolo commented on #258
Yes, the edit option should not be available at all on not glucose readings since it's not implemented yet.

[2016-07-09 18:56] HarKoss commented on #258
I checked my phone app version is 1.1.1. Is this the testing version or the released one ?
On this version, when I long press on a weight entry, it opens the menu to edit or delete it. And press edit open the "Edit Glucose reading" dialog.
Should it be fixed quickly or in the next release ?

[2016-07-09 20:06] Swalloow commented on #227
Updates issue.

[2016-07-09 20:10] Swalloow commented on #227
How can I update on this?

[2016-07-09 20:18] PaoloRotolo commented on #256
We decided to create a new FOSS-only branch (since Glucosio includes proprietary elements like Google Drive backup API): https://github.com/Glucosio/glucosio-android/tree/foss-only

Now we're waiting for F-Droid to upload a new release.

[2016-07-09 20:20] PaoloRotolo commented on #219
We made a new branch that contains a FOSS-only version of Glucosio: https://github.com/Glucosio/glucosio-android/tree/foss-only

You can build the latest Glucosio version from there.

[2016-07-09 20:20] PaoloRotolo commented on #256
Please refer to #219 for updates.

[2016-07-09 20:20] #256 closed

[2016-07-10 12:37] krt16s commented on #219
Thanks for your effort. However, it doesn't look like this is completely done, at least I run in quite some google dependencies. I tried to strip them but ended up in a depency hell. Here's what i tried before building:

[code]

Btw: where is com.google.android.support:wearable comming from?

[2016-07-10 13:45] PaoloRotolo commented on #257
Thanks, we committed a fix that will be available in next release.

[2016-07-10 13:45] #257 closed

[2016-07-10 13:58] PaoloRotolo commented on #219
Sorry @krt16s I forgot to remove the wear module. Try now please.

[2016-07-11 20:12] krt16s commented on #219
[code]

[2016-07-12 14:24] PaoloRotolo commented on #219
@krt16s Ok there was another Google Play Services check in MainActivity. Since the FOSS build surely will not have GPS installed I've removed it.

[2016-07-12 19:48] krt16s commented on #219
Still a string not caught, but at least with this modification it builds:

https://gitlab.com/fdroid/fdroiddata/commit/7e3e496c6fe9f59e1d54415bc74eac577a1388c9

However, I'll wait for you to merge as much as possible upstream, try to build again, test the release and then enable the build. So if everything is good, we might have the version this weekend :). Thanks for the awesome work!

[2016-07-12 19:49] grote commented on #219
What do you mean by that? Phones without proprietary Google libraries still have GPS and it can be used by apps as well, just not via the API provided by the proprietary libraries.

[2016-07-12 19:54] PaoloRotolo commented on #219
@grote We had a method to check if Play Services were available on the phone before opening Invites or Google Drive backup. Both Invites API and Drive SDK on Android are not open source so the check itself is not needed on the FOSS only build.

@krt16s Thanks for your work, I'll remove the string ASAP.

[2016-07-14 10:42] PaoloRotolo commented on #258
Fixed in latest commit.

[2016-07-14 10:42] #258 closed

[2016-07-14 10:44] PaoloRotolo opened #263 "Make other metrics editable"
This issue was already fixed for Weight (see issue #258).

@HarKoss Can I assign this to you?

[2016-07-15 18:35] HarKoss commented on #263
PaoloRotolo,
Yes of course ;-)

[2016-07-16 11:12] bkerensa commented on #219
Once this is live ping me on coreteam and I can grab their badge https://f-droid.org/posts/get-it-on-f-droid-badges/ and stage it for our next site update.

[2016-07-17 18:31] Ghazghkull opened #264 "Exported CSV file always is empty"
Every time I launch the option of export csv, the app generates an empty csv file :(

[2016-07-17 19:05] PaoloRotolo commented on #264
We're working on it. Actually Export doesn't work for some devices and we're trying to fix the issue ASAP.

[2016-07-17 19:05] PaoloRotolo commented on #264
Please see bug #253

[2016-07-17 19:05] #264 closed

[2016-07-17 19:06] PaoloRotolo commented on #237
@elioqoshi @satya164 any updates on this?

[2016-07-17 19:07] PaoloRotolo commented on #229
This should be fixed in latest release. Can somebody with Spanish locale check please?

[2016-07-17 19:10] Ghazghkull commented on #264
Ok thanks.  I'm diabetic and also Java developer. If I can help you....

[2016-07-17 19:11] PaoloRotolo commented on #264
@Ghazghkull cool, join us on Slack so we can talk about it: http://slack.glucosio.org/

[2016-07-17 19:23] PaoloRotolo commented on #219
Okay, @krt16s does it work now?

[2016-07-18 09:17] satya164 commented on #237
Will get to this tonight.

[2016-07-18 09:27] bkerensa commented on #237
Lets make sure we do not use any prohibited language in asking for reviews as I know there are some rules around what and how you say it.

I will look into the rules on language today

[2016-07-18 22:15] krt16s commented on #219
I still apply a small change to the manifest, but it builds, installs and works (as far as I can tell). I enable the build, see https://gitlab.com/fdroid/fdroiddata/commit/c6229fea.

[2016-07-19 10:04] PaoloRotolo commented on #219
I see on FDroid page that the build succeeded, thanks for your efforts.
I'll close this issue as soon as Glucosio will be available here: https://f-droid.org/repository/browse/?fdid=org.glucosio.android

[2016-07-19 10:08] mvdan commented on #219
FWIW, if you want to link to your app on F-Droid you can use the shorter https://f-droid.org/app/org.glucosio.android - it's what the badge uses.

[2016-07-19 16:09] mvdan commented on #219
Also, I'm pretty sure I already asked in this thread but can't find the comment - what happened to the licensing stuff? Do we still need a license to distribute modified versions of the app?

[2016-07-19 16:26] bkerensa commented on #219
We've already issued a license to use our branding which is trademarked.

Our code is dual licensed under the GPLv3 and MPL 2.0.

[2016-07-19 16:29] mvdan commented on #219
So I understand we are *not* allowed to make any modifications to the distributed app, unless we completely rebrand the app?

I just want to make this clear. Especially since we tend to patch things quite often to get builds to work - @krt is even doing it already to build the app.

[2016-07-19 16:32] CiaranG commented on #219
Definitely F-Droid has not received a license or agreed to the terms of any license.

[2016-07-19 16:34] mvdan commented on #219
I think we did receive one, but we never requested nor agreed to it.

[2016-07-19 16:55] bkerensa commented on #219
@mvdan in your response to your question we do not place any restrictions on your editing the app. Should edits harm the reputation of our brand we reserve the right to revoke the branding license.

This setup is not unique and many major open source projects including apps you already distribute have the same policy.

Our position on our brand is very similar to Mozilla's and you already distribu

[2016-07-19 16:57] bkerensa commented on #219
Also it might be helpful if we had one person we were working with at FDroid as I'm not sure who CiarinG is or his affiliation with your project. If we could have one maintainer downstream or one FDroid contact that might be an easier way to maintain communication with less confusion.

[2016-07-19 17:13] mvdan commented on #219
We've never agreed to any terms like these, so that's not the case. It might be because we didn't notice or because it wasn't brought to our attention, but that's a different matter.

We have none of those and we have no interest in dealing with any of this, which is why we're not agreeing to any such terms in the first place.

Keeping the existing apps up to date is enough work for our small team

[2016-07-19 17:15] mvdan commented on #219
And as said before, you are free to set up your own F-Droid repository. This is not a "this app will never be available on F-Droid", rather a "we don't want to deal with this ourselves in the long term".

[2016-07-19 17:44] bkerensa commented on #219
In regards to you not agreeing with upstream trademark policies that's not how it works. When you distribute you have agreed to any policies upstream. So until you stop distributing Mozilla Firefox your subject to their trademark policy and we take the same legally.

We are definitely sad you cannot agree to what we believe are very common sense protections for our end users. But legally we have a

[2016-07-19 17:49] bkerensa commented on #219
FWIW our policy is less restrictive btw:

"addition, if you are distributing Mozilla binaries yourself, and wish to use the Mozilla Mark(s), you may not (a) disable, modify or otherwise interfere with any installation mechanism contained in a Mozilla product; (b) use any such installation mechanism to install any plug-ins, themes, extensions, software, or items other than the Mozilla product; or (

[2016-07-20 07:30] bkerensa commented on #219
@mvdan

So I am curious what exactly is it about our policy is it that FDroid objects to?

https://f-droid.org/repository/browse/?fdcategory=Internet&fdid=org.adblockplus.android https://adblockplus.org/blog/adblock-plus-trademarks

https://f-droid.org/repository/browse/?fdid=com.github.dfa.diaspora_android
https://wiki.diasporafoundation.org/Trademark_guidelines

https://f-droid.org/repository/br

[2016-07-20 08:33] mvdan commented on #219
Nothing. If an app has a policy or rules we have to obey to publish it, we usually don't bother. This has happened in the past with upstreams who would get very upset if their apps were not kept up to date, or if we were distributing a version with less features since they required google play services.

As I said, we barely have the manpower to keep the existing apps up to date - https://f-droid.

[2016-07-20 09:07] bkerensa commented on #219
And so in this case were saying as long as nothing malicious occurs that could jeopardize our brand or put us at legal risk we would never consider revoking use of our trademark. I just hope our effort here is not in vain and that F-Droid will reconsider.

All the apps I mentioned above have rules and policies you must follow to publish but it seems you take no issue with their policies and freedo

[2016-07-20 20:25] betsythefc commented on #207
I like the idea @acesuares brings up. If there were one more text field for me to enter my insulin intake into, and a dropdown or text box for the type of insulin.

[2016-07-22 08:48] bkerensa commented on #207
Closing this as it is a duplicate of Bug #74

[2016-07-22 08:48] #207 closed

[2016-07-22 08:50] bkerensa commented on #74
@PaoloRotolo We still need to work on the UI for this and pull in @satya164 please have a look at Diabetes:M as a rough example of pill and insulin input we should try and fit another icon

[2016-07-23 08:35] emartynov opened #267 "Integrate sonar for better code quality"
We currently using codacy which provides similar functionality. The sonar is enterprise quality tool that I has less false positive and which is in our control

[2016-07-23 19:19] emartynov commented on #250
Pull request is merged. Closing issue

[2016-07-23 19:19] #250 closed

[2016-07-25 09:55] djKooks opened #269 "Unsupported major.minor version 52.0"
I got a problem when import project on Android Studio(2.1.2).
[code]
My jdk version is 1.8.0.
Does anyone know about same problem?

[2016-07-25 10:10] emartynov commented on #269
I'm surprised that you can use alpha version of android gradle plugin with stable version of android studio:

http://stackoverflow.com/questions/37466744/android-studio-continues-to-get-a-unsupported-major-minor-version-52-0

[2016-07-25 11:59] mvdan commented on #219
You're overcomplicating things. I said we do not want to take care of this. I invited you to open your own F-Droid repository, which then you can handle yourselves.

[2016-07-26 00:31] djKooks commented on #269
@emartynov Do I need to use stable gradle plugin?

[2016-07-26 02:50] satya164 commented on #74
![1 1-glucosio-add-types](https://cloud.githubusercontent.com/assets/1174278/17124580/ba9e3c1c-5309-11e6-8fb0-835e13af0546.png)

[2016-07-26 03:09] satya164 commented on #237
Here is an idea,

![11-rate-us-dialog](https://cloud.githubusercontent.com/assets/1174278/17124907/428cd10e-530c-11e6-8b09-a1b28ea281d9.png)

We ask for rating, if user gives 4-5 starts, we redirect to play store, if he gives a low rating, we ask for feedback

![12-feedback-dialog](https://cloud.githubusercontent.com/assets/1174278/17124924/5c83af9c-530c-11e6-8979-d083d70dddba.png)

This avoids lo

[2016-07-26 03:47] satya164 commented on #237
Not exactly review us dialog, but interestin - https://medium.com/budi-brain/designing-in-app-survey-6163304e88dd#.q401wpikn

[2016-07-26 06:48] bkerensa commented on #237
@elioqoshi feedback?

[2016-07-26 06:50] bkerensa commented on #253
@PaoloRotolo Any reason this was closed? We still do not have a resolution do we?

[2016-07-26 06:54] bkerensa commented on #74
Yeah and we might replace insulin with "Medication" so we can have a add dialog that does both pills and insulin in one dialog versus adding YAI (Yet Another Icon)

[2016-07-26 06:55] bkerensa commented on #74
Also on the menu we might put "Add new entry" instead of Add new reading" since medication is not a reading.

[2016-07-26 07:00] PaoloRotolo commented on #253
I thought I fixed it in that commit. Apparently new unsupported devices are coming out.

[2016-07-26 07:42] PaoloRotolo commented on #74
Looks good! @bkerensa can you provide additional info to put in "Medication" add dialog?

[2016-07-26 09:59] djKooks commented on #269
I just check the comment on gradle setting to fix version when using it.
[code]
It worked well after I changed gradle version to 2.1.2.
Thanks for help.

[2016-07-27 02:06] bkerensa commented on #74
Yes give me till this weekend still wrapping up family stuff then I can dedicate some time.

[2016-07-28 07:23] elioqoshi commented on #237
Checking out and working on a design

[2016-07-28 07:24] bkerensa commented on #237
Just one more thought on this we should seperate feedback from rate in app store as I do not want the user to be confused we are trying to deter bad feedback to a feedback form which could violate Google Play rules anyways.

And I think Elio can make us a slick design :)

[2016-07-28 07:49] elioqoshi commented on #237
![review 1](https://cloud.githubusercontent.com/assets/5436686/17204912/7078df52-54a8-11e6-8c2a-305fe3e3f774.jpg)
![review 2](https://cloud.githubusercontent.com/assets/5436686/17204913/7079f734-54a8-11e6-8400-32e7f1267c2c.jpg)
![review 3](https://cloud.githubusercontent.com/assets/5436686/17204911/70783dd6-54a8-11e6-8c90-afbbf915be0e.jpg)

I think the 3rd one is the best option here. What do you

[2016-07-28 07:52] bkerensa commented on #237
I like the 3rd one too and of course @PaoloRotolo when we implement this we need some logic so it is not nagging them more than once. We should nag only once maybe on 5th time they make an entry after two opens.

[2016-07-28 07:53] emartynov commented on #237
@satya164: what I see most of apps using trick like “Do you enjoy app?” and when user press “yes” they show dialog about rating

[2016-07-28 08:54] satya164 commented on #237
@emartynov Yeah, that could work too.

[2016-07-28 11:41] #263 closed

[2016-07-28 11:41] emartynov commented on #263
Closed with #263

[2016-07-28 11:43] emartynov commented on #269
Closing as not relevant!

[2016-07-28 11:43] #269 closed

[2016-07-28 11:45] emartynov opened #270 "Navigation back from edit leaves you on graph"
Steps:
 1. Go to history
 2. Select one of the readings and choose edit
 3. Finish editing or press back

Expected: to come back to the same screen where I was before.
Actual: I'm back to the graph.

[2016-07-28 11:50] #229 closed

[2016-07-28 11:51] bkerensa commented on #227
@PaoloRotolo @emartynov Can you check this list and make sure everything on it is complete if so we can close if not we can fix for 1.1.3.

[2016-07-28 11:52] bkerensa commented on #182
@Aeyoun How does evening meal differ from dinner?

[2016-07-28 11:52] bkerensa commented on #168
Fixed

[2016-07-28 11:52] #168 closed

[2016-07-28 11:52] bkerensa commented on #138
Fixed

[2016-07-28 11:52] #138 closed

[2016-07-28 11:53] #98 closed

[2016-07-28 11:53] #56 closed

[2016-07-28 11:54] #10 closed

[2016-07-30 10:24] elioqoshi commented on #219
@bkerensa I'd hate not to miss out on F-Droid. Can we proceed with this?

[2016-07-30 10:54] bkerensa commented on #219
@elioqoshi They asked us to make them a build that meets their requirements and said they would re-enable builds and we did that it was their choice to ultimately change their mind again.

We are an upstream and if F-Droid wants Glucosio available to their users the branch is there they are choosing not to re-enable it and offer it.

We cannot keep playing this back and forth with them it takes ti

[2016-07-31 17:45] #270 closed

[2016-08-01 04:18] Berlon opened #273 "Null Pointer Exception on click "back up now" button"
Delete

[2016-08-01 16:14] emartynov commented on #273
You mean it is not an issue?

[2016-08-01 16:32] Berlon commented on #273
Yes, it is not an issue. After having another look I copied the code wrong.
I was using the website and later used the Github code. They are different.
I resolved it. Thanks.

On Aug 1, 2016 9:14 AM, "Eugen Martynov" <notifications@github.com> wrote:

[2016-08-02 07:29] #273 closed

[2016-08-03 19:50] HarKoss opened #274 "It could be cool if we can add many entries in a row"
I here,

In some case, I've to enter more than one entry in the same time.
Before diner, for exemple:
  I add a glucose reading
  and sometime also a weight reading
  (and insulin when it will be avalable).

I've the idea, that we could keep the add yellow button on add page.
Like this :
![0_glucosio_add_glucose_with_add](https://cloud.githubusercontent.com/assets/20370098/17379698/d83a9854-59c3-1

[2016-08-04 07:36] bkerensa commented on #253
Closing this as looking at user email it appears they were running an older version we can reopen if this pops up with latest release

[2016-08-04 07:36] #253 closed

[2016-08-04 07:38] bkerensa commented on #239
@PaoloRotolo @emartynov I'd like you both to collaborate on this essentially we need the option to have automatic backups and the current manual and let end user configure whether they would like automatic or to just do it manually. We also need to make our current backup code plus automatic syncing code provider agnostic so we can easily hook in other storage providers like box.com or dropbox.com

[2016-08-04 08:11] satya164 commented on #274
Adding 2 FABs is confusing. I would go with something like a tiny button which says 'Add more readings'.

I'm not sure it's worth adding complexity to this screen though. It doesn't take that much effort to add 2-3 extra readings.

[2016-08-04 13:29] HarKoss commented on #274
Hi @satya164 ,

I agree about complexity. What about that:
![00 1_glucosio_add_glucose_with_add](https://cloud.githubusercontent.com/assets/20370098/17402132/d6bc8832-5a51-11e6-92a3-166e668b09fc.png) ![02 1_glucosio_add_glucose_and_weigth](https://cloud.githubusercontent.com/assets/20370098/17402136/dd0f1d58-5a51-11e6-811a-89a6609ce5a0.png)

My use case is a bit strange, because for now I use Diab

[2016-08-05 12:47] TonnesM opened #275 "Weight units in Settings view are displayed in English"
The units for weight (pounds, kilograms) appear to be displayed localized only when setting/changing them, but not in Settings view.

[2016-08-06 08:38] bkerensa commented on #275
@emartynov could you look into this and try and land a patch by our code freeze on Monday?

[2016-08-07 05:27] bkerensa commented on #237
@PaoloRotolo will this be ready for Monday code freeze or is it too late?

[2016-08-07 10:18] PaoloRotolo commented on #237
I can try, I'm also working on the new bottom sheet menu

[2016-08-07 20:03] emartynov commented on #275
Investigated and not sure if can fix it in one evening.

We are mixing unit value with unit representation. Should carefully review usage - displaying, selection, saving and calculations. And not only for weight but for other parameters.

[2016-08-08 08:20] bkerensa opened #276 "Add pirate support fer sea lovin' buckos"
Our sea lovin' mates need th' lust that Glucosio offers so we need to support our scurvy pirate buckos

[2016-08-11 08:06] bkerensa opened #280 "Migrate to depend MPAndroidChart to MPAndroidChart-Realm"
PhilJay now has a Realm MPAndroidChart Specific Library we might want to land this next release
https://github.com/PhilJay/MPAndroidChart-Realm/

[2016-08-12 08:47] bkerensa opened #282 "Bottom Sheet Menu Defect"
STR:

1. Click add icon
2. Bottom sheet menu comes up but bottom right text is obstructed
3. Swipe fully up it is visible now
4. Swipe down to hide bottom sheet menu
5. Tapping add icon no longer invokes bottom sheet menu

[2016-08-12 14:52] PaoloRotolo commented on #282
Fixed in latest build.

[2016-08-12 14:52] #282 closed

[2016-08-12 17:15] TonnesM opened #283 "Make sure locales can use (soft) hyphenation for added readings in bottom drawer"
Today’s daily build scared me a bit, as adding readings apparently may be changed so that (existing) strings will be displayed in a bottom drawer/matrix instead of on top of each other like the tooltips view. However, this causes 3 out of 6 strings to break/wrap at unwanted positions for my locale (14 characters), and possibly others that do not allow spaces in compound nouns, unlike English.

Can

[2016-08-12 18:03] emartynov commented on #283
Thanks for feedback. What is you locale?

[2016-08-12 18:41] TonnesM commented on #283
You’re welcome. It’s Dutch/nl - words that currently break are the 3 longest of course, i.e. Bloedsuikerspiegel, Lichaamsgewicht and Cholesterolspiegel. Allowed hyphenations would happen before "spiegel" and "gewicht", if only we knew how to (e.g using &shy;, &#173, \u00AD, etc.), or hardcoded.

[2016-08-13 10:12] bkerensa commented on #219
@PaoloRotolo as we look at our expansion to Chinese verticals in the next release cycle we can have this on discussion for core team to decide whether to maintain a F-Droid repo.

[2016-08-13 19:43] bkerensa opened #285 "Export doesn't export notes"
Export doesn't export notes

[2016-08-13 21:13] mvdan commented on #219
Since you did the flavour, how about we just publish it and forget about the whole terms thing. My only concern with it for our repo is that we don't have maintainers - as said, not enough people - and we can't guarantee that we will not break your conditions.

Then, if we do break them, simply tell us and we will see if that can be fixed - or the app dropped again. That means no extra work for us

[2016-08-14 06:24] bkerensa commented on #219
@mvdan We have to consistently protect our trademark I would not worry about us litigating your project we are underfunded and do not have the capital to hire an attorney to sue you guys if you did make a mistake. The only time we would ever enforce our license and revoke trademark use is if a negligent act were done that being you guys intentionally did something to harm our users or our brand wh

[2016-08-16 12:08] mvdan commented on #219
Okay then. I'm having some issues building without the Google maven repo installed though, might open an issue about that.

[2016-08-16 12:24] mvdan commented on #219
Oh, I was trying to build 1.2.0 and not from the foss branch. I can't do anything with it as it's not up to date with 1.2.0.

[2016-08-16 12:26] mvdan commented on #219
Also, it would help tremendously if you could tag foss releases too. This way we can enable automatic updates. Otherwise, we will have to manually check the branch HEAD for a commit hash and old builds are likely to break if you rebase on master instead of merging.

[2016-08-16 14:58] PaoloRotolo commented on #219
Good to hear @mvdan. I'll take care of updating the FOSS branch.

[2016-08-19 08:07] PaoloRotolo commented on #219
@mvdan Done, I've just released 1.2.0-FOSS. You can find it here: https://github.com/Glucosio/glucosio-android/releases/tag/1.2.0-foss

[2016-08-19 08:19] mvdan commented on #219
Hmm, there is `1.2.0-foss` and `1.2.0-FOSS`. They both point at the same commit, but which format will you be using?

[2016-08-19 08:19] mvdan commented on #219
(fingers crossed it's not the all caps one)

[2016-08-19 08:21] PaoloRotolo commented on #219
1.2.0-foss is the right one. The caps one was pointing to devel branch instead of foss-only.

[2016-08-19 08:22] mvdan commented on #219
Cool then. You might want to delete the all caps one just to avoid confusion.

[2016-08-19 08:48] PaoloRotolo commented on #219
Sure! So try to build from here, let me know if there're issues: https://github.com/Glucosio/glucosio-android/releases/tag/1.2.0-foss

[2016-08-19 09:49] mvdan commented on #219
`1.2.0-foss` contains the version `1.1.2-FOSS`, so that won't do.

[2016-08-19 12:58] PaoloRotolo commented on #219
Sorry I just realized ```build.gradle``` wasn't updated. Try now please.

[2016-08-19 18:40] TonnesM opened #288 "Settings only able to display Type 1 and Type 2, Preferred range may also fail"
When changing the diabetes type from Type 1 to either Gestational or LADA, Type 2 is always displayed as a result. Not sure how it't treated by the app, but it should of course display either Gestational or LADA.

This happens when e.g. type 2 was chosen during install. When choosing Gestational during install however, it shows "Type 3" afterwards in Settings, but then the same thing happens when

[2016-08-20 09:10] bkerensa commented on #288
Please file the preferred range as a separate issue.

Thanks

[2016-08-20 10:02] TonnesM opened #289 "Preferred range not displayed in Settings when selected"
(originated from issue #288)

In Settings screen, the Preferred range does not display what's been selected, nor if that's remembered correctly. Any change in units may also fail since the Min and Max value don't change / remain grayed out when selecting Custom range.

[2016-08-20 10:10] TonnesM commented on #288
I should have known. ;) See #289.

[2016-08-20 17:21] mvdan commented on #219
@PaoloRotolo works now, update should be out tomorrow

[2016-08-20 17:31] PaoloRotolo commented on #219
@mvdan nice!

[2016-08-22 15:41] PaoloRotolo commented on #219
@mvdan I can see Glucosio on F-Droid right now. https://f-droid.org/app/org.glucosio.android
If it's all good, can we close the issue?

[2016-08-22 16:08] PaoloRotolo commented on #219
@mvdan Looks like there were an issue building the latest version (the version on F-Droid is the 1.1.2-FOSS, added on 2016-07-19).

[2016-08-22 20:11] mvdan commented on #219
@PaoloRotolo yeah, see https://f-droid.org/wiki/page/org.glucosio.android/lastbuild_34. I'm away at the moment, will look into it tomorrow. You can close this issue if you want, this is just a build issue on our end.

[2016-08-22 20:13] PaoloRotolo commented on #219
@mvdan Cool. Nice that we sorted this out and thanks for your efforts.

[2016-08-22 20:15] mvdan commented on #219
If in the future you have any issues, you can either open an issue here and ping me and/or @krt16s or you can open an issue here: https://gitlab.com/fdroid/fdroiddata/issues

We prefer the latter since it doesn't limit the pinging to us two.

[2016-08-23 09:24] mvdan commented on #219
@PaoloRotolo so the issue is that you force Gradle 2.13 via `gradleVersion` but you use a newer plugin version that requires 2.14.1 or newer. This results in us using 2.13 and this:

[code]

[2016-08-23 19:57] PaoloRotolo commented on #219
That's strange, it built fine on our machines and CI (https://travis-ci.org/Glucosio/glucosio-android/builds/153553307).
I will have a look at it anyway.

[2016-08-26 18:53] PaoloRotolo opened #290 "CSV export's layout is broken when exporting in mmol"
From Glucosio's mail:
I have found the problem what i have while exporting CSV. When in app you set readings in mg/dl and export it to CSV, you get like you sent on the screenshot.
But when readings in settings are set to mmol/ml then in export there is a problem like i have.

Thanx

[2016-08-27 10:53] Muges commented on #253
I still have this issue with the latest version from F-Droid. When I try to export in a csv file a snackbar with the message "No readings to export." is displayed, and an empty CSV file is created.

Glucosio version: 1.2.0-FOSS from F-Droid
Device: Nexus 4
OS: Android 5.1.1 (Omnirom 20160108)

[2016-08-29 03:01] #288 closed

[2016-08-29 11:32] #290 closed

[2016-08-29 16:40] PaoloRotolo commented on #219
Hey @mvdan, sorry for my delay but we were planning a bugfix release this weekend. I have updated the foss branch as well with tag 1.2.1-foss.

https://github.com/Glucosio/glucosio-android/releases/tag/1.2.1-foss

[2016-09-08 10:49] JoaquimLey opened #294 "Open source libraries blocker when offline"
### Steps to reproduce
1. Enter the app
2. Go to _About Glucosio_
3. Turn off your internet connection
4. Click on _Open source libraries_

### Expected behaviour
User should be able to see which Open source libraries are open

### Actual behaviour
You get a no connection on the webview, user is not able to "Pull to Refresh" even if he's online, must exit and re-enter the Activity/Fragment.

**Wha

[2016-09-11 10:55] goldleon opened #297 "Hello View and Settings display only English"
How Can I add more languages to display in the languages select?

[2016-09-11 21:53] emartynov commented on #297
Which language do you want to add?

[2016-09-11 22:43] goldleon commented on #297
I want to add arabic and french please

[2016-09-13 09:54] TonnesM commented on #283
Any news on this? Can hyphenation be used and how, and if not, how about just adding separate strings for the new ones to use hard hyphens? I think this should definitely be fixed in v.next (and not have been included in v.current.)

[2016-09-13 10:24] emartynov commented on #283
It is not yet prioritised. I've checked tech part for android:

- http://stackoverflow.com/questions/4454911/hyphenation-in-android
- https://developer.android.com/reference/android/widget/TextView.html#attr_android:hyphenationFrequency
- https://code.google.com/p/android/issues/detail?id=25755

Still don't have clear picture how to implement it. I will do small spike about it this weekend.

[2016-09-13 17:08] alexsimo commented on #294
There should be something like a "no connection" view or just cache the html.
Which would be more suitable?

[2016-09-14 08:29] satya164 commented on #294
We should just cache the HTML I think

[2016-09-14 08:40] alexsimo commented on #294
Ok! I'll get working on this issue tonight

[2016-09-21 06:41] #285 closed

[2016-09-21 17:54] edda92 commented on #289
Hi guys! i'm taking care of it!

[2016-09-21 20:08] JoaquimLey commented on #239
@bkerensa If both @PaoloRotolo  and @emartynov haven't started on this I could take this feature up. It will envolve a lot of code refactoring though especially on the [BackupActivity](https://github.com/Glucosio/glucosio-android/blob/develop/app/src/main/java/org/glucosio/android/activity/BackupActivity.java).